<% include adminPartials/header.ejs %>

<h3>All Participants</h3>
<h5>Under Construction</h5>

<table class="responsive-table">
    <thead>
    <tr>
        <th>Event</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>College</th>
        <th>Degree</th>
        <th>Branch</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>name%></td>
        <td>email%></td>
        <td>phone%></td>
        <td>college%></td>
        <td>degree%></td>
        <td>branch%></td>
        <td>year%></td>
    </tr>
    </tbody>
</table>


<% include adminPartials/footer.ejs %>