<% include adminPartials/header.ejs %>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>College</th>
        <th>Degree</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Alvin</td>
        <td>Alvin@gmail.com</td>
        <td>123123213</td>
        <td>Eclair</td>
        <td>dsfsdfsdfsdf</td>
    </tr>
    </tbody>
</table>


<% include adminPartials/footer.ejs %>