<div class="container">
    <!-- <nav>
        <a>About</a>
        <a href="projects/index.html">Projects</a>
        <a href="team/index.html">Team</a>
        <a href="join/index.html">Join</a> 
        <a href="blog/index.html">Blog</a> 
        <a href="media/index.html">Media</a>
    </nav> -->
    <!-- <ul>
        <li><a class="ico-social ico-twitter" href="https://twitter.com/protocollabs" target="_blank"></a>
        <li><a class="ico-social ico-linked_in" href="https://www.linkedin.com/company-beta/16181958" target="_blank"></a>
    </ul> -->
    <h3 style="margin: 0 auto;">Footer</h3>
</div>