<div id="test2">
    <nav class="nav-bar">
            <div  class="open"  id="navbar">
                <span class="cls"></span>
                <span>
                <ul class="sub-menu">
                    <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="/about">About Us</a>
                    </li>
                    <li>
                    <a href="/events">Events</a>
                    </li>
                    <li>
                    <a href="/schedule">Schedule</a>
                    </li>
                    <li>
                    <a href="/sponsers">Sponsors</a>
                    </li>
                    <li>
                        <a href="/signIn">Login</a>
                    </li>
                    <li>
                    <a href="/contact">Contact Us</a>
                    </li>
                </ul>
                </span>
                <span class="cls"></span>
                <div class="nav-bar-2"></div>
            </div>
        </nav>
</div>