<div id="test2">
    <nav class="nav-bar">
            <div  class="open"  id="navbar">
                <span class="cls"></span>
                <span>
                <ul class="sub-menu ">
                    <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="/About">About Us</a>
                    </li>
                    <li>
                    <a href="/Events">Events</a>
                    </li>
                    <li>
                    <a href="/Schedule">Schedule</a>
                    </li>
                    <li>
                    <a href="/Sponsers">Sponsors</a>
                    </li>
                    <li>
                    <a href="/Contact">Contact Us</a>
                    </li>
                </ul>
                </span>
                <span class="cls"></span>
                <div class="nav-bar-2"></div>
            </div>
        </nav>
</div>