<div id="test2">
    <nav class="nav-bar">
        <div  class="open"  id="navbar">
            <span class="cls"></span>
            <span>
            <ul class="sub-menu">
                <li>
                <a href="/">Home</a>
                </li>
                <li>
                <a href="/about">About Us</a>
                </li>
                <li>
                <a href="/events">Events</a>
                </li>
                <li>
                <a href="/schedule">Schedule</a>
                </li>
                <li>
                <a href="/sponsors">Sponsors</a>
                </li>
                <li>
                <a href="/contact">Contact Us</a>
                </li>
                <%if(loggedIn){%>
                <li>
                <a href="/user/dashboard">My Infox</a>
                </li>
                <%}else{%>
                <li>
                    <a id= "login2">Login</a>
                </li>
                <%}%>
            </ul>
            </span>
            <span class="cls"></span>
            <div class="nav-bar-2"></div>
        </div>
    </nav>
</div>