<div id="test2">
    <nav class="nav-bar">
            <div  class="open"  id="navbar">
                <span class="cls"></span>
                <span>
                <ul class="sub-menu ">
                    <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="/team">About</a>
                    </li>
                    <li>
                    <a href="/projects">Events</a>
                    </li>
                    <li>
                    <a href="/join">Join</a>
                    </li>
                    <li>
                    <a href="/blog">Blog</a>
                    </li>
                    <li>
                    <a href="/media">Media</a>
                    </li>
                </ul>
                </span>
                <span class="cls"></span>
                <div class="nav-bar-2"></div>
            </div>
        </nav>
</div>