<nav>
    <div class="scroller">
        <div>
            <a href="/">About</a>
            <a href="/projects">Projects</a>
            <a href="/team">Team</a>
            <a href="/join">Join</a>
            <a href="/blog">Blog</a>
            <a href="/media">Media</a>
        </div>
    </div>
    <a class="close-menu"><div class="hamburger"><span></span></div></a>
</nav>