<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="HandheldFriendly" content="true">

  <link rel="icon" href="fav.png" sizes="16x16">
  <link rel="manifest" href="manifest.json">

<link href="css/main.css" rel="stylesheet">
<link href="css/10_pieces.css" rel="stylesheet">
<link rel="stylesheet" href="css/mywork.css" type="text/css">
<link rel="stylesheet" href="css/mobile-menu.css" type="text/css">
<link href="css/timer.css" rel="stylesheet">
<link href="css/scrollbar.css" rel="stylesheet">
<link rel="stylesheet" href="css/preloader.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="css/simple-ripple.css">
<!-- favicon -->
<link rel="icon" type="image/png" href="fav.png">
<script type="text/javascript" src="js/jquery.1.8.3.min.js"></script>
<script type="text/javascript" src="js/mobile-menu.js"></script>



<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-96910779-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='../www.google-analytics.com/analytics.js'></script>

<script type="text/javascript" src="http://www.thepetedesign.com/demos/tiltedpage_scroll/jquery.tiltedpage-scroll.js"></script>
<link href='http://www.thepetedesign.com/demos/tiltedpage_scroll/tiltedpage-scroll.css' rel='stylesheet' type='text/css'>

<script>
  $(document).ready(function() {
  //Preloader
  $(window).on("load", function() {
  preloaderFadeOutTime = 500;
  function hidePreloader() {
  var preloader = $('.spinner-wrapper');
  preloader.fadeOut(preloaderFadeOutTime);
  }
  hidePreloader();
  });
  });
  </script>


  <title>Infox</title>
</head>