<div class="show-modal">
    <div class="login-modal-bg"></div>
    <div class="login-modal">
        <div class="login-modal-cross">X</div>
        <div class="login-modal-content">
            <div class="login-modal-logo">
                <img src="/fav.png" alt="">
            </div>
            <!-- <div class="modal-text">Infoxpression</div> -->
            <div class="modal-text-2">Login using</div>
            <div class="login-options">
                <div class="goog">
                    <i class="fab fa-google-plus-g"></i>
                </div>
                <div class="face">
                    <i class="fab fa-facebook-f"></i>
                </div>
            </div>
        </div>
    </div>
</div>