<div class="show-modal">
    <div class="login-modal-bg"></div>
    <div class="login-modal">
        <div class="login-modal-cross">X</div>
        <div class="login-modal-content">
            <div class="login-modal-logo">
                <img src="/fav.png" alt="">
            </div>
            <!-- <div class="modal-text">Infoxpression</div> -->
            <div class="modal-text-2">Let's Join Hands</div>
            <div class="login-options">
                <div class="goog">
                    <a class="button-des" href="/auth/google"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <div class="face">
                    <a class="button-des" href="/auth/facebook"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    .button-des{
        text-decoration: none;
        color: white;
        width: 100%;
        text-align: CENTER;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

</style>