<!-- <nav>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/events">Events</a>
</nav>
<a class="logotype"><svg viewBox="0 0 64.9 63.6"><use xlink:href="#logotype"/></svg></a>
<div class="mobile">
  <a class="logotype"><svg viewBox="0 0 64.9 63.6"><use xlink:href="#logotype"/></svg><span>Protocol Labs</span></a>
  <a class="open-menu"><div class="hamburger"><span></span></div></a>
</div>
<nav>
    <a href="/schedule">Schedule</a>
    <a href="/sponsers">Sponsers</a>
    <a href="/contact">Contact Us</a> 
</nav> -->
