<nav>
    <a href="/about">About Us</a>
    <a href="/events">Events</a>
    <!-- <a href="/">Home</a> -->
    <a href="/schedule">Schedule</a>
</nav>
<a class="logotype" href="/">
    <!-- <svg viewBox="0 0 64.9 63.6"><use xlink:href="#logotype"/></svg> -->
    <img src="img/logo.png" alt="infox" style="align-self: center; height: 100px; width: 100px; margin-top: -10px;">
</a>
<div class="mobile">
  <a class="logotype"><svg viewBox="0 0 64.9 63.6"><use xlink:href="#logotype"/></svg><span>Protocol Labs</span></a>
  <a class="open-menu"><div class="hamburger"><span></span></div></a>
</div>
<nav>
    <!-- <a href="/schedule">Schedule</a> -->
    <a href="/sponsers">Sponsors</a>
    <a href="/contact">Contact Us</a>
    <a href="/signIn">Login</a> 
</nav>
