<div id="test">
    <div class="nav-bar-new">
        <div class="nav-bar-item"><a class="nav-title" href="/about">About</a><div class="line2"></div></div>
        <div class="nav-bar-item"><a class="nav-title" href="/events">Events</a><div class="line2"></div></div>
        <div class="nav-bar-item"><a class="nav-title" href="/comingsoon">Schedule</a><div class="line2"></div></div>
        <div class="nav-bar-item"><a class="nav-title" href="/"><img src="/obj/logo1.svg" alt=""></a><div class="line2"></div></div>
        <div class="nav-bar-item"><a class="nav-title" href="/comingsoon">Sponsors</a><div class="line2"></div></div>
        <div class="nav-bar-item"><a class="nav-title" href="/contact">Contact</a><div class="line2"></div></div>
        <div class="nav-bar-item"><a class="nav-title" href="#">LogIn</a><div class="line2"></div></div>
    </div>
</div>