<div id="countup">
    <div class="part"><div id="d"></div></div>
    <div class="part"><div id="h"></div></div>
    <div class="part"><div id="m"></div></div>
    <div class="part"><div id="s"></div></div>
</div>