  .wrapper_container div {
    transform:scale(0.6);
    cursor: pointer;
    position: absolute;
  }


  .wrapper_container{
      position: relative;
      background-color:white;
      -webkit-clip-path: polygon(48.78% .24%, 48.48% .39%, 1.65% 23.98%, 1.35% 24.13%, 1.05% 24.28%, .79% 24.47%, .56% 24.7%, .37% 24.95%, .21% 25.22%, .1% 25.5%, .02% 25.8%, .02% 26.1%, 0 74.01%, .04% 74.31%, .13% 74.6%, .26% 74.88%, .43% 75.14%, .64% 75.38%, .87% 75.6%, 1.15% 75.77%, 1.45% 75.92%, 48.58% 99.66%, 48.89% 99.8%, 49.21% 99.91%, 49.55% 99.97%, 49.89% 100%, 50.23% 100%, 50.57% 99.96%, 50.91% 99.89%, 51.23% 99.78%, 51.53% 99.63%, 98.35% 76.03%, 98.65% 75.88%, 98.94% 75.72%, 99.21% 75.53%, 99.43% 75.3%, 99.63% 75.05%, 99.78% 74.79%, 99.9% 74.5%, 99.98% 74.21%, 100% 73.91%, 100% 26.3%, 100% 26%, 99.96% 25.7%, 99.86% 25.41%, 99.73% 25.13%, 99.56% 24.87%, 99.36% 24.62%, 99.12% 24.41%, 98.85% 24.23%, 98.55% 24.08%, 51.43% .32%, 51.12% .18%, 50.8% .08%, 50.46% .02%, 50.12% 0, 49.77% .01%, 49.43% .05%, 49.1% .12%, 48.78% .24%);
      clip-path: polygon(48.78% .24%, 48.48% .39%, 1.65% 23.98%, 1.35% 24.13%, 1.05% 24.28%, .79% 24.47%, .56% 24.7%, .37% 24.95%, .21% 25.22%, .1% 25.5%, .02% 25.8%, .02% 26.1%, 0 74.01%, .04% 74.31%, .13% 74.6%, .26% 74.88%, .43% 75.14%, .64% 75.38%, .87% 75.6%, 1.15% 75.77%, 1.45% 75.92%, 48.58% 99.66%, 48.89% 99.8%, 49.21% 99.91%, 49.55% 99.97%, 49.89% 100%, 50.23% 100%, 50.57% 99.96%, 50.91% 99.89%, 51.23% 99.78%, 51.53% 99.63%, 98.35% 76.03%, 98.65% 75.88%, 98.94% 75.72%, 99.21% 75.53%, 99.43% 75.3%, 99.63% 75.05%, 99.78% 74.79%, 99.9% 74.5%, 99.98% 74.21%, 100% 73.91%, 100% 26.3%, 100% 26%, 99.96% 25.7%, 99.86% 25.41%, 99.73% 25.13%, 99.56% 24.87%, 99.36% 24.62%, 99.12% 24.41%, 98.85% 24.23%, 98.55% 24.08%, 51.43% .32%, 51.12% .18%, 50.8% .08%, 50.46% .02%, 50.12% 0, 49.77% .01%, 49.43% .05%, 49.1% .12%, 48.78% .24%);
    /*top:-150px; */
      height: 450px;
      width: 400px;
      display:flex;
      align-items: center;
      justify-content: center;
      /* flex-wrap:wrap; */
  }

.div1 {
    z-index: 1;
    width: 322px;
    height: 515px;
    background: #00ff00;
    clip-path: polygon(65% 14%, 59% 10%, 52% 14%);
    animation: one 20s ease-in-out 0.1s infinite;
}

  .div2 {
    z-index: 1;
    width: 322px;
    height: 515px;
    background: #00ff00;
    clip-path: polygon(48% 14%, 42% 10%, 36% 14%);
    animation: two 20s ease-in-out 0.2s infinite;
  }

  .div3 {
    width: 322px;
    height: 515px;
    background: #1A1A1A;
    clip-path: polygon(77% 16%, 50% 0, 23% 16%);
    animation: three 20s ease-in-out 0.3s infinite;
  }

  .div4 {
    width: 322px;
    height: 515px;
    background: #666666;
    clip-path: polygon(77% 16%, 51% 32%, 23% 16%);  
    animation: four 20s ease-in-out 0.4s infinite;
}

  .div5 {
    width: 322px;
    height: 515px;
    background: #b3b3b3;
    clip-path: polygon(18% 43%, 3% 84%, 0 52%);
    animation: five 20s ease-in-out 0.5s infinite;  
}

  .div6 {
    width: 322px;
    height: 515px;
    background: #ba0000;
    clip-path: polygon(13% 62%, 50% 100%, 19% 43%);
    animation: six 20s ease-in-out 0.6s infinite;  
}

  .div7 {
    width: 322px;
    height: 515px;
    background: #990000;
    clip-path: polygon(50% 34%, 81% 43%, 19% 43%);
    animation:  seven 20s ease-in-out 0.7s infinite;  
}

  .div8 {
    width: 322px;
    height: 515px;
    background: red;
    clip-path: polygon(50% 100%, 81% 43%, 19% 43%);
    animation: eight 20s ease-in-out 0.8s infinite;
}

  .div9 {
    width: 322px;
    height: 515px;
    background: orange;
    clip-path: polygon(50% 100%, 87% 60%, 81% 43%);
    animation: nine 20s ease-in-out 0.9s infinite;  
}

.div10{
    width:322px;
    height: 515px;
    background-color:#e6e6e6;
    clip-path: polygon(97% 82%, 82% 43%, 100% 53%);
    animation: ten 20s ease-in-out 1s infinite;
}
  
  @keyframes one {
    13% {
        width: 493px;
        height: 346px;
        background: black;
        clip-path: polygon(74% 0, 74% 66%, 42% 32%);
    }
    30%{
        width: 493px;
        height: 346px;
        background: black;
        clip-path: polygon(74% 0, 74% 66%, 42% 32%);
    }
    33%{
        width: 466px;
        height: 397px;
        background: black;
        clip-path: polygon(79% 45%, 79% 38%, 76% 39%);
    }
    50%{
        width: 466px;
        height: 397px;
        background: black;
        clip-path: polygon(79% 45%, 79% 38%, 76% 39%);
    }
    53%{
        width: 643px;
        height: 302px;
        background: #1a1a1a;
        clip-path: polygon(77% 0, 0 0, 0 98%);

    }
    70%{
        width: 643px;
        height: 302px;
        background: #1a1a1a;
        clip-path: polygon(77% 0, 0 0, 0 98%);
    }
    73%{
        width: 376px;
        height: 365px;
        background: rgb(255, 255, 0);
        clip-path: polygon(58% 38%, 62% 0, 75% 25%);

    }
    90%{
        width: 376px;
        height: 365px;
        background: rgb(255, 255, 0);
        clip-path: polygon(58% 38%, 62% 0, 75% 25%);

    }
    93%{
        width: 322px;
        height: 515px;
        background: #00ff00;
        clip-path: polygon(65% 14%, 59% 10%, 52% 14%);
    }
    10%{
        width: 322px;
        height: 515px;
        background: #00ff00;
        clip-path: polygon(65% 14%, 59% 10%, 52% 14%);
    }
  }

  @keyframes two {
    13% {
        width: 493px;
        height: 346px;
        background: #1a1a1a;
        clip-path: polygon(8% 67%, 74% 66%, 42% 32%);
    }
    30%{
        width: 493px;
        height: 346px;
        background: #1a1a1a;
        clip-path: polygon(8% 67%, 74% 66%, 42% 32%);
    }
    33%{
        width: 466px;
        height: 397px;
        background: #7a3d00;
        clip-path: polygon(100% 21%, 78% 0, 45% 54%);
    }
    50%{
        width: 466px;
        height: 397px;
        background: #7a3d00;
        clip-path: polygon(100% 21%, 78% 0, 45% 54%);
    }
    53%{
        width: 643px;
        height: 302px;  
        background: #333333;
        clip-path: polygon(77% -0.1%, 78% 97%, -0.1% 98%);
    }
    70%{
        width: 643px;
        height: 302px;  
        background: #333333;
        clip-path: polygon(77% -0.1%, 78% 97%, -0.1% 98%);
    }
    73%{
        width: 376px;
        height: 365px;
        background: rgb(255, 255, 132);
        clip-path: polygon(57% 51%, 62% 0, 40% 0);
    }
    90%{
        width: 376px;
        height: 365px;
        background: rgb(255, 255, 132);
        clip-path: polygon(57% 51%, 62% 0, 40% 0);
    }
    93%{
        width: 322px;
        height: 515px;
        background: #00ff00;
        clip-path: polygon(48% 14%, 42% 10%, 36% 14%);
    }
    10%{
        width: 322px;
        height: 515px;
        background: #00ff00;
        clip-path: polygon(48% 14%, 42% 10%, 36% 14%);
    }
  }

  @keyframes three {
    13% {
        width: 493px;
        height: 346px;
        background: #333333;
        clip-path: polygon(8% 67%, 9% 0, 74% 0);
    }
    30%{
        width: 493px;
        height: 346px;
        background: #333333;
        clip-path: polygon(8% 67%, 9% 0, 74% 0);
    }
    33%{
        width: 466px;
        height: 397px;
        background: #663300;
        clip-path: polygon(22% 8%, 78% 0, 46% 55%);
    }
    50%{
        width: 466px;
        height: 397px;
        background: #663300;
        clip-path: polygon(22% 8%, 78% 0, 46% 55%);
    }
    53%{
        width: 643px;
        height: 302px;
        background:rgb(0, 187, 0); 
        clip-path: polygon(95% 80%, 92% 100%, 92% 84%);
    }
    70%{
        width: 643px;
        height: 302px;
        background:rgb(0, 187, 0); 
        clip-path: polygon(95% 80%, 92% 100%, 92% 84%);
    }
    73%{
        width: 376px;
        height: 365px;
        background:darkred; 
        clip-path: polygon(55% 53%, 43% 56%, 44% 53%);
    }
    90%{
        width: 376px;
        height: 365px;
        background:darkred; 
        clip-path: polygon(55% 53%, 43% 56%, 44% 53%);
    }
    93%{
        width: 322px;
        height: 515px;
        background: #1A1A1A;
        clip-path: polygon(77% 16%, 50% 0, 23% 16%);
    }
    10%{
        width: 322px;
        height: 515px;
        background: #1A1A1A;
        clip-path: polygon(77% 16%, 50% 0, 23% 16%);
    }
  }

  @keyframes four {
    13% {
        width: 493px;
        height: 346px;
        background: red;
        clip-path: polygon(41% 72%, 35% 66%, 47% 66%);
    }
    30%{
        width: 493px;
        height: 346px;
        background: red;
        clip-path: polygon(41% 72%, 35% 66%, 47% 66%);
    }
    33%{
        width: 466px;
        height: 397px;
        background: rgb(255, 123, 34);
        clip-path: polygon(45% 54%, 100% 47%, 100% 21%);
    }
    50%{
        width: 466px;
        height: 397px;
        background: rgb(255, 123, 34);
        clip-path: polygon(45% 54%, 100% 47%, 100% 21%);
    }
    53%{
        width: 643px;
        height: 302px;
        background: lawngreen;
        clip-path: polygon(90% 84%, 90% 100%, 87% 80%);
    }
    70%{
        width: 643px;
        height: 302px;
        background: lawngreen;
        clip-path: polygon(90% 84%, 90% 100%, 87% 80%);
    }
    73%{
        width: 376px;
        height: 365px;
        background: brown;
        clip-path: polygon(58% 53%, 46% 56%, 56% 56%);
    }
    90%{
        width: 376px;
        height: 365px;
        background: brown;
        clip-path: polygon(58% 53%, 46% 56%, 56% 56%);
    }
    93%{
        width: 322px;
        height: 515px;
        background: #666666;
        clip-path: polygon(77% 16%, 51% 32%, 23% 16%);
    }
    10%{
        width: 322px;
        height: 515px;
        background: #666666;
        clip-path: polygon(77% 16%, 51% 32%, 23% 16%);
    }
  }

  @keyframes five {
    13% {
        width: 493px;
        height: 346px;
        background: #4d4d4d;
        clip-path: polygon(10% 82%, 0 100%, 73% 83%);
    }
    30%{
        width: 493px;
        height: 346px;
        background: #4d4d4d;
        clip-path: polygon(10% 82%, 0 100%, 73% 83%);
    }
    33%{
        width: 466px;
        height: 397px;
        background: #3c1e00;;
        clip-path: polygon(22% 8%, -1% 34%, 46% 55%); 
    }
    50%{
        width: 466px;
        height: 397px;
        background: #3c1e00;;
        clip-path: polygon(22% 8%, -1% 34%, 46% 55%); 
    }
    53%{
        width: 643px;
        height: 302px;
        background:rgb(0, 187, 0);
        clip-path: polygon(91% 42%, 95% 50%, 91% 56%);
    }
    70%{
        width: 643px;
        height: 302px;
        background:rgb(0, 187, 0);
        clip-path: polygon(91% 42%, 95% 50%, 91% 56%);
    }
    73%{
        width: 376px;
        height: 365px;
        background:yellow;
        clip-path: polygon(57% 51%, 26% 22%, 40% 0);
    }
    90%{
        width: 376px;
        height: 365px;
        background:yellow;
        clip-path: polygon(57% 51%, 26% 22%, 40% 0);
    }
    93%{
        width: 322px;
        height: 515px;
        background: #b3b3b3;
        clip-path: polygon(18% 43%, 3% 84%, 0 52%);
    }
    10%{
        width: 322px;
        height: 515px;
        background: #b3b3b3;
        clip-path: polygon(18% 43%, 3% 84%, 0 52%);
    }
  }

  @keyframes six {
    13% {
        width: 493px;
        height: 346px;
        background: #333;
        clip-path: polygon(40% 100%, 0 100%, 73% 83%);
    }
    30%{
        width: 493px;
        height: 346px;
        background: #333;
        clip-path: polygon(40% 100%, 0 100%, 73% 83%);
    }
    33%{
        width: 466px;
        height: 397px;
        background: #9e2800;
        clip-path: polygon(0 33%, 0 60%, 45% 100%);
    }
    50%{
        width: 466px;
        height: 397px;
        background: #9e2800;
        clip-path: polygon(0 33%, 0 60%, 45% 100%);
    }
    53%{
        width: 643px;
        height: 302px;
        background: lawngreen;
        clip-path: polygon(91% 42%, 87% 50%, 91% 56%);
    }
    70%{
        width: 643px;
        height: 302px;
        background: lawngreen;
        clip-path: polygon(91% 42%, 87% 50%, 91% 56%);
    }
    73%{
        width: 376px;
        height: 365px;
        background: rgb(255, 208, 0);
        clip-path: polygon(57% 51%, 41% 36%, 42% 50%);
    }
    90%{
        width: 376px;
        height: 365px;
        background: rgb(255, 208, 0);
        clip-path: polygon(57% 51%, 41% 36%, 42% 50%);
    }
    93%{
        width: 322px;
        height: 515px;
        background: #ba0000;
        clip-path: polygon(13% 62%, 50% 100%, 19% 43%);
    }
    10%{
        width: 322px;
        height: 515px;
        background: #ba0000;
        clip-path: polygon(13% 62%, 50% 100%, 19% 43%);
    }
  }

  @keyframes seven {
    13% {
        width: 493px;        
        height: 346px;
        background: #1a1a1a;
        clip-path: polygon(40% 100%, 81% 100%, 73% 83%);
    }
    30%{
        width: 493px;        
        height: 346px;
        background: #1a1a1a;
        clip-path: polygon(40% 100%, 81% 100%, 73% 83%);
    }
    33%{
        width: 466px;
        height: 397px;
        background: #cc3300;
        clip-path: polygon(0 33%, 45% 54%, 45% 100%);
    }
    50%{
        width: 466px;
        height: 397px;
        background: #cc3300;
        clip-path: polygon(0 33%, 45% 54%, 45% 100%);
    }
    53%{
        width: 643px;
        height: 302px;
        background: lawngreen;
        clip-path: polygon(85% 52%, 79% 53%, 91% 56%);
    }
    70%{
        width: 643px;
        height: 302px;
        background: lawngreen;
        clip-path: polygon(85% 52%, 79% 53%, 91% 56%);
    }
    73%{
        width: 376px;
        height: 365px;
        background: black;
        clip-path: polygon(50.5% 100%, 0 77%, 24% 54%);
    }
    90%{
        width: 376px;
        height: 365px;
        background: black;
        clip-path: polygon(50.5% 100%, 0 77%, 24% 54%);
    }
    93%{
        width: 322px;
        height: 515px;
        background: #990000;
        clip-path: polygon(50% 34%, 81% 43%, 19% 43%);
    }
    10%{
        width: 322px;
        height: 515px;
        background: #990000;
        clip-path: polygon(50% 34%, 81% 43%, 19% 43%);
    }
  }

  @keyframes eight {
    13% {
        width: 493px;
        height: 346px;
        background: #1A1A1A;
        clip-path: polygon(84% 88%, 80% 93%, 90% 87%);
    }
    30%{
        width: 493px;
        height: 346px;
        background: #1A1A1A;
        clip-path: polygon(84% 88%, 80% 93%, 90% 87%);
    }
    33%{
        width: 466px;
        height: 397px;
        background: rgb(245, 65, 0);
        clip-path: polygon(74% 50%, 45% 54%, 45% 100%);
    }
    50%{
        width: 466px;
        height: 397px;
        background: rgb(245, 65, 0);
        clip-path: polygon(74% 50%, 45% 54%, 45% 100%);
    }
    53%{
        width: 643px;
        height: 302px;
        background: rgb(255, 111, 59);
        clip-path: polygon(85% 77%, 91% 84%, 91% 55%);
    }
    70%{
        width: 643px;
        height: 302px;
        background: rgb(255, 111, 59);
        clip-path: polygon(85% 77%, 91% 84%, 91% 55%);
    }
    73%{
        width: 376px;
        height: 365px;
        background: #1a1a1a;
        clip-path: polygon(45% 91%, 50% 59%, 24% 54%);
    }
    90%{
        width: 376px;
        height: 365px;
        background: #1a1a1a;
        clip-path: polygon(45% 91%, 50% 59%, 24% 54%);
    }
    93%{
        width: 322px;
        height: 515px;
        background: red;
        clip-path: polygon(50% 100%, 81% 43%, 19% 43%);
    }
    10%{
        width: 322px;
        height: 515px;
        background: red;
        clip-path: polygon(50% 100%, 81% 43%, 19% 43%);
    }
  }

  @keyframes nine {
    13% {
        width: 493px;    
        height: 346px;
        background: red;
        clip-path: polygon(96% 100%, 80% 93%, 90% 87%);
    }
    30%{
        width: 493px;    
        height: 346px;
        background: red;
        clip-path: polygon(96% 100%, 80% 93%, 90% 87%);
    }
    33%{
        width: 466px;
        height: 397px;
        background: rgb(255, 77, 13);
        clip-path: polygon(100% 47%, 73% 50%, 45% 100%);
    }
    50%{
        width: 466px;
        height: 397px;
        background: rgb(255, 77, 13);
        clip-path: polygon(100% 47%, 73% 50%, 45% 100%);
    }
    53%{
        width: 643px;
        height: 302px;
        background: rgb(255, 68, 0);
        clip-path: polygon(97% 77%, 91% 84%, 91% 55%);
    }
    70%{
        width: 643px;
        height: 302px;
        background: rgb(255, 68, 0);
        clip-path: polygon(97% 77%, 91% 84%, 91% 55%);
    }
    73%{
        width: 376px;
        height: 365px;
        background: #1a1a1a;
        clip-path: polygon(55% 92%, 50% 59%, 76% 54%);
    }
    90%{
        width: 376px;
        height: 365px;
        background: #1a1a1a;
        clip-path: polygon(55% 92%, 50% 59%, 76% 54%);
    }
    93%{
        width: 322px;
        height: 515px;
        background: orange;
        clip-path: polygon(50% 100%, 87% 60%, 81% 43%);
    }
    10%{
        width: 322px;
        height: 515px;
        background: orange;
        clip-path: polygon(50% 100%, 87% 60%, 81% 43%);
    }
  }

  @keyframes ten {
    13% {
        width: 493px;
        height: 346px;
        background: #4d4d4d;
        clip-path: polygon(96% 100%, 100% 95%, 90% 87%);
    }
    30%{
        width: 493px;
        height: 346px;
        background: #4d4d4d;
        clip-path: polygon(96% 100%, 100% 95%, 90% 87%);
    }
    33%{
        width: 466px;
        height: 397px;
        background: yellow;
        clip-path: polygon(69% 42%, 83% 33%, 80% 47%);
    }
    50%{
        width: 466px;
        height: 397px;
        background: yellow;
        clip-path: polygon(69% 42%, 83% 33%, 80% 47%);
    }
    53%{
        width: 643px;
        height: 302px;
        background: green;
        clip-path: polygon(97% 64%, 100% 74%, 91.5% 56%);
    }
    70%{
        width: 643px;
        height: 302px;
        background: green;
        clip-path: polygon(97% 64%, 100% 74%, 91.5% 56%);
    }
    73%{
        width: 376px;
        height: 365px;
        background: black;
        clip-path: polygon(50% 100%, 100% 77%, 75.7% 54%);
    }
    90%{
        width: 376px;
        height: 365px;
        background: black;
        clip-path: polygon(50% 100%, 100% 77%, 75.7% 54%);
    }
    93%{
        width:322px;
        height: 515px;
        background-color:#e6e6e6;
        clip-path: polygon(97% 82%, 82% 43%, 100% 53%);
    }
    10%{
        width:322px;
        height: 515px;
        background-color:#e6e6e6;
        clip-path: polygon(97% 82%, 82% 43%, 100% 53%);
    }
  }

  /* @keyframes whole {
    10%{
       transform:scale(0.7);
    }
    13% {
        transform:scale(1);
    }
    30%{
        transform:scale(1);
    }
    33%{
        transform:scale(1);
    }
    50%{
        transform:scale(1);
    }
    53%{
        transform:scale(0.7);
    }
    70%{
        transform:scale(0.7);
    }
    73%{
        transform:scale(1);
    }
    90%{
        transform:scale(1);
    }
    93%{
        transform:scale(0.7);
    }
  } */

#extra-margin{
    margin-top: 10%;
}

  @media (max-width:1023px) {
    .wrapper_container {
        width:300px;
        height: 350px;
    }

    .wrapper_container div{
        transform:scale(0.4);
    }
}

@media (max-width:767px){
    .part2{
        padding: 30px 0 !important;
    }
    .part1{
        padding: 30px 0 !important;
    }
    
    #extra-margin{
        margin-top: -10% !important;
        /* padding-top:0 !important; */
    }
    .wrapper_container {
        width:350px;
        height: 400px;
    }

    .wrapper_container div{
        /* flex-direction: column; */
        transform:scale(0.5);
    }
}

@media (max-width:479px){
    .wrapper_container {
        width:250px;
        height: 280px;
    }

    .wrapper_container div{
        /* flex-direction: column; */
        transform:scale(0.3);
    }
}

