.anim-circle{
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    width:60px;
    height: 60px;
    background-color: #000000 !important;
    border-radius:30px;
    z-index: 1;
}
.about-heading{
    font-size: 26px;
}

.about-flex{
    position:relative;
    width:60px;
    top:-60px;
    padding:10px 20px;
    overflow:hidden;
    height: 60px;
    border-radius: 30px;
    background-color: #B3000C !important;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 100px;
    padding:16px 0px !important;
    width:180px !important;
}

@media only screen and (max-width:479px){
    .anim-circle{
        width:35px;
        height: 35px;
    }

    .about-heading{
        font-size: 14px;
    }

    .about-flex{
        border-radius: 15px;
        width:35px;
        top:-35px;
        padding:0 10px 10px 10px;
        height: 35px;
    }

    .about-flex img {
        height: 120px !important;
        width:120px !important;
    }

    .about-flex div{
        font-size: 12px !important;
        justify-content: center !important;
    }

    .btn{
        border-radius: 18px;
        padding:8px 4px !important;
        width:130px !important;
    }

    .container{
        margin-top:-30px !important;
    }
}