@import url("https://fonts.googleapis.com/css?family=Audiowide|Julius+Sans+One");

.contact-parent-wrapper{
    bottom:0;
	display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:5vh;
   /* top:10vh !important; */
}

.contact-flex{
	width:100%;
	display:flex;
	justify-content: space-evenly;
	margin:0 0 0 0;
	/* padding: 160px 10px 10px 10px; */
	margin-bottom: 3vh;
}

.contact-wrapper {
    width:40%;
    height:60vh;
    /* margin:5vh; */
    background-color: #555;
}
.contact-wrapper-map {
    width:40%;
    height:60vh;
    /* margin:5vh; */
    background-color: #999;
}

.mapsize{
	width: 500px;
	height: 100%;
}

/* tablets and desktop */
@media only screen and (max-width: 1023px) {
	.mapsize{
		width: 350px;
		height: 500px;
	}
}

@media only screen and (max-width: 767px) {
    #test{
        display: none;
    }

	.contact-flex{
		/* padding: 10px; */
		flex-wrap:wrap;
		/* flex-direction: column; */
		justify-content: space-around;
	}
	.mapsize{
		width: 100%;
		height: 100%;
		/* border:none !important; */
    }
    .contact-parent-wrapper{
        /* margin-top:-10% !important; */
    }
	.contact-wrapper-map{
        margin: 0;
        height: 30vh;
		border:none !important;
		border-radius: 0;
		width:100%;
		order:2 !important;
	}
	.contact-wrapper{
        width: 100%;
        height: 45vh;
		/* padding: -100px 0; */
		order:1 !important;
    }
    .title-section{
        transform:scale(0.7);
        /* margin-top:-10% !important; */
    }                        
}

/* phones */
@media only screen and (max-width: 479px) {
	.mapsize{
		height: 200px;
    }
    .contact-parent-wrapper{
        /* margin-top:-10%; */
    }
	.contact-flex{
        /* margin-top: -20% ; */
    }
    .title-section{
        transform: scale(0.4);
        /* top:0 !important; */
    }
}


@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
.stage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

/* css3 experiment for title */

.title-section{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    /* position: absolute;
    top:20vh !important; */
}

.title-section h1{
    /* position:absolute; */
}

.overlay-section{
    animation: title-overlay 1s ease-in-out forwards;
}

@keyframes title-overlay{
    0%{
        transform:translate(0%,-30%) scale(1);
        opacity: 0;
    }
    45%{
        transform:translate(0,0) scale(1);
        opacity: 1;
    }
    85%{
        transform:translate(0,0) scale(1);
        opacity: 1;
    }
    100%{
        transform: translate(0,0) scale(3);
        opacity: 0.2;
    }
}

.subtitle-section{
    /* transform:translate(0,200%); */
    color: red;
    font-size: 26px;
    opacity: 0;
    transform:translate(50%,0);
    animation: subtitle-section 0.5s ease-in-out 1s forwards;
}

@keyframes subtitle-section{
    to{
        opacity: 1;
        transform: translate(0,0);
    }
}

#test{
    z-index: 100000000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-bar-new{
    display:flex;
    width:100%;
    /* padding:2%; */
    justify-content: space-evenly;
    background-color:#000;
}

.nav-bar-item{
    font-family: "Julius Sans One", sans-serif !important;
    font-weight: 900 !important;
    font-size: 18px;
    display:flex;
    justify-content: center;
    /* align-content: center; */
    cursor: pointer;
    width:100%;
    padding:15px;
    /* height: 7vh; */
    /* background-color: #000; */
    margin:0.5vh;
    transition:all 0.2s ease-in-out;
    /* border-bottom: 2px solid red; */
}

.nav-title{
    text-align: center;
    transition:all 0.2s ease-in-out;
}

.nav-bar-item:hover .nav-title{
    /* transform: scale(1.4); */
    color:red;
}

.nav-title img{
    display: inline-block;
    width:42px;
    margin:-12px 0;
    transition: all 0.2s ease-in-out;
}

.nav-title:hover img{
    transform: rotate(360deg) scale(1.2);
}

a{
    text-decoration: none;
    color:white;
}

.line2{
    position: absolute;
    /* width:12.5%; */
    width: 0;
    height:3px;
    background-color:red;
    z-index: 100;
    top:56px;
    /* top:60px; */
    transition: all .2s ease-in-out;
}

.nav-bar-item:hover .line2{
    width:8.5%;
    /* background-color: black; */
}

body{
    margin:0;
    overflow-x: hidden;
}