.contact-parent-wrapper{
	display:flex;
	flex-direction: column;
}

.contact-flex{
	width:100%;
	display:flex;
	/* background-color: red; */
	justify-content: space-evenly;
	align-items:center;
	height: 100vh;
	margin:0;
	padding: 160px 10px 10px 10px;
	margin-bottom: 60px;
}

.contact-wrapper {
	overflow: hidden;
	height: 500px;
	width: 500px;
	border: 6px solid rebeccapurple;
	border-radius: 30px;
	display:flex;
	justify-content: center;
	align-content: center;
	order: 2;
}
.contact-wrapper-map {
	/* flex: 1 1 40%; */
	overflow: hidden;
	border: 6px solid rebeccapurple;
	border-radius: 30px;
	display:flex;
	justify-content: center;
	align-content: center;
	order: 1 ;
}

.mapsize{
	width: 500px;
	height: 500px;
}

/* tablets and desktop */
@media only screen and (max-width: 1023px) {

	.contact-flex{
		padding: 160px 10px 10px 10px;
		margin-bottom: 60px;
	}
	.mapsize{
		width: 350px;
		height: 350px;
	}
}

@media only screen and (max-width: 767px) {

	.contact-flex{
		padding: 10px;
		flex-wrap:wrap;
		/* flex-direction: column; */
		justify-content: space-around;
	}
	.mapsize{
		width: 100%;
		height: 350px;
		/* border:none !important; */
	}
	.contact-wrapper-map{
		margin: 0;
		border:none !important;
		border-radius: 0;
		width:100%;
		order:2 !important;
	}
	.contact-wrapper{
		/* padding: -100px 0; */
		order:1 !important;
	}                        
}

/* phones */
@media only screen and (max-width: 479px) {
	.mapsize{
		height: 200px;
	}
	.contact-flex{
		position:relative !important;
	}
}
