/*
 * ImageHover.css - http://www.imagehover.io
 */

 [class*=' imghvr-'],
 [class^=imghvr-] {
     position: relative;
     display: inline-block;
     margin: 0;
     max-width: 100%;
       -webkit-clip-path: polygon(50% 0, 49.61% .02%, 49.23% .07%, 48.85% .17%, 48.46% .32%, 1.62% 23.97%, 1.19% 24.24%, .81% 24.57%, .53% 24.91%, .31% 25.25%, .16% 25.59%, .05% 25.93%, 0 26.26%, 0 73.62%, .07% 74.16%, .18% 74.5%, .35% 74.84%, .57% 75.17%, .88% 75.51%, 1.28% 75.85%, 1.62% 76.05%, 48.38% 99.66%, 48.85% 99.83%, 49.23% 99.92%, 49.62% 99.98%, 50% 100%, 50.38% 99.98%, 50.77% 99.92%, 51.15% 99.83%, 51.62% 99.66%, 98.38% 76.05%, 98.72% 75.85%, 99.12% 75.51%, 99.42% 75.17%, 99.65% 74.83%, 99.82% 74.5%, 99.93% 74.16%, 100% 73.62%, 100% 26.26%, 99.94% 25.92%, 99.84% 25.59%, 99.69% 25.25%, 99.47% 24.91%, 99.19% 24.57%, 98.82% 24.24%, 98.38% 23.97%, 51.54% .32%, 51.16% .17%, 50.77% .07%, 50.38% .02%, 50% 0, 50% 1.33%, 50.38% 1.36%, 50.85% 1.48%, 97.62% 25.1%, 97.89% 25.3%, 98.18% 25.64%, 98.36% 25.97%, 98.46% 26.38%, 98.46% 73.6%, 98.37% 74.04%, 98.19% 74.38%, 97.88% 74.72%, 97.62% 74.89%, 50.85% 98.5%, 50.39% 98.62%, 50% 98.65%, 49.61% 98.62%, 49.15% 98.5%, 2.15% 74.72%, 1.85% 74.38%, 1.65% 74.04%, 1.54% 73.6%, 1.54% 26.38%, 1.63% 25.98%, 1.82% 25.64%, 2.11% 25.3%, 2.38% 25.1%, 49.15% 1.48%, 49.61% 1.36%, 50% 1.33%);
     clip-path: polygon(50% 0, 49.61% .02%, 49.23% .07%, 48.85% .17%, 48.46% .32%, 1.62% 23.97%, 1.19% 24.24%, .81% 24.57%, .53% 24.91%, .31% 25.25%, .16% 25.59%, .05% 25.93%, 0 26.26%, 0 73.62%, .07% 74.16%, .18% 74.5%, .35% 74.84%, .57% 75.17%, .88% 75.51%, 1.28% 75.85%, 1.62% 76.05%, 48.38% 99.66%, 48.85% 99.83%, 49.23% 99.92%, 49.62% 99.98%, 50% 100%, 50.38% 99.98%, 50.77% 99.92%, 51.15% 99.83%, 51.62% 99.66%, 98.38% 76.05%, 98.72% 75.85%, 99.12% 75.51%, 99.42% 75.17%, 99.65% 74.83%, 99.82% 74.5%, 99.93% 74.16%, 100% 73.62%, 100% 26.26%, 99.94% 25.92%, 99.84% 25.59%, 99.69% 25.25%, 99.47% 24.91%, 99.19% 24.57%, 98.82% 24.24%, 98.38% 23.97%, 51.54% .32%, 51.16% .17%, 50.77% .07%, 50.38% .02%, 50% 0, 50% 1.33%, 50.38% 1.36%, 50.85% 1.48%, 97.62% 25.1%, 97.89% 25.3%, 98.18% 25.64%, 98.36% 25.97%, 98.46% 26.38%, 98.46% 73.6%, 98.37% 74.04%, 98.19% 74.38%, 97.88% 74.72%, 97.62% 74.89%, 50.85% 98.5%, 50.39% 98.62%, 50% 98.65%, 49.61% 98.62%, 49.15% 98.5%, 2.15% 74.72%, 1.85% 74.38%, 1.65% 74.04%, 1.54% 73.6%, 1.54% 26.38%, 1.63% 25.98%, 1.82% 25.64%, 2.11% 25.3%, 2.38% 25.1%, 49.15% 1.48%, 49.61% 1.36%, 50% 1.33%);
     background-color: #2266a5;
     color: #fff;
     overflow: hidden;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
     -webkit-transform: translateZ(0);
     transform: translateZ(0)
 }
 
 [class*=' imghvr-']>img,
 [class^=imghvr-]>img {
     vertical-align: top;
     max-width: 100%
 }
 
 [class*=' imghvr-'] figcaption,
 [class^=imghvr-] figcaption {
     background-color: #135796;
     padding: 30px;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     color: #fff
 }
 
 [class*=' imghvr-'] figcaption h1,
 [class*=' imghvr-'] figcaption h2,
 [class*=' imghvr-'] figcaption h3,
 [class*=' imghvr-'] figcaption h4,
 [class*=' imghvr-'] figcaption h5,
 [class*=' imghvr-'] figcaption h6,
 [class^=imghvr-] figcaption h1,
 [class^=imghvr-] figcaption h2,
 [class^=imghvr-] figcaption h3,
 [class^=imghvr-] figcaption h4,
 [class^=imghvr-] figcaption h5,
 [class^=imghvr-] figcaption h6 {
     color: #fff
 }
 
 [class*=' imghvr-'] a,
 [class^=imghvr-] a {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 1
 }
 
 [class*=' imghvr-'],
 [class*=' imghvr-'] *,
 [class*=' imghvr-']:after,
 [class*=' imghvr-']:before,
 [class*=' imghvr-']:after,
 [class*=' imghvr-']:before,
 [class^=imghvr-],
 [class^=imghvr-] *,
 [class^=imghvr-]:after,
 [class^=imghvr-]:before,
 [class^=imghvr-]:after,
 [class^=imghvr-]:before {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-transition: all .35s ease;
     transition: all .35s ease
 }
 
 [class*=' imghvr-fade'] figcaption,
 [class*=' imghvr-fade']:hover>img,
 [class^=imghvr-fade] figcaption,
 [class^=imghvr-fade]:hover>img {
     opacity: 0
 }
 
 [class*=' imghvr-fade']:hover figcaption,
 [class^=imghvr-fade]:hover figcaption {
     opacity: 1
 }
 
 [class*=' imghvr-fade']:hover figcaption,
 [class*=' imghvr-fade']:hover>img,
 [class^=imghvr-fade]:hover figcaption,
 [class^=imghvr-fade]:hover>img {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0)
 }
 
 .imghvr-fade-in-up figcaption {
     -webkit-transform: translate(0, 15%);
     transform: translate(0, 15%)
 }
 
 .imghvr-fade-in-down figcaption {
     -webkit-transform: translate(0, -15%);
     transform: translate(0, -15%)
 }
 
 .imghvr-fade-in-left figcaption {
     -webkit-transform: translate(-15%, 0);
     transform: translate(-15%, 0)
 }
 
 .imghvr-fade-in-right figcaption {
     -webkit-transform: translate(15%, 0);
     transform: translate(15%, 0)
 }
 
 [class*=' imghvr-push-']:hover figcaption,
 [class^=imghvr-push-]:hover figcaption {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0)
 }
 
 .imghvr-push-up figcaption {
     -webkit-transform: translateY(100%);
     transform: translateY(100%)
 }
 
 .imghvr-push-down figcaption,
 .imghvr-push-up:hover>img {
     -webkit-transform: translateY(-100%);
     transform: translateY(-100%)
 }
 
 .imghvr-push-down:hover>img {
     -webkit-transform: translateY(100%);
     transform: translateY(100%)
 }
 
 .imghvr-push-left figcaption {
     -webkit-transform: translateX(100%);
     transform: translateX(100%)
 }
 
 .imghvr-push-left:hover>img,
 .imghvr-push-right figcaption {
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%)
 }
 
 .imghvr-push-right:hover>img {
     -webkit-transform: translateX(100%);
     transform: translateX(100%)
 }
 
 [class*=' imghvr-slide-']:hover figcaption,
 [class^=imghvr-slide-]:hover figcaption {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0)
 }
 
 .imghvr-slide-up figcaption {
     -webkit-transform: translateY(100%);
     transform: translateY(100%)
 }
 
 .imghvr-slide-down figcaption {
     -webkit-transform: translateY(-100%);
     transform: translateY(-100%)
 }
 
 .imghvr-slide-left figcaption {
     -webkit-transform: translateX(100%);
     transform: translateX(100%)
 }
 
 .imghvr-slide-right figcaption {
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%)
 }
 
 .imghvr-slide-top-left figcaption {
     -webkit-transform: translate(-100%, -100%);
     transform: translate(-100%, -100%)
 }
 
 .imghvr-slide-top-right figcaption {
     -webkit-transform: translate(100%, -100%);
     transform: translate(100%, -100%)
 }
 
 .imghvr-slide-bottom-left figcaption {
     -webkit-transform: translate(-100%, 100%);
     transform: translate(-100%, 100%)
 }
 
 .imghvr-slide-bottom-right figcaption {
     -webkit-transform: translate(100%, 100%);
     transform: translate(100%, 100%)
 }
 
 [class*=' imghvr-reveal-']:before,
 [class^=imghvr-reveal-]:before {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     content: '';
     background-color: #135796
 }
 
 [class*=' imghvr-reveal-'] figcaption,
 [class^=imghvr-reveal-] figcaption {
     opacity: 0
 }
 
 [class*=' imghvr-reveal-']:hover:before,
 [class^=imghvr-reveal-]:hover:before {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0)
 }
 
 [class*=' imghvr-reveal-']:hover figcaption,
 [class^=imghvr-reveal-]:hover figcaption {
     opacity: 1;
     -webkit-transition-delay: .21s;
     transition-delay: .21s
 }
 
 .imghvr-reveal-up:before {
     -webkit-transform: translateY(100%);
     transform: translateY(100%)
 }
 
 .imghvr-reveal-down:before {
     -webkit-transform: translateY(-100%);
     transform: translateY(-100%)
 }
 
 .imghvr-reveal-left:before {
     -webkit-transform: translateX(100%);
     transform: translateX(100%)
 }
 
 .imghvr-reveal-right:before {
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%)
 }
 
 .imghvr-reveal-top-left:before {
     -webkit-transform: translate(-100%, -100%);
     transform: translate(-100%, -100%)
 }
 
 .imghvr-reveal-top-right:before {
     -webkit-transform: translate(100%, -100%);
     transform: translate(100%, -100%)
 }
 
 .imghvr-reveal-bottom-left:before {
     -webkit-transform: translate(-100%, 100%);
     transform: translate(-100%, 100%)
 }
 
 .imghvr-reveal-bottom-right:before {
     -webkit-transform: translate(100%, 100%);
     transform: translate(100%, 100%)
 }
 
 [class*=' imghvr-hinge-'],
 [class^=imghvr-hinge-] {
     -webkit-perspective: 50em;
     perspective: 50em
 }
 
 [class*=' imghvr-hinge-'] figcaption,
 [class^=imghvr-hinge-] figcaption {
     opacity: 0;
     z-index: 1
 }
 
 [class*=' imghvr-hinge-']:hover img,
 [class^=imghvr-hinge-]:hover img {
     opacity: 0
 }
 
 [class*=' imghvr-hinge-']:hover figcaption,
 [class^=imghvr-hinge-]:hover figcaption {
     opacity: 1;
     -webkit-transition-delay: .21s;
     transition-delay: .21s
 }
 
 .imghvr-hinge-up img {
     -webkit-transform-origin: 50% 0;
     -ms-transform-origin: 50% 0;
     transform-origin: 50% 0
 }
 
 .imghvr-hinge-up figcaption {
     -webkit-transform: rotateX(90deg);
     transform: rotateX(90deg);
     -webkit-transform-origin: 50% 100%;
     -ms-transform-origin: 50% 100%;
     transform-origin: 50% 100%
 }
 
 .imghvr-hinge-up:hover>img {
     -webkit-transform: rotateX(-90deg);
     transform: rotateX(-90deg)
 }
 
 .imghvr-hinge-up:hover figcaption {
     -webkit-transform: rotateX(0);
     transform: rotateX(0)
 }
 
 .imghvr-hinge-down img {
     -webkit-transform-origin: 50% 100%;
     -ms-transform-origin: 50% 100%;
     transform-origin: 50% 100%
 }
 
 .imghvr-hinge-down figcaption {
     -webkit-transform: rotateX(-90deg);
     transform: rotateX(-90deg);
     -webkit-transform-origin: 50% -50%;
     -ms-transform-origin: 50% -50%;
     transform-origin: 50% -50%
 }
 
 .imghvr-hinge-down:hover>img {
     -webkit-transform: rotateX(90deg);
     transform: rotateX(90deg);
     opacity: 0
 }
 
 .imghvr-hinge-down:hover figcaption {
     -webkit-transform: rotateX(0);
     transform: rotateX(0)
 }
 
 .imghvr-hinge-left img {
     -webkit-transform-origin: 0 50%;
     -ms-transform-origin: 0 50%;
     transform-origin: 0 50%
 }
 
 .imghvr-hinge-left figcaption {
     -webkit-transform: rotateY(-90deg);
     transform: rotateY(-90deg);
     -webkit-transform-origin: 100% 50%;
     -ms-transform-origin: 100% 50%;
     transform-origin: 100% 50%
 }
 
 .imghvr-hinge-left:hover>img {
     -webkit-transform: rotateY(90deg);
     transform: rotateY(90deg)
 }
 
 .imghvr-hinge-left:hover figcaption {
     -webkit-transform: rotateY(0);
     transform: rotateY(0)
 }
 
 .imghvr-hinge-right img {
     -webkit-transform-origin: 100% 50%;
     -ms-transform-origin: 100% 50%;
     transform-origin: 100% 50%
 }
 
 .imghvr-hinge-right figcaption {
     -webkit-transform: rotateY(90deg);
     transform: rotateY(90deg);
     -webkit-transform-origin: 0 50%;
     -ms-transform-origin: 0 50%;
     transform-origin: 0 50%
 }
 
 .imghvr-hinge-right:hover>img {
     -webkit-transform: rotateY(-90deg);
     transform: rotateY(-90deg)
 }
 
 .imghvr-hinge-right:hover figcaption {
     -webkit-transform: rotateY(0);
     transform: rotateY(0)
 }
 
 [class*=' imghvr-flip-'],
 [class^=imghvr-flip-] {
     -webkit-perspective: 50em;
     perspective: 50em
 }
 
 [class*=' imghvr-flip-'] img,
 [class^=imghvr-flip-] img {
     backface-visibility: hidden
 }
 
 [class*=' imghvr-flip-'] figcaption,
 [class*=' imghvr-flip-']:hover>img,
 [class^=imghvr-flip-] figcaption,
 [class^=imghvr-flip-]:hover>img {
     opacity: 0
 }
 
 [class*=' imghvr-flip-']:hover figcaption,
 [class^=imghvr-flip-]:hover figcaption {
     opacity: 1;
     -webkit-transition-delay: .13999999999999999s;
     transition-delay: .13999999999999999s
 }
 
 .imghvr-flip-horiz figcaption {
     -webkit-transform: rotateX(90deg);
     transform: rotateX(90deg);
     -webkit-transform-origin: 0 50%;
     -ms-transform-origin: 0 50%;
     transform-origin: 0 50%
 }
 
 .imghvr-flip-horiz:hover img {
     -webkit-transform: rotateX(-180deg);
     transform: rotateX(-180deg)
 }
 
 .imghvr-flip-horiz:hover figcaption {
     -webkit-transform: rotateX(0);
     transform: rotateX(0)
 }
 
 .imghvr-flip-vert figcaption {
     -webkit-transform: rotateY(90deg);
     transform: rotateY(90deg);
     -webkit-transform-origin: 50% 0;
     -ms-transform-origin: 50% 0;
     transform-origin: 50% 0
 }
 
 .imghvr-flip-vert:hover>img {
     -webkit-transform: rotateY(-180deg);
     transform: rotateY(-180deg)
 }
 
 .imghvr-flip-vert:hover figcaption {
     -webkit-transform: rotateY(0);
     transform: rotateY(0)
 }
 
 .imghvr-flip-diag-1 figcaption {
     -webkit-transform: rotate3d(1, -1, 0, 100deg);
     transform: rotate3d(1, -1, 0, 100deg)
 }
 
 .imghvr-flip-diag-1:hover>img {
     -webkit-transform: rotate3d(-1, 1, 0, 100deg);
     transform: rotate3d(-1, 1, 0, 100deg)
 }
 
 .imghvr-flip-diag-1:hover figcaption {
     -webkit-transform: rotate3d(0, 0, 0, 0deg);
     transform: rotate3d(0, 0, 0, 0deg)
 }
 
 .imghvr-flip-diag-2 figcaption {
     -webkit-transform: rotate3d(1, 1, 0, 100deg);
     transform: rotate3d(1, 1, 0, 100deg)
 }
 
 .imghvr-flip-diag-2:hover>img {
     -webkit-transform: rotate3d(-1, -1, 0, 100deg);
     transform: rotate3d(-1, -1, 0, 100deg)
 }
 
 .imghvr-flip-diag-2:hover figcaption {
     -webkit-transform: rotate3d(0, 0, 0, 0deg);
     transform: rotate3d(0, 0, 0, 0deg)
 }
 
 [class*=' imghvr-shutter-out-']:before,
 [class^=imghvr-shutter-out-]:before {
     background: #135796;
     position: absolute;
     content: '';
     -webkit-transition-delay: 105ms;
     transition-delay: 105ms
 }
 
 [class*=' imghvr-shutter-out-'] figcaption,
 [class^=imghvr-shutter-out-] figcaption {
     opacity: 0;
     -webkit-transition-delay: 0s;
     transition-delay: 0s
 }
 
 [class*=' imghvr-shutter-out-']:hover:before,
 [class^=imghvr-shutter-out-]:hover:before {
     -webkit-transition-delay: 0s;
     transition-delay: 0s
 }
 
 [class*=' imghvr-shutter-out-']:hover figcaption,
 [class^=imghvr-shutter-out-]:hover figcaption {
     opacity: 1;
     -webkit-transition-delay: 105ms;
     transition-delay: 105ms
 }
 
 .imghvr-shutter-out-horiz:before {
     left: 50%;
     right: 50%;
     top: 0;
     bottom: 0
 }
 
 .imghvr-shutter-out-horiz:hover:before {
     left: 0;
     right: 0
 }
 
 .imghvr-shutter-out-vert:before {
     top: 50%;
     bottom: 50%;
     left: 0;
     right: 0
 }
 
 .imghvr-shutter-out-vert:hover:before {
     top: 0;
     bottom: 0
 }
 
 .imghvr-shutter-out-diag-1:before {
     top: 50%;
     bottom: 50%;
     left: -35%;
     right: -35%;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg)
 }
 
 .imghvr-shutter-out-diag-1:hover:before {
     top: -35%;
     bottom: -35%
 }
 
 .imghvr-shutter-out-diag-2:before {
     top: 50%;
     bottom: 50%;
     left: -35%;
     right: -35%;
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg)
 }
 
 .imghvr-shutter-out-diag-2:hover:before {
     top: -35%;
     bottom: -35%
 }
 
 [class*=' imghvr-shutter-in-']:after,
 [class*=' imghvr-shutter-in-']:before,
 [class^=imghvr-shutter-in-]:after,
 [class^=imghvr-shutter-in-]:before {
     background: #135796;
     position: absolute;
     content: ''
 }
 
 [class*=' imghvr-shutter-in-']:after,
 [class^=imghvr-shutter-in-]:after {
     top: 0;
     left: 0
 }
 
 [class*=' imghvr-shutter-in-']:before,
 [class^=imghvr-shutter-in-]:before {
     right: 0;
     bottom: 0
 }
 
 [class*=' imghvr-shutter-in-'] figcaption,
 [class^=imghvr-shutter-in-] figcaption {
     opacity: 0;
     z-index: 1
 }
 
 [class*=' imghvr-shutter-in-']:hover figcaption,
 [class^=imghvr-shutter-in-]:hover figcaption {
     opacity: 1;
     -webkit-transition-delay: .21s;
     transition-delay: .21s
 }
 
 .imghvr-shutter-in-horiz:after,
 .imghvr-shutter-in-horiz:before {
     width: 0;
     height: 100%
 }
 
 .imghvr-shutter-in-horiz:hover:after,
 .imghvr-shutter-in-horiz:hover:before {
     width: 50%
 }
 
 .imghvr-shutter-in-vert:after,
 .imghvr-shutter-in-vert:before {
     height: 0;
     width: 100%
 }
 
 .imghvr-shutter-in-vert:hover:after,
 .imghvr-shutter-in-vert:hover:before {
     height: 50%
 }
 
 .imghvr-shutter-in-out-horiz:after,
 .imghvr-shutter-in-out-horiz:before {
     width: 0;
     height: 100%
 }
 
 .imghvr-shutter-in-out-horiz:hover:after,
 .imghvr-shutter-in-out-horiz:hover:before {
     width: 100%;
     opacity: .75
 }
 
 .imghvr-shutter-in-out-vert:after,
 .imghvr-shutter-in-out-vert:before {
     height: 0;
     width: 100%
 }
 
 .imghvr-shutter-in-out-vert:hover:after,
 .imghvr-shutter-in-out-vert:hover:before {
     height: 100%;
     opacity: .75
 }
 
 .imghvr-shutter-in-out-diag-1:after,
 .imghvr-shutter-in-out-diag-1:before {
     width: 200%;
     height: 200%;
     -webkit-transition: all .6s ease;
     transition: all .6s ease;
     opacity: .75
 }
 
 .imghvr-shutter-in-out-diag-1:after {
     -webkit-transform: skew(-45deg) translateX(-150%);
     transform: skew(-45deg) translateX(-150%)
 }
 
 .imghvr-shutter-in-out-diag-1:before {
     -webkit-transform: skew(-45deg) translateX(150%);
     transform: skew(-45deg) translateX(150%)
 }
 
 .imghvr-shutter-in-out-diag-1:hover:after {
     -webkit-transform: skew(-45deg) translateX(-50%);
     transform: skew(-45deg) translateX(-50%)
 }
 
 .imghvr-shutter-in-out-diag-1:hover:before {
     -webkit-transform: skew(-45deg) translateX(50%);
     transform: skew(-45deg) translateX(50%)
 }
 
 .imghvr-shutter-in-out-diag-2:after,
 .imghvr-shutter-in-out-diag-2:before {
     width: 200%;
     height: 200%;
     -webkit-transition: all .6s ease;
     transition: all .6s ease;
     opacity: .75
 }
 
 .imghvr-shutter-in-out-diag-2:after {
     -webkit-transform: skew(45deg) translateX(-100%);
     transform: skew(45deg) translateX(-100%)
 }
 
 .imghvr-shutter-in-out-diag-2:before {
     -webkit-transform: skew(45deg) translateX(100%);
     transform: skew(45deg) translateX(100%)
 }
 
 .imghvr-shutter-in-out-diag-2:hover:after,
 .imghvr-shutter-in-out-diag-2:hover:before {
     -webkit-transform: skew(45deg) translateX(0);
     transform: skew(45deg) translateX(0)
 }
 
 [class*=' imghvr-fold'],
 [class^=imghvr-fold] {
     -webkit-perspective: 50em;
     perspective: 50em
 }
 
 [class*=' imghvr-fold'] img,
 [class^=imghvr-fold] img {
     -webkit-transform-origin: 50% 0;
     -ms-transform-origin: 50% 0;
     transform-origin: 50% 0
 }
 
 [class*=' imghvr-fold'] figcaption,
 [class^=imghvr-fold] figcaption {
     z-index: 1;
     opacity: 0
 }
 
 [class*=' imghvr-fold']:hover>img,
 [class^=imghvr-fold]:hover>img {
     opacity: 0;
     -webkit-transition-delay: 0;
     transition-delay: 0
 }
 
 [class*=' imghvr-fold']:hover figcaption,
 [class^=imghvr-fold]:hover figcaption {
     -webkit-transform: rotateX(0) translate3d(0, 0, 0) scale(1);
     transform: rotateX(0) translate3d(0, 0, 0) scale(1);
     opacity: 1;
     -webkit-transition-delay: .21s;
     transition-delay: .21s
 }
 
 .imghvr-fold-up>img {
     -webkit-transform-origin: 50% 0;
     -ms-transform-origin: 50% 0;
     transform-origin: 50% 0
 }
 
 .imghvr-fold-up figcaption {
     -webkit-transform: rotateX(-90deg) translate3d(0, -50%, 0) scale(.6);
     transform: rotateX(-90deg) translate3d(0, -50%, 0) scale(.6);
     -webkit-transform-origin: 50% 100%;
     -ms-transform-origin: 50% 100%;
     transform-origin: 50% 100%
 }
 
 .imghvr-fold-up:hover>img {
     -webkit-transform: rotateX(90deg) scale(.6) translateY(50%);
     transform: rotateX(90deg) scale(.6) translateY(50%)
 }
 
 .imghvr-fold-down>img {
     -webkit-transform-origin: 50% 100%;
     -ms-transform-origin: 50% 100%;
     transform-origin: 50% 100%
 }
 
 .imghvr-fold-down figcaption {
     -webkit-transform: rotateX(90deg) translate3d(0, 50%, 0) scale(.6);
     transform: rotateX(90deg) translate3d(0, 50%, 0) scale(.6);
     -webkit-transform-origin: 50% 0;
     -ms-transform-origin: 50% 0;
     transform-origin: 50% 0
 }
 
 .imghvr-fold-down:hover>img {
     -webkit-transform: rotateX(-90deg) scale(.6) translateY(-50%);
     transform: rotateX(-90deg) scale(.6) translateY(-50%)
 }
 
 .imghvr-fold-left>img {
     -webkit-transform-origin: 0 50%;
     -ms-transform-origin: 0 50%;
     transform-origin: 0 50%
 }
 
 .imghvr-fold-left figcaption {
     -webkit-transform: rotateY(90deg) translate3d(-50%, 0, 0) scale(.6);
     transform: rotateY(90deg) translate3d(-50%, 0, 0) scale(.6);
     -webkit-transform-origin: 100% 50%;
     -ms-transform-origin: 100% 50%;
     transform-origin: 100% 50%
 }
 
 .imghvr-fold-left:hover>img {
     -webkit-transform: rotateY(-90deg) scale(.6) translateX(50%);
     transform: rotateY(-90deg) scale(.6) translateX(50%)
 }
 
 .imghvr-fold-right {
     -webkit-perspective: 50em;
     perspective: 50em
 }
 
 .imghvr-fold-right>img {
     -webkit-transform-origin: 100% 50%;
     -ms-transform-origin: 100% 50%;
     transform-origin: 100% 50%
 }
 
 .imghvr-fold-right figcaption {
     -webkit-transform: rotateY(-90deg) translate3d(50%, 0, 0) scale(.6);
     transform: rotateY(-90deg) translate3d(50%, 0, 0) scale(.6);
     -webkit-transform-origin: 0 50%;
     -ms-transform-origin: 0 50%;
     transform-origin: 0 50%
 }
 
 .imghvr-fold-right:hover>img {
     -webkit-transform: rotateY(90deg) scale(.6) translateX(-50%);
     transform: rotateY(90deg) scale(.6) translateX(-50%)
 }
 
 .imghvr-zoom-in figcaption {
     opacity: 0;
     -webkit-transform: scale(.5);
     transform: scale(.5)
 }
 
 .imghvr-zoom-in:hover figcaption {
     -webkit-transform: scale(1);
     transform: scale(1);
     opacity: 1
 }
 
 [class*=' imghvr-zoom-out'] figcaption,
 [class^=imghvr-zoom-out] figcaption {
     -webkit-transform: scale(.5);
     transform: scale(.5);
     -webkit-transform-origin: 50% 50%;
     -ms-transform-origin: 50% 50%;
     transform-origin: 50% 50%;
     opacity: 0
 }
 
 [class*=' imghvr-zoom-out'].hover figcaption,
 [class*=' imghvr-zoom-out']:hover figcaption,
 [class^=imghvr-zoom-out].hover figcaption,
 [class^=imghvr-zoom-out]:hover figcaption {
     -webkit-transform: scale(1);
     transform: scale(1);
     opacity: 1;
     -webkit-transition-delay: .35s;
     transition-delay: .35s
 }
 
 .imghvr-zoom-out:hover>img {
     -webkit-transform: scale(.5);
     transform: scale(.5);
     opacity: 0
 }
 
 .imghvr-zoom-out-up.hover>img,
 .imghvr-zoom-out-up:hover>img {
     -webkit-animation: imghvr-zoom-out-up .40249999999999997s linear;
     animation: imghvr-zoom-out-up .40249999999999997s linear;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards
 }
 
 @-webkit-keyframes imghvr-zoom-out-up {
     50% {
         -webkit-transform: scale(.8) translateY(0);
         transform: scale(.8) translateY(0);
         opacity: .5
     }
     100% {
         -webkit-transform: scale(.8) translateY(-150%);
         transform: scale(.8) translateY(-150%);
         opacity: .5
     }
 }
 
 @keyframes imghvr-zoom-out-up {
     50% {
         -webkit-transform: scale(.8) translateY(0);
         transform: scale(.8) translateY(0);
         opacity: .5
     }
     100% {
         -webkit-transform: scale(.8) translateY(-150%);
         transform: scale(.8) translateY(-150%);
         opacity: .5
     }
 }
 
 .imghvr-zoom-out-down.hover>img,
 .imghvr-zoom-out-down:hover>img {
     -webkit-animation: imghvr-zoom-out-down .40249999999999997s linear;
     animation: imghvr-zoom-out-down .40249999999999997s linear;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards
 }
 
 @-webkit-keyframes imghvr-zoom-out-down {
     50% {
         -webkit-transform: scale(.8) translateY(0);
         transform: scale(.8) translateY(0);
         opacity: .5
     }
     100% {
         -webkit-transform: scale(.8) translateY(150%);
         transform: scale(.8) translateY(150%);
         opacity: .5
     }
 }
 
 @keyframes imghvr-zoom-out-down {
     50% {
         -webkit-transform: scale(.8) translateY(0);
         transform: scale(.8) translateY(0);
         opacity: .5
     }
     100% {
         -webkit-transform: scale(.8) translateY(150%);
         transform: scale(.8) translateY(150%);
         opacity: .5
     }
 }
 
 .imghvr-zoom-out-left.hover>img,
 .imghvr-zoom-out-left:hover>img {
     -webkit-animation: imghvr-zoom-out-left .40249999999999997s linear;
     animation: imghvr-zoom-out-left .40249999999999997s linear;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards
 }
 
 @-webkit-keyframes imghvr-zoom-out-left {
     50% {
         -webkit-transform: scale(.8) translateX(0);
         transform: scale(.8) translateX(0);
         opacity: .5
     }
     100% {
         -webkit-transform: scale(.8) translateX(-150%);
         transform: scale(.8) translateX(-150%);
         opacity: .5
     }
 }
 
 @keyframes imghvr-zoom-out-left {
     50% {
         -webkit-transform: scale(.8) translateX(0);
         transform: scale(.8) translateX(0);
         opacity: .5
     }
     100% {
         -webkit-transform: scale(.8) translateX(-150%);
         transform: scale(.8) translateX(-150%);
         opacity: .5
     }
 }
 
 .imghvr-zoom-out-right.hover>img,
 .imghvr-zoom-out-right:hover>img {
     -webkit-animation: imghvr-zoom-out-right .40249999999999997s linear;
     animation: imghvr-zoom-out-right .40249999999999997s linear;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards
 }
 
 @-webkit-keyframes imghvr-zoom-out-right {
     50% {
         -webkit-transform: scale(.8) translateX(0);
         transform: scale(.8) translateX(0);
         opacity: .5
     }
     100% {
         -webkit-transform: scale(.8) translateX(150%);
         transform: scale(.8) translateX(150%);
         opacity: .5
     }
 }
 
 @keyframes imghvr-zoom-out-right {
     50% {
         -webkit-transform: scale(.8) translateX(0);
         transform: scale(.8) translateX(0);
         opacity: .5
     }
     100% {
         -webkit-transform: scale(.8) translateX(150%);
         transform: scale(.8) translateX(150%);
         opacity: .5
     }
 }
 
 .imghvr-zoom-out-flip-horiz {
     -webkit-perspective: 50em;
     perspective: 50em
 }
 
 .imghvr-zoom-out-flip-horiz figcaption {
     opacity: 0;
     -webkit-transform: rotateX(90deg) translateY(-100%) scale(.5);
     transform: rotateX(90deg) translateY(-100%) scale(.5)
 }
 
 .imghvr-zoom-out-flip-horiz.hover>img,
 .imghvr-zoom-out-flip-horiz:hover>img {
     -webkit-transform: rotateX(-100deg) translateY(50%) scale(.5);
     transform: rotateX(-100deg) translateY(50%) scale(.5);
     opacity: 0;
     -webkit-transition-delay: 0;
     transition-delay: 0
 }
 
 .imghvr-zoom-out-flip-horiz.hover figcaption,
 .imghvr-zoom-out-flip-horiz:hover figcaption {
     -webkit-transform: rotateX(0) translateY(0) scale(1);
     transform: rotateX(0) translateY(0) scale(1);
     opacity: 1;
     -webkit-transition-delay: .35s;
     transition-delay: .35s
 }
 
 .imghvr-zoom-out-flip-vert {
     -webkit-perspective: 50em;
     perspective: 50em
 }
 
 .imghvr-zoom-out-flip-vert figcaption {
     opacity: 0;
     -webkit-transform: rotateY(90deg) translate(50%, 0) scale(.5);
     transform: rotateY(90deg) translate(50%, 0) scale(.5)
 }
 
 .imghvr-zoom-out-flip-vert.hover>img,
 .imghvr-zoom-out-flip-vert:hover>img {
     -webkit-transform: rotateY(-100deg) translateX(50%) scale(.5);
     transform: rotateY(-100deg) translateX(50%) scale(.5);
     opacity: 0;
     -webkit-transition-delay: 0;
     transition-delay: 0
 }
 
 .imghvr-zoom-out-flip-vert.hover figcaption,
 .imghvr-zoom-out-flip-vert:hover figcaption {
     -webkit-transform: rotateY(0) translate(0, 0) scale(1);
     transform: rotateY(0) translate(0, 0) scale(1);
     opacity: 1;
     -webkit-transition-delay: .35s;
     transition-delay: .35s
 }
 
 .imghvr-blur figcaption {
     opacity: 0
 }
 
 .imghvr-blur:hover>img {
     -webkit-filter: blur(30px);
     filter: blur(30px);
     -webkit-transform: scale(1.2);
     transform: scale(1.2);
     opacity: 0
 }
 
 .imghvr-blur:hover figcaption {
     opacity: 1;
     -webkit-transition-delay: .21s;
     transition-delay: .21s
 }





/* -------------------- */





.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    min-height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .5s;
}
.background .container {
    margin: 0 auto;
    max-width: 1140px;
    min-height: 100%;
    position: relative;
    width: 100%}
    
.header-background img {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 131.58%}
.header-background img.is-loaded {
    opacity: .6;
    transition: opacity .3s;
}
.is-ready .header-background {
    opacity: 1;
}
.mission-background .container:before {
    background-image: url(../img/grd_mission.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    left: 50%;
    padding-top: 131.58%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    width: 131.58%}
.work-background .container:before {
    background-image: url(../img/grd_work.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    left: 50%;
    padding-top: 131.58%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    width: 131.58%}
.legal-background:after {
    background-image: linear-gradient(to bottom, #1A1A1A, rgba(93, 21, 114, 0));
    top: 0;
    content: '';
    height: 410px;
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
}
.legal-background .container:before {
    background-image: url(../img/Legal_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    left: 50%;
    padding-top: 131.58%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 131.58%}
.Libp2p-background {
    background-image: url(../img/projects/background_libp2p.jpg);
}
.ipld-background {
    background-image: url(../img/projects/background_ipld.jpg);
}
.ipfs-background {
    background-image: url(../img/projects/background_ipfs.jpg);
}
.filecoin-background {
    background-image: url(../img/projects/background_filecoin.jpg);
}
.multiformats-background {
    background-image: url(../img/projects/background_multiformats.jpg);
}
.lists-hidden {
    margin-bottom: -36%;
    overflow: hidden;
    padding-bottom: 36%}
    .collaborations-list .container, .projects-list .container {
        -webkit-box-orient: horizontal!important;
        -webkit-box-direction: normal!important;
        -ms-flex-direction: row!important;
        flex-direction: row!important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .collaborations-list .items, .projects-list .items {
        margin: -28% 0;
        position: relative;
        width: 100%}
    .collaborations-list .items:after, .projects-list .items:after {
        content: '';
        display: block;
        padding-top: 100%}
    
    .fig-text{
        display:flex;
        align-items: center;
        font-size: 24px;
        justify-content: center;
    }
    
    @media (max-width:1023px){
        .fig-text{font-size: 18px;}
    }
    
    @media (max-width:767px){
        .fig-text{font-size: 15px;}
    }
    
    /* @media (max-width:690px){
        .fig-text{font-size: 12px;}
    } */
    
    @media (max-width:479px){
        .fig-text{font-size: 10px;}
    }
    
    .collaborations-list h2, .projects-list h2 {
        left: 0;
        margin: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 24%;
        z-index: 1;
    }
    .collaborations-list a, .projects-list a {
        cursor: pointer;
        margin: 1.3%;
        position: absolute;
        transition: all .3s;
        width: 16.7%;
        z-index: 2;
    }
    .collaborations-list a:nth-of-type(1), .projects-list a:nth-of-type(1) {
        left: 21.1%;
        top: 39.168%}
    .collaborations-list a:nth-of-type(2), .projects-list a:nth-of-type(2) {
        left: 40.3%;
        top: 39.168%}
    .collaborations-list a:nth-of-type(3), .projects-list a:nth-of-type(3) {
        left: 59.6%;
        top: 38.5%}
    .collaborations-list a:nth-of-type(4), .projects-list a:nth-of-type(4) {
        left: 30.8%;
        top: 55.5%}
    .collaborations-list a:nth-of-type(5), .projects-list a:nth-of-type(5) {
        left: 50%;
        top: 55.5%}
    .collaborations-list a:hover, .projects-list a:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .collaborations-list a img, .projects-list a img {
        width: 100%}
    @media (max-width:767px) {
        .collaborations-list .container, .projects-list .container {
        padding: 28% 0!important;
    }
    .collaborations-list h2, .projects-list h2 {
        top: 12%}
    }.projects-list:after {
        background-image: linear-gradient(to bottom, #1A1A1A, rgba(93, 21, 114, 0));
        top: 0;
        content: '';
        height: 410px;
        left: 0;
        opacity: .4;
        position: absolute;
        right: 0;
    }
    .projects-list .container:before {
        background-image: url(../img/projects/Projects_bg_1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-mask-image: radial-gradient(ellipse at center, #000, rgba(0, 0, 0, 0) 72%);
        mask-image: radial-gradient(ellipse at center, #000, rgba(0, 0, 0, 0) 72%);
        -webkit-mask: url(#radialMask);
        mask: url(#radialMask);
        content: '';
        display: block;
        left: 50%;
        padding-top: 131.58%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        width: 131.58%}
    
    @media (max-width:767px) and (orientation:landscape) {
        .projects-list {
        padding-top: 12%}
    }@media (max-width:767px) and (orientation:portrait) {
        .projects-list {
        padding-top: 22%}
    }.collaborations-list {
        margin-top: 14%}
    .collaborations-list .container:before {
        background-image: url(../img/projects/Projects_bg_2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: block;
        left: 50%;
        -webkit-mask-image: radial-gradient(ellipse at center, #000, rgba(0, 0, 0, 0) 72%);
        mask-image: radial-gradient(ellipse at center, #000, rgba(0, 0, 0, 0) 72%);
        -webkit-mask: url(#radialMask);
        mask: url(#radialMask);
        padding-top: 131.58%;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        width: 131.58%}
    .text-block {
        max-width: 520px;
        position: relative;
    }
    .collaborations-list .items, .projects-list .items {
        margin: -28% 0;
        position: relative;
        width: 100%}
    .collaborations-list .items:after, .projects-list .items:after {
        content: '';
        display: block;
        padding-top: 100%}
        .projects-section {
            overflow: hidden;
        }
        .projects-section .container {
            margin: auto;
            max-width: 780px;
            min-height: 0;
        }
        .projects-section img {
            margin-bottom: auto;
            max-width: 100%}
        .projects-section img:not(.is-large) {
            max-height: 110px;
        }
        .projects-section img.is-large {
            max-width: 280px;
            width: 100%}
        .projects-section figcaption {
            margin-left: auto;
            max-width: 440px;
            width: 100%}
        @media (min-width:768px) {
            .projects-section .btn {
            margin-right: 6%;
            width: 52%}
        .projects-section .btn:last-child {
            margin-right: 0;
            width: 42%}
        }@media (max-width:767px) {
            .projects-section .container {
            -webkit-box-orient: vertical!important;
            -webkit-box-direction: normal!important;
            -ms-flex-direction: column!important;
            flex-direction: column!important;
        }
        .projects-section img {
            margin-bottom: 30px;
        }
        .projects-section figcaption {
            margin-right: auto;
        }
        .projects-section .btn {
            margin-top: 26px;
        }
        .projects-section .btn:last-child {
            margin-top: 10px;
        }
        }
        #scroll_to_top{
            width:45px;
            height: 50px;
            -webkit-clip-path: polygon(48.78% .24%, 48.48% .39%, 1.65% 23.98%, 1.35% 24.13%, 1.05% 24.28%, .79% 24.47%, .56% 24.7%, .37% 24.95%, .21% 25.22%, .1% 25.5%, .02% 25.8%, .02% 26.1%, 0 74.01%, .04% 74.31%, .13% 74.6%, .26% 74.88%, .43% 75.14%, .64% 75.38%, .87% 75.6%, 1.15% 75.77%, 1.45% 75.92%, 48.58% 99.66%, 48.89% 99.8%, 49.21% 99.91%, 49.55% 99.97%, 49.89% 100%, 50.23% 100%, 50.57% 99.96%, 50.91% 99.89%, 51.23% 99.78%, 51.53% 99.63%, 98.35% 76.03%, 98.65% 75.88%, 98.94% 75.72%, 99.21% 75.53%, 99.43% 75.3%, 99.63% 75.05%, 99.78% 74.79%, 99.9% 74.5%, 99.98% 74.21%, 100% 73.91%, 100% 26.3%, 100% 26%, 99.96% 25.7%, 99.86% 25.41%, 99.73% 25.13%, 99.56% 24.87%, 99.36% 24.62%, 99.12% 24.41%, 98.85% 24.23%, 98.55% 24.08%, 51.43% .32%, 51.12% .18%, 50.8% .08%, 50.46% .02%, 50.12% 0, 49.77% .01%, 49.43% .05%, 49.1% .12%, 48.78% .24%);
            clip-path: polygon(48.78% .24%, 48.48% .39%, 1.65% 23.98%, 1.35% 24.13%, 1.05% 24.28%, .79% 24.47%, .56% 24.7%, .37% 24.95%, .21% 25.22%, .1% 25.5%, .02% 25.8%, .02% 26.1%, 0 74.01%, .04% 74.31%, .13% 74.6%, .26% 74.88%, .43% 75.14%, .64% 75.38%, .87% 75.6%, 1.15% 75.77%, 1.45% 75.92%, 48.58% 99.66%, 48.89% 99.8%, 49.21% 99.91%, 49.55% 99.97%, 49.89% 100%, 50.23% 100%, 50.57% 99.96%, 50.91% 99.89%, 51.23% 99.78%, 51.53% 99.63%, 98.35% 76.03%, 98.65% 75.88%, 98.94% 75.72%, 99.21% 75.53%, 99.43% 75.3%, 99.63% 75.05%, 99.78% 74.79%, 99.9% 74.5%, 99.98% 74.21%, 100% 73.91%, 100% 26.3%, 100% 26%, 99.96% 25.7%, 99.86% 25.41%, 99.73% 25.13%, 99.56% 24.87%, 99.36% 24.62%, 99.12% 24.41%, 98.85% 24.23%, 98.55% 24.08%, 51.43% .32%, 51.12% .18%, 50.8% .08%, 50.46% .02%, 50.12% 0, 49.77% .01%, 49.43% .05%, 49.1% .12%, 48.78% .24%);
            background-color:rgb(255,0,0);
            position:fixed;
            bottom:2%;
            right: 2%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        section{
            height: 100vh;
        }

        .events-container{
            width:100%;
            height: 100vh;
            background: red;
            position: absolute;
        }