.events-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0 0 0;
    /* display:none; */
}

.events-navigation {
    width: 80%;
    margin: 10vh 0;
    /* height:50vh; */
    /* background-color: #333; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.e-layer-1,
.e-layer-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.e-layer-2 {
    margin-top: -6vh;
}

.events-nav-item {
    /* -webkit-clip-path: polygon(48.78% .24%, 48.48% .39%, 1.65% 23.98%, 1.35% 24.13%, 1.05% 24.28%, .79% 24.47%, .56% 24.7%, .37% 24.95%, .21% 25.22%, .1% 25.5%, .02% 25.8%, .02% 26.1%, 0 74.01%, .04% 74.31%, .13% 74.6%, .26% 74.88%, .43% 75.14%, .64% 75.38%, .87% 75.6%, 1.15% 75.77%, 1.45% 75.92%, 48.58% 99.66%, 48.89% 99.8%, 49.21% 99.91%, 49.55% 99.97%, 49.89% 100%, 50.23% 100%, 50.57% 99.96%, 50.91% 99.89%, 51.23% 99.78%, 51.53% 99.63%, 98.35% 76.03%, 98.65% 75.88%, 98.94% 75.72%, 99.21% 75.53%, 99.43% 75.3%, 99.63% 75.05%, 99.78% 74.79%, 99.9% 74.5%, 99.98% 74.21%, 100% 73.91%, 100% 26.3%, 100% 26%, 99.96% 25.7%, 99.86% 25.41%, 99.73% 25.13%, 99.56% 24.87%, 99.36% 24.62%, 99.12% 24.41%, 98.85% 24.23%, 98.55% 24.08%, 51.43% .32%, 51.12% .18%, 50.8% .08%, 50.46% .02%, 50.12% 0, 49.77% .01%, 49.43% .05%, 49.1% .12%, 48.78% .24%);
    clip-path: polygon(48.78% .24%, 48.48% .39%, 1.65% 23.98%, 1.35% 24.13%, 1.05% 24.28%, .79% 24.47%, .56% 24.7%, .37% 24.95%, .21% 25.22%, .1% 25.5%, .02% 25.8%, .02% 26.1%, 0 74.01%, .04% 74.31%, .13% 74.6%, .26% 74.88%, .43% 75.14%, .64% 75.38%, .87% 75.6%, 1.15% 75.77%, 1.45% 75.92%, 48.58% 99.66%, 48.89% 99.8%, 49.21% 99.91%, 49.55% 99.97%, 49.89% 100%, 50.23% 100%, 50.57% 99.96%, 50.91% 99.89%, 51.23% 99.78%, 51.53% 99.63%, 98.35% 76.03%, 98.65% 75.88%, 98.94% 75.72%, 99.21% 75.53%, 99.43% 75.3%, 99.63% 75.05%, 99.78% 74.79%, 99.9% 74.5%, 99.98% 74.21%, 100% 73.91%, 100% 26.3%, 100% 26%, 99.96% 25.7%, 99.86% 25.41%, 99.73% 25.13%, 99.56% 24.87%, 99.36% 24.62%, 99.12% 24.41%, 98.85% 24.23%, 98.55% 24.08%, 51.43% .32%, 51.12% .18%, 50.8% .08%, 50.46% .02%, 50.12% 0, 49.77% .01%, 49.43% .05%, 49.1% .12%, 48.78% .24%); */
    cursor: pointer;
    height: 25vh;
    margin: 1vh;
    transition: all 0.2s;
    /* box-shadow: 0 0 100px #000; */
}

.events-nav-item:hover {
    transform: scale(1.1) !important;
}

.events-section {
    min-height: 94vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
}

.events-heading {
    /* position: sticky;
    top:10vh; */
    margin: 5vh 0;
    font-size: 28px;
    /* border:2px solid red; */
    background-color: red;
    font-family: "Julius Sans One", sans-serif !important;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    background-image: linear-gradient(rgb(210, 0, 0), rgb(180, 0, 0), rgb(210, 0, 0));
    box-shadow: 0 0 30px #101;
}

.events {
    width: 100%;
    min-height: 75vh;
    /* background:red; */
    background-color: #1a1a1a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding:5vh 2vh;
    margin: 0 !important;
}

#scroll_to_top {
    width: 45px;
    height: 50px;
    -webkit-clip-path: polygon(48.78% .24%, 48.48% .39%, 1.65% 23.98%, 1.35% 24.13%, 1.05% 24.28%, .79% 24.47%, .56% 24.7%, .37% 24.95%, .21% 25.22%, .1% 25.5%, .02% 25.8%, .02% 26.1%, 0 74.01%, .04% 74.31%, .13% 74.6%, .26% 74.88%, .43% 75.14%, .64% 75.38%, .87% 75.6%, 1.15% 75.77%, 1.45% 75.92%, 48.58% 99.66%, 48.89% 99.8%, 49.21% 99.91%, 49.55% 99.97%, 49.89% 100%, 50.23% 100%, 50.57% 99.96%, 50.91% 99.89%, 51.23% 99.78%, 51.53% 99.63%, 98.35% 76.03%, 98.65% 75.88%, 98.94% 75.72%, 99.21% 75.53%, 99.43% 75.3%, 99.63% 75.05%, 99.78% 74.79%, 99.9% 74.5%, 99.98% 74.21%, 100% 73.91%, 100% 26.3%, 100% 26%, 99.96% 25.7%, 99.86% 25.41%, 99.73% 25.13%, 99.56% 24.87%, 99.36% 24.62%, 99.12% 24.41%, 98.85% 24.23%, 98.55% 24.08%, 51.43% .32%, 51.12% .18%, 50.8% .08%, 50.46% .02%, 50.12% 0, 49.77% .01%, 49.43% .05%, 49.1% .12%, 48.78% .24%);
    clip-path: polygon(48.78% .24%, 48.48% .39%, 1.65% 23.98%, 1.35% 24.13%, 1.05% 24.28%, .79% 24.47%, .56% 24.7%, .37% 24.95%, .21% 25.22%, .1% 25.5%, .02% 25.8%, .02% 26.1%, 0 74.01%, .04% 74.31%, .13% 74.6%, .26% 74.88%, .43% 75.14%, .64% 75.38%, .87% 75.6%, 1.15% 75.77%, 1.45% 75.92%, 48.58% 99.66%, 48.89% 99.8%, 49.21% 99.91%, 49.55% 99.97%, 49.89% 100%, 50.23% 100%, 50.57% 99.96%, 50.91% 99.89%, 51.23% 99.78%, 51.53% 99.63%, 98.35% 76.03%, 98.65% 75.88%, 98.94% 75.72%, 99.21% 75.53%, 99.43% 75.3%, 99.63% 75.05%, 99.78% 74.79%, 99.9% 74.5%, 99.98% 74.21%, 100% 73.91%, 100% 26.3%, 100% 26%, 99.96% 25.7%, 99.86% 25.41%, 99.73% 25.13%, 99.56% 24.87%, 99.36% 24.62%, 99.12% 24.41%, 98.85% 24.23%, 98.55% 24.08%, 51.43% .32%, 51.12% .18%, 50.8% .08%, 50.46% .02%, 50.12% 0, 49.77% .01%, 49.43% .05%, 49.1% .12%, 48.78% .24%);
    background-color: rgb(255, 0, 0);
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

#scroll_to_top:hover {
    transform: scale(1.2);
}

@media (max-width:768px) {
    .events-navigation {
        transform: scale(0.7);
    }
    .events-section {
        /* height: 100vh !important; */
    }
    .events-navigation {
        margin: 8vh 0 18vh 0 !important;
        width: 100% !important;
    }
}

@media (max-width:479px) {
    .events-heading {
        margin: 4vh 0;
        font-size: 20px;
    }

    .events-section {
        /* height: 100vh !important; */
    }

    .events {
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 86vh !important;
        /* height: 0 !important; */
        flex-wrap: wrap;
    }

    #scroll_to_top:hover {
        transform: scale(1);
    }

    .events-nav-item:hover {
        transform: scale(1) !important;
    }

    .events-nav-item {
        height: 24.3vh;
    }

    .events-navigation {
        margin: 0 0 10vh 0 !important;
        width: 100% !important;
    }

    .e-layer-1 {
        flex-wrap: wrap;
    }

    .events-nav-item:nth-child(3) {
        /* display: none; */
        margin-top: -5.5vh !important;
    }
}


body[data-aos-easing="new-easing"] [data-aos],
[data-aos][data-aos][data-aos-easing="new-easing"] {
    transition-timing-function: cubic-bezier(.32, 1.36, .83, 1.13);
}


/* events card css */

.card {
    /* display:none; */
    margin:2vh;
    overflow: hidden;
    /* position: relative; */
    width: 220px;
    height: 296px;
    /*   height:350px; */
    background-color: red;
    box-shadow: 0 0 40px #000;
}

.card-inner-wrapper {
    position: relative;
    width:100%;
    height: 100%;
}

.pic-wrapper {
    position: absolute;
    left: 0;
    display: flex;
    width: 200%;
    height: 100%;
    background-color: #555;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
}

.pic-wrapper:hover {
    left: -100%;
}

.pic img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.pic {
    width: 50%;
}

.pic-info {
    position: relative;
    width: 50%;
    background-color: #222;
    height: 100%;
}

.event-info {
    background-color: #444;
    width: 90%;
    height: 75%;
    margin: 5% 5% 15% 5%;
}

.event-heading {
    border-radius: 0% 0% 15px 15px;
    padding: 2% 5%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    color: red;
    background-color: #000;
    font-family: "Julius Sans One", sans-serif !important;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}

.event-desc {
    margin-top: 5%;
    margin-left:5%;
    width: 90%;
    text-align: center;
    font-family: "Julius Sans One", sans-serif !important;
    font-weight: 400;
    line-height: 1.4em;
    font-size: 11px;
    color: white;
    /*   background-color:#777; */
    /*   display:flex; */
}

.reg-btn {
    z-index: 1;
    background-color: red;
    color: white;
    /* width:30%; */
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 7%;
    position: absolute;
    bottom: 0;
    font-size: 15px;
    background-color: red;
    font-family: "Julius Sans One", sans-serif !important;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 50px;
    background-image: linear-gradient(rgb(210, 0, 0), rgb(180, 0, 0), rgb(210, 0, 0));
    box-shadow: 0 0 30px #101;
    cursor: pointer;
    /*   transition: all 0.2s; */
}

.reg-btn:hover {
    background-image: linear-gradient(rgb(240, 0, 0), rgb(210, 0, 0), rgb(240, 0, 0));
}