@import url("https://fonts.googleapis.com/css?family=Audiowide|Julius+Sans+One");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
/*
body {
  background: #000;
  background-size: cover;
}*/

.toggle-btn {
  position: absolute;
  margin: 1.4em;
  padding: 1em;
  width: 40px;
  height: 12px;
  right: 0;
  top: 20px;
  z-index: 1000001;
}

span.one {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fff;
}

span.two {
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fff;
  margin-top: 12px;
}

.menu {
  z-index: 1000000;
  position: absolute;
  background: #000;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  top: -100%;
}

.data {
  z-index: 10000001;
  padding: 12vw 0 0 4vw;
  text-align: left;
  height: 100vh;
  width: 100vh;
}

ul {
  list-style: none;
}

li:first-child {
  color: #fff;
  font-family: "Julius Sans One", sans-serif !important;
  font-size: 10vh;
}

li:not(:first-child) {
  color: #fff !important;
  font-size: 6vh;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Julius Sans One", sans-serif !important;
}
.menu {
  animation: visibleTHREE 2s ease-in forwards;
  animation-delay: 3s;
  opacity: 0;
}
.toggle-btn {
  animation: visibleTHREE 2s ease-in forwards;
  animation-delay: 3s;
  opacity: 0 !important;
}

@keyframes visibleTHREE {
  0% {
    display: none;
    opacity: 0;
  }
  5% {
    display: block;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.res_inv {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .res_inv {
    display: inline;
  }
}
