.event-wrapper{
    margin:0 0 0 -33px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.heading{
    margin:0 0 0 33px;
    flex-wrap: wrap;
    display:flex;
    font-size: 48px;
    justify-content: center;
    width: 100%;
}

.events{
    margin:30px;
    align-items:center;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.events div:nth-child(1){
    /* -webkit-box-shadow:0 0 30px rgb(16, 0, 43); 
    -moz-box-shadow:0 0 30px rgb(16, 0, 43);
    box-shadow:0 0 30px rgb(16, 0, 43);
    margin:7px;
    background-color:rgb(117, 0, 226);
    width:200px;
    height: 300px; */
}

@media only screen and (max-width:479px){
    .projects-list {
        padding: 50% 0;
    }
    .heading{
        font-size: 24px !important;
    }
    .events div{
        /* width:100px;
        height: 150px;  */
    }

    .events-category{
        font-size: 30px;
    }
}