.transition, form button, form .question label, form .question input[type="text"] {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }
  
  * {
    font-family: Helvetica, sans-serif;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
  }
  
  form {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: #1a1a1a;
    border-radius: 40px;
    margin: 40px 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  form h1 {
    color: #B3000C;
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  form button {
    margin-top: 35px;
    background-color: #1A1A1A;
    border: 1px solid #B3000C;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: #B3000C;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }
  form button:hover, form button:focus {
    color: white;
    background-color: #B3000C;
  }
  form .question {
    position: relative;
    padding: 10px 0;
  }
  form .question:first-of-type {
    padding-top: 0;
  }
  form .question:last-of-type {
    padding-bottom: 0;
  }
  form .question label {
    transform-origin: left center;
    color: #B3000C;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
  }
  form .question input[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid #B3000C;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #B3000C;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }
  form .question input[type="text"]:focus {
    outline: none;
    background: #B3000C;
    color: white;
    margin-top: 30px;
  }
  form .question input[type="text"]:valid {
    margin-top: 30px;
  }
  form .question input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }
  form .question input[type="text"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
  }
  






  .styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;
  }
  .styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    /* If you add too much padding here, the options won't show in IE */
    width: 268px;
  }
  .styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
  }
  .styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
  }
  /* -------------------- Rounded Corners */
  .rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  .semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  /* -------------------- Colors: Background */
  .slate {
    background-color: #ddd;
  }
  .green {
    background-color: #779126;
  }
  .blue {
    background-color: #3b8ec2;
  }
  .yellow {
    background-color: #B3000C;
  }
  .black {
    background-color: #000;
  }
  /* -------------------- Colors: Text */
  .slate select {
    color: #000;
  }
  .green select {
    color: #fff;
  }
  .blue select {
    color: #fff;
  }
  .yellow select {
    color: #fff;
  }
  .black select {
    color: #fff;
  }
  /* -------------------- Select Box Styles: danielneumann.com Method */
  /* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
  #mainselection select {
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
    -webkit-appearance: none;
  }
  #mainselection {
    overflow: hidden;
    width: 350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
  }
  /* -------------------- Select Box Styles: stackoverflow.com Method */
  /* -------------------- Source: http://stackoverflow.com/a/5809186 */
  select#soflow,
  select#soflow-color {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
  }
  select#soflow-color {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
  }
  

  /*  ---------------- avatar  --------------- */

  




  
  ::-webkit-input-placeholder {
      opacity: 0.8;
      color: #B3000C;
  }
  
  ::-moz-placeholder {
      opacity: 0.8;
      color: #B3000C;
  }
  
  :-moz-placeholder {
      opacity: 0.8;
      color: #B3000C;
  }
  
  :-ms-input-placeholder {
      opacity: 0.8;
      color: #B3000C;
  }
  
  
  .preview {
          display: block;
          width: 200px;
          height: 200px;
          margin: 20px auto;
          box-shadow: 0px 0px 0px 2px #B3000C;
          border-radius: 50%;
          overflow: hidden;
  }
  
  .file-upload-wrapper {
          position: relative;
          z-index: 5;
          display: block;
          width: 250px;
          height: 30px;
          margin: 25px auto;
          border-radius: 0px;
          border-bottom: 1px dashed #B3000C;
  }
  
  .file-upload-native,
  .file-upload-text {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          cursor: pointer;
          color: #B3000C;
  }
  
  input[type="file"]::-webkit-file-upload-button {
          cursor: pointer;
  }
  
  .file-upload-native:focus,
  .file-upload-text:focus {
          outline: none;
  }
  
  .file-upload-text {
          z-index: 10;
          padding: 5px 15px 8px;
          overflow: hidden;
          font-size: 14px;
          line-height: 1.4;
          cursor: pointer;
          text-align: center;
          letter-spacing: 1px;
          text-overflow: ellipsis;
          border: 0;
          background-color: transparent;
  }
  
  .file-upload-native {
          z-index: 15;
          opacity: 0;
  }



  /* red #B3000C */