.item1_1 {
  grid-area: infox_one;
}
.item2_1 {
  grid-area: t1_1;
}
.item3_1 {
  grid-area: t2_1;
}
.item4_1 {
  grid-area: t3_1;
}
.item5_1 {
  grid-area: t4_1;
}
.item6_1 {
  grid-area: t5_1;
}
.item7_1 {
  grid-area: t6_1;
}
.item8_1 {
  grid-area: t7_1;
}
.item9_1 {
  grid-area: t8_1;
}

.place1_1 {
  grid-area: p1_1;
}
.place2_1 {
  grid-area: p2_1;
}
.place3_1 {
  grid-area: p3_1;
}
.place4_1 {
  grid-area: p4_1;
}
.place5_1 {
  grid-area: p5_1;
}
.place6_1 {
  grid-area: p6_1;
}
.place7_1 {
  grid-area: p7_1;
}
.place8_1 {
  grid-area: p8_1;
}
.place9_1 {
  grid-area: p9_1;
}
.place10_1 {
  grid-area: p10_1;
}
.place11_1 {
  grid-area: p11_1;
}
.place12_1 {
  grid-area: p12_1;
}
.place13_1 {
  grid-area: p13_1;
}
.place14_1 {
  grid-area: p14_1;
}
.place15_1 {
  grid-area: p15_1;
}
.place16_1 {
  grid-area: p16_1;
}
.empty {
  grid-area: e_1;
  background-color: #141414 !important;
}
.empty2 {
  grid-area: e_2;
  background-color: #141414 !important;
}
.code_express {
  grid-area: c_e;
}

.grid_container {
  display: grid !important;
  width: 75vw;
  /* height: 25vh; */
  grid-template-areas:
    "infox_one t1_1 t2_1 t3_1 t4_1 t5_1 t6_1 t7_1 t8_1"
    "p1_1 c_e e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p2_1 c_e e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p3_1 c_e e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p4_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p5_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p6_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p7_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p8_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p9_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p10_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p11_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p12_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p13_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p14_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p15_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 "
    "p16_1 e_2 e_1 e_1 e_1 e_1 e_1 e_1 e_1 ";

  /* "menu main main main right right"
    "menu footer footer footer footer footer"; */
  grid-gap: 5px;
  /* background-color: #444; */
  padding: 2px;
  margin-top: -10vh;
  margin-bottom: 5vh;
}

.grid_container > div {
  /* border: 1px solid #666; */
  background-color: #141414;
  text-align: center;
}
