/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background:transparent; 
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background:#B3000C ;
    border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #B3000C; 
}