@media only screen and (max-width: 479px){
  .our-sponsors{
    
  }

  .sponsor-heading{
    font-size:20px !important;
  }

  .sponsor-container{
    
  }

  .sponsor-container div{
    width:100px !important;
    height: 100px !important;
    margin:5px 5px !important;
    border:5px solid #B3000C !important;
  }

  .sponsor-container{
    width:80% !important;
  }

  .media-block{
   
  }
}

.our-sponsors{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.our-sponsors div{
  margin: 5vh 0 ;
}

.sponsor-heading{
  font-size: 36px;
  /* border:2px solid red; */
  background-color: red;
  padding:10px 20px;
  border-radius: 50px;
  background-image: linear-gradient(rgb(210, 0, 0), rgb(180, 0, 0),rgb(210, 0, 0));
  box-shadow: 0 0 30px #101;
}

.sponsor-container{
  position: relative;
  justify-content:center;
  display:flex;  
  flex-wrap:wrap;
  justify-content:space-around;
  /* margin:0 0 100px 0; */
}

.sponsor-container div{
  text-transform: uppercase;
  height: 240px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:45px;
  border-radius: 100%;
  background-color: white;
  overflow: hidden;
  border:10px solid #B3000C;
}

.img-class{
  width:80%;
  /* height:100%; */
  /* object-fit: contain; */
}

.small{
  width:60% !important;
}

.large{
  width: 120% !important;
}

.media-block {
  /* margin-top:8vh; */
  /* margin-bottom: -35vh; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 10;
  position:relative;
}


