@import url("https://fonts.googleapis.com/css?family=Audiowide|Julius+Sans+One");
html {
  height: 100vh;
  text-align: center;
  background: #000;
  color: #fff;
}
canvas {
  width: 90vw !important;
}

body {
  margin: auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
p.fonts {
  font-family: "Julius Sans One", sans-serif !important;
  font-size: 1.3em !important;
  position: relative !important;
  top: 85vh;
  animation: slide-in 2.5s cubic-bezier(0, 0.65, 0.29, 1) 0s both,
    fade-in 1.25s linear both;
  animation-delay: 1s;
}
#footer_line {
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  height: auto;
  background: #ee230836;
  font-size: 1.1em !important;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

p.footer {
  font-family: "Julius Sans One", sans-serif !important;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/* Pre-loader */

#gx {
  text-align: center;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 8vh;
  /* display: none; */
  /* left: -2vw; */
}

#gx-logo {
  fill: #000000;
  stroke: #666;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: bevel;
  stroke-dasharray: 1800;
  height: 90vh;
  width: 90vw;
  stroke-dashoffset: 1800;
  animation: dash 3s ease-in forwards;
}

canvas {
  animation: visibleTHREE 2s ease-in forwards;
  /* animation-delay: 2s; */
}

.main {
  animation: visibleTHREE 2s ease-in forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes visibleTHREE {
  0% {
    display: none;
    opacity: 0;
  }
  5% {
    display: block;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dash {
  0% {
    /* display: block; */
    stroke-dashoffset: 1800;
    /* display: block; */
    opacity: 1;
  }
  80% {
    /* display: block; */
    stroke-dashoffset: 0;
    /* display: block; */
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    /* display: none; */
    opacity: 0;
    /* display: none; */
  }
}
.res_inv {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .res_inv {
    display: inline;
  }
}
