@import url("https://fonts.googleapis.com/css?family=Oswald:700");
@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Julius+Sans+One");
html {
  height: 100%;
  display: flex;
  /* overflow: hidden; */
}

body {
  margin: auto;
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}
scene,
scene2 {
  position: relative;
  z-index: 5;
  text-align: center;
}
p.fonts {
  font-family: "Julius Sans One", sans-serif !important;
  font-size: 1.5em !important;
  position: relative !important;
  top: 85vh;
  animation: slide-in 2.5s cubic-bezier(0, 0.65, 0.29, 1) 0s both,
    fade-in 1.25s linear both;
  animation-delay: 1s;
}
#footer_line {
  overflow: hidden;
  padding: 0;
  height: auto;
  /* line-height: px !important; */
  background: #ee230836;
  font-size: 1.2em !important;
  position: absolute;
  left: 0;
  top: 97vh;
  /* width: 100%; */
  width: 100vw;
  /* left: -20vw; */
  /* height: 3vh; */
  display: flex;
  justify-content: space-around;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

p.footer {
  /* position: relative;
  
  top: 97vh; */
  font-family: "Julius Sans One", sans-serif !important;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

html {
  text-align: center;
  background: #000;
  color: #fff;
}

/* #scene {
  width: 100%;
} */

/* .text-overlap {
  z-index: 1;
  font-family: "Audiowide", cursive;
  font-weight: 700;
  font-size: 8vw;
  text-transform: uppercase;
}

.text-overlap.splitting .char {
  margin-right: -0.12em;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  animation: slide-in 2.5s cubic-bezier(0, 0.65, 0.29, 1) 0s both,
    fade-in 1.25s linear both;
  animation-delay: calc(1s + (0.5s * var(--distance-percent)));
}
@keyframes slide-in {
  0% {
    transform: translateX(1em);
    transform: translateX(calc(0.12em * var(--char-offset))) translateZ(0px);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
.text-overlap.splitting b {
  display: inline-block;
  color: red;
  animation-name: slide-in-v, fade-in;
  animation-fill-mode: both;
  animation-delay: 1s;
  animation-duration: 1.75s, 1s;
  animation-timing-function: cubic-bezier(0, 0.7, 0.1, 1), linear;
}
@keyframes slide-in-v {
  0% {
    opacity: 0;
    transform: translateX(1em);
    transform: translateY(-50vh);
  }
}
.text-overlap.splitting b ~ * .char {
  z-index: calc(1 * (var(--char-total) - var(--char-index)));
} */
