<% include ../partials/header-links.ejs %>
<link rel="stylesheet" href="css/team.css">


<% include ../partials/new-nav-bar %>
<% include ../partials/login-modal %>
<div class="title-section" style="margin-top: 30px;">
    <h1 class="overlay-section">Dashboard</h1>
    <h1 class="subtitle-section">Your Events. Your Infox</h1>
</div>

<!--<div class="events-heading">Your Events</div>-->
<div class="events">
</div>


<% include ../partials/footer %>


<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/team.js"></script>
</body>

</html>
