<% include ../partials/header-links.ejs %>
<link rel="stylesheet" href="css/team.css">


<% include ../partials/new-nav-bar %>
<% include ../partials/login-modal %>
<div class="title-section" style="margin-top: 30px;">
    <h1 class="overlay-section">Dashboard</h1>
    <h1 class="subtitle-section">Your Events. Your Infox</h1>
</div>

<div class="events-heading">Your Events</div>
<div class="events">

    <%
    console.log("programming.length:" + programming.length)
    for(i=0;i<programming.length;++i){%>
    <div class="card">
        <div class="card-inner-wrapper">
            <div class="pic-wrapper">
                <div class="pic">
                    <img src="/img/UHACK1.png">
                </div>
                <div class="pic-info">
                    <div class="event-info">
                        <div class="event-heading"><%=programming[i].name%></div>
                        <div class="event-desc">
                            <%=programming[i].short%>
                        </div>
                    </div>
                    <div class="reg-btn">Register</div>
                </div>
            </div>
        </div>
    </div>

    <%}%>
</div>


<% include ../partials/footer %>


<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/team.js"></script>
</body>

</html>
