#countup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    font-family: "Lato",Helvetica,Arial,sans-serif;
}
#countup span.number {
	display: block;
	padding: 0px;
	margin: 0;
	font-size:70px;
	line-height: 75px;
	text-align: center;
}
#countup span.label {
	display: block;
	font-size:25px;
	line-height: 30px;					
}

#countup .part {
	display: inline-block;
	text-align: center;
    width: 22%;
    height: 22%;
	padding: 1%;
}

@media only screen and (max-width: 1200px) {
	#countup span.number {
		font-size:60px;
		line-height: 65px;
		text-align: center;
	}
	#countup span.label {
		display: block;
		font-size: 20px;
		line-height: 25px;					
	}

}

@media only screen and (max-width: 820px) {
	#countup span.number {
		display: block;
		padding: 0px;
		margin: 0;
		font-size:40px;
		line-height: 45px;
		text-align: center;
	}
	#countup span.label {
		display: block;
		font-size:15px;
		line-height: 15px;					
	}

}

@media only screen and (max-width: 600px) {
	#countup span.number {
		display: block;
		padding: 0px;
		margin: 0;
		font-size:30px;
		line-height: 35px;
		text-align: center;
	}
	#countup span.label {
		display: block;
		font-size:12px;
		line-height: 12px;					
	}
}

.timer-wrapper{
	/* position: relative; */
	/* margin-top:-2%; */
	width: 100vw;
	height: 100vh;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
}

.timer-container{
	/* margin: -3% 0 !important; */
	/* background-color: #aaa; */
	/* margin : auto 0; */
	height: 50%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	/* margin: auto 0; */
}

@media only screen and (max-width : 767px){
    .timer-wrapper{
		/* display:none; */
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9); 
    }
}

@media only screen and (max-width : 479px){
    .timer-container{
		/* margin : auto 0; */
		height: 20%
    }
    #countup{
		display:none;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
	}
	.screen{
		width:300px;
		height: 50px;
	}
    #countup .part{
        margin:10px 0;
        width:120px;
        height: 120px;
    }
}

