<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/js/materialize.js"></script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });

</script>
</body>
</html>