<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->

<!-- is css ko hatane ji koshish mat krna -->

<style>
    .anim-circle{
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    width:60px;
    height: 60px;
    background-color: #B3000C;
    border-radius:30px;
    z-index: 1;
}
.about-heading{
    font-size: 26px;
}

.about-flex{
    position:relative;
    width:60px;
    top:-60px;
    padding:10px 20px  40px 20px;
    overflow:hidden;
    height: 60px;
    border-radius: 30px;
    background-color: #000000;
    text-align: justify;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 100px;
    padding:16px 0px !important;
    width:180px !important;
}

@media only screen and (max-width:479px){
    .anim-circle{
        width:35px;
        height: 35px;
    }

    .about-heading{
        font-size: 14px;
    }

    .about-flex{
        border-radius: 15px;
        width:35px;
        top:-35px;
        padding:0 10px 10px 10px;
        height: 35px;
    }

    .about-flex img {
        height: 120px !important;
        width:120px !important;
    }

    .about-flex div{
        font-size: 12px !important;
        justify-content: center !important;
    }

    .btn{
        border-radius: 18px;
        padding:8px 4px !important;
        width:130px !important;
    }

    .container{
        margin-top:-30px !important;
    }
}
</style>
<head>
    <link rel="stylesheet" href="css/slideshow.css">
</head>
<body>

    <% include ../partials/svg-and-style %>
<div id="test"> <!--class="nav-wrapper"-->
    <header class="is-large">
        <% include ../partials/navbar %> <!-- Common navbar he ismein -->
    </header>
</div>

<section class="join-main-block">
    <div class="container">
        <div class="anim-circle"><div class="about-heading"></div></div>
        <div class="about-flex">
            <img src="img/iplogo.png"
            data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150" data-aos-easing="ease-in-out"  
            alt="ipu logo" href="http://ipu.ac.in/" style="height: 250px ; width: 250px;">
            <div style="display: flex"
            data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150" data-aos-easing="ease-in-out">
                InfoXpression is the annual technical fest of Guru Gobind Singh Indraprastha University organized by 
                University School of Information and Communication Technology. It is the biggest technical 
                extravaganza held at Guru Gobind Singh Indraprastha University, and involves an active participation of 
                students from over 250 colleges of north India. An exhilarating voyage of technical know-how, 
                InfoXpression focuses on the promotion of technology and innovation. It gives you a chance to stop, 
                culminate new ideas and showcase your technical expertise. The fest is a three day grandeur which is 
                result of a month long affair of prelims and stage levels. It involves a series of competitions, workshops 
                and guest lectures by some eminent personalities. InfoXpression is an amalgamation of creativity and 
                imagination. It will be a perfect blend of entertainment and technology with the aim of transformation 
                and empowerment of the society.
            </div>
            <!-- <a class="btn" href="#team-link" onclick="scrollToElement(this.hash, 800);">See our Team</a> -->
        </div>
    </div>
</section>

<!-- showcase -->
<div class="cont s--inactive">
    <!-- cont inner start -->
    <div class="cont__inner">
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <!-- <h2 class="el__heading">InfoX 1</h2> -->
            </div>
            <div class="el__content">
              <div class="el__text">Whatever</div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <!-- <div class="el__index-back">1</div> -->
          <div class="el__index-front">
            <!-- <div class="el__index-overlay" data-index="1">1</div> -->
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <!-- <h2 class="el__heading">InfoX 2</h2> -->
            </div>
            <div class="el__content">
              <div class="el__text">Whatever</div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <!-- <div class="el__index-back">2</div> -->
          <div class="el__index-front">
            <!-- <div class="el__index-overlay" data-index="2">2</div> -->
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <!-- <h2 class="el__heading">InfoX 3</h2> -->
            </div>
            <div class="el__content">
              <div class="el__text">Whatever</div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <!-- <div class="el__index-back">3</div> -->
          <div class="el__index-front">
            <!-- <div class="el__index-overlay" data-index="3">3</div> -->
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <!-- <h2 class="el__heading">InfoX 4</h2> -->
            </div>
            <div class="el__content">
              <div class="el__text">Whatever</div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <!-- <div class="el__index-back">4</div> -->
          <div class="el__index-front">
            <!-- <div class="el__index-overlay" data-index="4">4</div> -->
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <!-- <h2 class="el__heading">InfoX 5</h2> -->
            </div>
            <div class="el__content">
              <div class="el__text">Whatever</div>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <!-- <div class="el__index-back">5</div> -->
          <div class="el__index-front">
            <!-- <div class="el__index-overlay" data-index="5">5</div> -->
          </div>
        </div>
      </div>
      <!-- el end -->
    </div>
    <!-- cont inner end -->
  </div>
  

<% include ../partials/footer %>


<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/team.js"></script>
<script type="text/javascript">
    if($(window).width() <= 479){
        setTimeout(function(){
            $(document).ready(function(){
                $(".anim-circle").animate({width: "100px"},500,'easeOutExpo',function(){
                    $(".about-heading").fadeOut(100,function(){
                        $(this).html("ABOUT US").fadeIn(function(){
                            // alert('hello');
                        });
                    });
                });
                $(".about-flex").animate({width: "100px"},500,'easeOutExpo',function(){
                    $(".about-flex").animate({top:"15px"},400,'easeOutExpo',function(){
                        $(this).animate({width:"100%"},400,'easeOutExpo',function(){
                            $(this).animate({height:"100%"},800,'easeOutExpo');
                        })  
                    });
                });
            });
        },1000);
    }else{
        setTimeout(function(){
            $(document).ready(function(){
                $(".anim-circle").animate({width: "200px"},500,'easeOutExpo',function(){
                    $(".about-heading").fadeOut(100,function(){
                        $(this).html("ABOUT US").fadeIn(function(){
                            // alert('hello');
                        });
                    });
                });
                $(".about-flex").animate({width: "200px"},500,'easeOutExpo',function(){
                    $(".about-flex").animate({top:"30px"},400,'easeOutExpo',function(){
                        $(this).animate({width:"100%"},400,'easeOutExpo',function(){
                            $(this).animate({height:"100%"},800,'easeOutExpo');
                        })  
                    });
                });
            });
        },1000);
        }
</script>
<script src="js/slideshow.js"></script>
</body>

</html>
