<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->

  
<body id="invert-view">

  <% include ../partials/svg-and-style %>

  <div id="test"> <!--class="nav-wrapper"-->
    <header class="is-large">
        <% include ../partials/navbar %> <!-- Common navbar he ismein -->
    </header>
  </div>

  <!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<section class="blog-block">
  <div class="container">
    <h1>Blog</h1>

    
    <div class="card">
      <a href="ann-research-rfp/index.html">
        <img alt="Introducing Protocol Labs Research and Grant Program" src="../img/PLRgrid_blue.png">
      </a>
      <div class="card-inner">
        <h2><a href="ann-research-rfp/index.html">Introducing Protocol Labs Research and Grant Program</a></h2>
        <figure>
          <img alt="Protocol Labs" src="../mstile-310x310.png">
          <figcaption><a href="#">Protocol Labs</a> on April 10, 2018</figcaption>
        </figure>
        &ldquo;We should accelerate the ideas-to-superpowers pipeline. At the heart of computing progress lies a simple process: the research, development, and deployment cycle. Ideas are conceived and refined, encoded into mathematical rules, programmed into software, and deployed into computers, which grants super-powers to humans world-wide. The better and faster we are at sifting ideas through this pipeline, the better and faster our superpowers will come.&ldquo;
&ndash; From Protocol Labs: Creating New Networks
        
        <a class="btn" href="ann-research-rfp/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="announcing-saft-project/index.html">
        <img alt="Announcing the SAFT Project" src="../img/blog/saft-project.png">
      </a>
      <div class="card-inner">
        <h2><a href="announcing-saft-project/index.html">Announcing the SAFT Project</a></h2>
        <figure>
          <img alt="Protocol Labs" src="../mstile-310x310.png">
          <figcaption><a href="#">Protocol Labs</a> on October 2, 2017</figcaption>
        </figure>
        <p>Today we’re excited to formally announce the launch of the SAFT Project, a collaboration between Protocol Labs, Cooley, and many other token creators, legal experts, and investors. The SAFT project, <a href="https://www.youtube.com/watch?v=YTlfXxs5rUY&amp;feature=youtu.be&amp;t=169">initially announced by Protocol Labs founder Juan Benet at the Consensus conference this past winter</a>, has been a work in progress for quite some time. Today we’re launching a <a href="http://www.saftproject.com/">dedicated website</a> and <a href="https://github.com/saft-project">Github organization</a> which will serve as a forum to aggregate learnings, best practices, and published materials.</p>

<p>The SAFT Project is dedicated to evolving the token investment and sale ecosystem in a compliant and standardized fashion. We hope to approach legal protocol development the same way we approach developing software protocols: with a thoughtful community, significant goals, and rigorous work. We hope our work will save creators much of the current headache, uncertainty, and cost associated with raising money for token networks.</p>

<p></p>
        
        <a class="btn" href="announcing-saft-project/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="filecoin-sale-completed/index.html">
        <img alt="Filecoin Sale Completed" src="../img/blog/filecoin-header.png">
      </a>
      <div class="card-inner">
        <h2><a href="filecoin-sale-completed/index.html">Filecoin Sale Completed</a></h2>
        <figure>
          <img alt="Protocol Labs" src="../mstile-310x310.png">
          <figcaption><a href="#">Protocol Labs</a> on September 13, 2017</figcaption>
        </figure>
        Dear Filecoin investors, supporters, and broader community,
The Filecoin Sale completed on Sep 7th, 2017, at 19:00 UTC. The sale was a resounding success! We raised over $205M in USD, ETH, BTC, and ZEC. We are all deeply humbled and grateful for your tremendous support. We cannot thank you enough for investing in our work, for creating the Filecoin Network with us, and for helping us decentralize storage world-wide.
        
        <a class="btn" href="filecoin-sale-completed/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="sale-update-and-reopen/index.html">
        <img alt="First Day Sale Update, Reopening Aug 12, 11:00am PDT" src="../img/blog/coinlist-filecoin.png">
      </a>
      <div class="card-inner">
        <h2><a href="sale-update-and-reopen/index.html">First Day Sale Update, Reopening Aug 12, 11:00am PDT</a></h2>
        <figure>
          <img alt="Protocol Labs" src="../mstile-310x310.png">
          <figcaption><a href="#">Protocol Labs</a> on August 11, 2017</figcaption>
        </figure>
        <h2 id="notice-sale-reopens-sat-aug-12-at-11-00am-pdt"><em>NOTICE: Sale reopens Sat, Aug 12 at 11:00am PDT</em></h2>

<p>Dear Filecoin Investors, and broader community,</p>

<p>Wow! We are deeply humbled and grateful for your tremendous support. As soon as we opened the sale <a href="https://coinlist.co/currencies/filecoin/">we were overwhelmed with thousands of investments</a>. These last weeks have been a rollercoaster for the team, and your outpouring of support is intensely energizing. Thousands of people in our community rallied together to take part in this important event, as investors, as supporters, as trouble-shooters, and as vocal enthusiasts. The world took notice.</p>

<p>We wanted to give you a thorough update covering the following:</p>

<ul>
<li>CoinList service interruptions during the first hour</li>
<li>our decision to pause the sale</li>
<li>a few frequent issues we’ve noticed and how to address them</li>
<li>and our plans for resuming the sale</li>
</ul>

<p></p>
        
        <a class="btn" href="sale-update-and-reopen/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="filecoin-sale-delayed-until-aug-10/index.html">
        <img alt="Sale Delayed — New Date: Thursday Aug 10" src="../img/blog/coinlist-filecoin.png">
      </a>
      <div class="card-inner">
        <h2><a href="filecoin-sale-delayed-until-aug-10/index.html">Sale Delayed — New Date: Thursday Aug 10</a></h2>
        <figure>
          <img alt="Protocol Labs" src="../mstile-310x310.png">
          <figcaption><a href="#">Protocol Labs</a> on August 7, 2017</figcaption>
        </figure>
        Hey Everyone,
Bad news. We unfortunately have to delay the sale. This is painful — for us, as much as anybody else — but it is necessary. We are doing many, many things for the first time, and this sale will be a landmark event in the space. As a reminder, the original Ethereum sale pushed back several times before their launch. Rockets delay their launches all the time. Ultimately, it&rsquo;s much better to get these things absolutely right.
        
        <a class="btn" href="filecoin-sale-delayed-until-aug-10/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="important-announcement-averaging-first-investments/index.html">
        <img alt="Important Filecoin Token Sale Update: Averaging First Investments &amp; more" src="../img/blog/coinlist-header.png">
      </a>
      <div class="card-inner">
        <h2><a href="important-announcement-averaging-first-investments/index.html">Important Filecoin Token Sale Update: Averaging First Investments &amp; more</a></h2>
        <figure>
          <img alt="Protocol Labs" src="../mstile-310x310.png">
          <figcaption><a href="#">Protocol Labs</a> on August 6, 2017</figcaption>
        </figure>
        Hello prospective Filecoin investors,
The last week has been quite a whirlwind. We&rsquo;ve been finishing final preparations for the big day Monday. This update concerns important sale mechanics and economics, and — though it does not address everything people have been asking about — it should mitigate the biggest concerns some groups have voiced. We wanted to get this update to you asap, but we needed to land it in code and test it thoroughly before making a public announcement.
        
        <a class="btn" href="important-announcement-averaging-first-investments/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="more-token-sale-details/index.html">
        <img alt="More Filecoin Token Sale Details — 7 days away!" src="../img/blog/filecoin-header.png">
      </a>
      <div class="card-inner">
        <h2><a href="more-token-sale-details/index.html">More Filecoin Token Sale Details — 7 days away!</a></h2>
        <figure>
          <img alt="Juan Benet" src="../img/blog_img_ava-01.jpg">
          <figcaption><a href="#">Juan Benet</a> on July 31, 2017</figcaption>
        </figure>
        First off, I want to thank our amazing community for being so creative, and so overwhelmingly supportive in this time. I want to personally send a huge “Thank You!” to everyone working hard to make the Filecoin Network a reality: our team, our researchers, our engineers, our product and project managers, our designers, our lawyers, our advisors, our investors, and all our supporters worldwide. We have seen an outpouring of excitement and support in this critical time.
        
        <a class="btn" href="more-token-sale-details/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="filecoin-proof-of-replication-power-fault-tolerance-research-roadmap/index.html">
        <img alt="Filecoin: Proof-of-Replication, Power-Fault-Tolerance and Research Roadmap" src="../img/blog/proof-of-rep.svg">
      </a>
      <div class="card-inner">
        <h2><a href="filecoin-proof-of-replication-power-fault-tolerance-research-roadmap/index.html">Filecoin: Proof-of-Replication, Power-Fault-Tolerance and Research Roadmap</a></h2>
        <figure>
          <img alt="Protocol Labs" src="../mstile-310x310.png">
          <figcaption><a href="#">Protocol Labs</a> on July 27, 2017</figcaption>
        </figure>
        <p>At Protocol Labs we are charting a course to the future, but we also know that the details make or break the plan. We love thoroughly explaining the reasons we think a decentralized storage network is worth building (and <a href="https://coincenter.org/entry/why-is-decentralized-and-distributed-file-storage-critical-for-a-better-web">have!</a>). At the same time, we’re also more than willing to openly discuss the challenges of implementing such a system. In fact, since the original Filecoin Paper was posted in 2014, the team has been working on building various logistical and cryptographic components necessary for decentralizing the internet’s storage. In this post, we introduce two of those components: Proof of Replication and Power Fault Tolerance.</p>

<p></p>
        
        <a class="btn" href="filecoin-proof-of-replication-power-fault-tolerance-research-roadmap/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="filecoin-token-sale-updated-date/index.html">
        <img alt="Updates &amp; New Filecoin Sale Date - August 7th" src="../img/blog/protocol_labs.jpg">
      </a>
      <div class="card-inner">
        <h2><a href="filecoin-token-sale-updated-date/index.html">Updates &amp; New Filecoin Sale Date - August 7th</a></h2>
        <figure>
          <img alt="Protocol Labs" src="../mstile-310x310.png">
          <figcaption><a href="#">Protocol Labs</a> on July 24, 2017</figcaption>
        </figure>
        Dear Community,
We are absolutely overwhelmed with the positive response to the new Filecoin whitepaper, our upcoming token sale, our video, and the other info we&rsquo;ve released. We&rsquo;ve been speaking with many of you, collecting feedback, and sharing our excitement. Thank you so much for the fantastic words of encouragement and support for the Filecoin Network. Getting here has taken a lot of hard work, and we are all very proud of the technology we are creating, the people we are bringing together, and the community we are building.
        
        <a class="btn" href="filecoin-token-sale-updated-date/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="ann-filecoin-token-sale-and-new-paper/index.html">
        <img alt="Announcing the Filecoin Token Sale and Upgraded Whitepaper" src="../img/blog/filecoin-header.png">
      </a>
      <div class="card-inner">
        <h2><a href="ann-filecoin-token-sale-and-new-paper/index.html">Announcing the Filecoin Token Sale and Upgraded Whitepaper</a></h2>
        <figure>
          <img alt="Protocol Labs" src="../mstile-310x310.png">
          <figcaption><a href="#">Protocol Labs</a> on July 19, 2017</figcaption>
        </figure>
        <iframe width="100%" height="415" src="https://www.youtube.com/embed/EClPAFPeXIQ" frameborder="0" allowfullscreen></iframe>

<p><strong>Update</strong>: We&rsquo;ve been overwhelmed with the positive response to our announcements these past few days! We greatly appreciate all the feedback and advice we&rsquo;ve received from our communities and we&rsquo;re incorporating this into our next announcements. We&rsquo;ll be releasing a detailed update soon including more on the upcoming sale. Stay tuned here and on our Twitter accounts: <a href="https://twitter.com/protocollabs">Protocol Labs</a> <a href="https://twitter.com/MineFilecoin">Filecoin</a></p>

<p>Over the past several months Protocol Labs has been hard at work across a spectrum of projects that culminate in our announcements today:</p>

<p></p>
        
        <a class="btn" href="ann-filecoin-token-sale-and-new-paper/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="why-is-decentralized-critical/index.html">
        <img alt="Why is decentralized and distributed file storage critical for a better web?" src="../img/blog/coin-center/header.png">
      </a>
      <div class="card-inner">
        <h2><a href="why-is-decentralized-critical/index.html">Why is decentralized and distributed file storage critical for a better web?</a></h2>
        <figure>
          <img alt="Protocol Labs" src="../mstile-310x310.png">
          <figcaption><a href="#">Protocol Labs</a> on June 20, 2017</figcaption>
        </figure>
        The team behind IPFS and Filecoin explain how advances in distributed data storage and strong alignment of market incentives are combining to create a much more secure and efficient web.
 In the span of less than three decades the web has become one of the greatest achievements in human history, responsible for never before seen gains in science, technology, and commerce. This amazing growth has been driven in large part by technologists abstracting away much of the underlying complexity of the internet.
        
        <a class="btn" href="why-is-decentralized-critical/index.html">Read more</a>
        
      </div>
    </div>
    
    <div class="card">
      <a href="protocol-labs-creating-new-networks/index.html">
        <img alt="Protocol Labs: Creating New Networks" src="../img/blog/protocol_labs.jpg">
      </a>
      <div class="card-inner">
        <h2><a href="protocol-labs-creating-new-networks/index.html">Protocol Labs: Creating New Networks</a></h2>
        <figure>
          <img alt="Juan Benet" src="../img/blog_img_ava-01.jpg">
          <figcaption><a href="#">Juan Benet</a> on May 18, 2017</figcaption>
        </figure>
        <p><strong>Protocol Labs is a research, development, and deployment lab for network protocols.</strong> We believe the internet is humanity’s most important technology. Our mission is to improve the internet and computing, generally. We are doing so by creating groundbreaking protocols, and speeding up the pipeline from ideas on paper to users’ hands. Today I’m excited to discuss the challenges of our time, our inspirations, our methods, our projects, and our business model. This post is just a short summary of our vision and plans for the future. In the coming months and years we’ll continue to expand on this vision with articles, talks, projects, and actions.</p>

<h2 id="our-background-the-challenges-of-our-time">Our Background: the challenges of our time</h2>

<p><a href="../img/blog/network.png"><img src="../img/blog/network.png" alt="Internet" /></a></p>

<p>The advent of computing radically transformed humanity, and so has the flourishing of our global nervous system: the Internet. This still-nascent medium of communication, of digital existence, will connect us and empower us in ways we&rsquo;ve only begun to understand. In just a few short decades we&rsquo;ve acquired tremendous, almost magical superpowers: we can speak to half the planet, at any time and from almost anywhere; we can explore and search the most complete compendium of human knowledge in seconds; we can reason about and solve tremendously difficult problems; we can work, play, and be together at a distance; we can conjure systems of digital and mechanical agents to do our bidding; we can change the world, we can save lives, we can wield all the powers of our species, for good and bad, with a sequence of keystrokes.</p>
        
        <a class="btn" href="protocol-labs-creating-new-networks/index.html">Read more</a>
        
      </div>
    </div>
    
  </div>
</section>

<footer>
  <% include ../partials/footer%>
</footer>

<script src="../js/common.js"></script>
<script src="../js/blog.js"></script>

</body>

<!-- Mirrored from protocol.ai/blog/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Aug 2018 19:12:26 GMT -->
</html>
