<% include ../partials/header-links2 %>
<!--Contains all header meta tags and links-->

<!-- is css ko hatane ji koshish mat krna -->

<style>
    .anim-circle{
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    width:60px;
    height: 60px;
    background-color: #B3000C;
    border-radius:30px;
    z-index: 1;
}
.about-heading{
    font-size: 26px;
}

.about-flex{
    position:relative;
    width:60px;
    top:-60px;
    padding:10px 20px  40px 20px;
    overflow:hidden;
    height: 60px;
    border-radius: 30px;
    background-color: #000000;
    text-align: justify;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 100px;
    padding:16px 0px !important;
    width:180px !important;
}

@media only screen and (max-width:479px){
    .anim-circle{
        width:35px;
        height: 35px;
    }

    .about-heading{
        font-size: 14px;
    }

    .about-flex{
        border-radius: 15px;
        width:35px;
        top:-35px;
        padding:0 10px 10px 10px;
        height: 35px;
    }

    .about-flex img {
        height: 120px !important;
        width:120px !important;
    }

    .about-flex div{
        font-size: 12px !important;
        justify-content: center !important;
    }

    .btn{
        border-radius: 18px;
        padding:8px 4px !important;
        width:130px !important;
    }

    .container{
        margin-top:-30px !important;
    }
}
</style>

<head>
</head>

<body>

    <% include ../partials/svg-and-style %>
    <div id="test">
        <!--class="nav-wrapper"-->
        <header class="is-large">
            <% include ../partials/navbar %>
            <!-- Common navbar he ismein -->
        </header>
    </div>

    <section class="join-main-block">
        <div class="container">
            <div class="anim-circle">
                <div class="about-heading"></div>
            </div>
            <div class="about-flex">
                <img src="img/infox.png" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150"
                    data-aos-easing="ease-in-out" alt="ipu logo" href="http://ipu.ac.in/" style="height: 250px ; width: 250px;">
                <div style="display: flex" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150"
                    data-aos-easing="ease-in-out">
                    WE ARE UNDER CONSTRUCTION FOR THIS PART OF OUR WEBSITE .
                    SORRY FOR INCONVENIENCE CAUSED.
                </div>
                <!-- <a class="btn" href="#team-link" onclick="scrollToElement(this.hash, 800);">See our Team</a> -->
            </div>
        </div>
    </section>




    <% include ../partials/footer %>


    <!-- Nav below is for hamburger -->

    <% include ../partials/hamburger %>


    <script src="../js/common.js"></script>
    <script src="../js/team.js"></script>
    <script type="text/javascript">
        if ($(window).width() <= 479) {
            setTimeout(function () {
                $(document).ready(function () {
                    $(".anim-circle").animate({ width: "100px" }, 500, 'easeOutExpo', function () {
                        $(".about-heading").fadeOut(100, function () {
                            $(this).html("SORRY").fadeIn(function () {
                                // alert('hello');
                            });
                        });
                    });
                    $(".about-flex").animate({ width: "100px" }, 500, 'easeOutExpo', function () {
                        $(".about-flex").animate({ top: "15px" }, 400, 'easeOutExpo', function () {
                            $(this).animate({ width: "100%" }, 400, 'easeOutExpo', function () {
                                $(this).animate({ height: "100%" }, 800, 'easeOutExpo');
                            })
                        });
                    });
                });
            }, 1000);
        } else {
            setTimeout(function () {
                $(document).ready(function () {
                    $(".anim-circle").animate({ width: "200px" }, 500, 'easeOutExpo', function () {
                        $(".about-heading").fadeOut(100, function () {
                            $(this).html("SORRY").fadeIn(function () {
                                // alert('hello');
                            });
                        });
                    });
                    $(".about-flex").animate({ width: "200px" }, 500, 'easeOutExpo', function () {
                        $(".about-flex").animate({ top: "30px" }, 400, 'easeOutExpo', function () {
                            $(this).animate({ width: "100%" }, 400, 'easeOutExpo', function () {
                                $(this).animate({ height: "100%" }, 800, 'easeOutExpo');
                            })
                        });
                    });
                });
            }, 1000);
        }
    </script>
</body>

</html>