<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->

<script src='//static.codepen.io/assets/editor/live/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js'></script><script src='//static.codepen.io/assets/editor/live/css_live_reload_init-e9c0cc5bb634d3d14b840de051920ac153d7d3d36fb050abad285779d7e5e8bd.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/felcans/pen/xOVBLY" />

</head><body>
<body>

   <% include ../partials/svg-and-style %>

   <div id="test"> <!--class="nav-wrapper"-->
    <header class="is-large">
        <% include ../partials/navbar %> <!-- Common navbar he ismein -->
        
    </header>
  </div>
<!-- <div class="flip-card" on-click="toggle('flipCard')">{{ flipCard ? 'Reset' : 'Animate' }}</div> -->
<div class="contact-flex">
    <div id="container"></div>
<<<<<<< HEAD
    
        <div class="contact-wrapper">
        <script id="template">
=======
    <script id="template">
        <div class="contact-wrapper">
>>>>>>> upstream/master
            <div class="envelope {{ flipCard ? 'active' : '' }}">
            <div class="response-text"></div>
            <div class="back paper"></div>
            <div class="content">
                <div class="form-wrapper">
                <form>
                    <div class="top-wrapper">
                    <div class="input">
                        <label>Name</label>
                        <input type="text" name="name"/>
                    </div>
                    <div class="input">
                        <label>Phone</label>
                        <input type="text" name="phone"/>
                    </div>
                    <div class="input">
                        <label>Email</label>
                        <input type="text" name="_replyto"/>
                    </div>
                    </div>
                    <div class="bottom-wrapper">
                    <div class="input">
                        <label>Subject</label>
                        <input type="text" name="_subject"/>
                    </div>
                    <div class="input">
                        <label>Message</label>
                        <textarea rows="5" name="message"></textarea>
                    </div>
                    <div class="submit">
                        <div id="submit-btn" class="submit-card" on-click="toggle('flipCard')">Send Mail</div>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="front paper"></div>
            </div>
<<<<<<< HEAD
        </script>
        </div>

<!-- <div class="contact-wrapper-map">
    <div><iframe class="mapsize" src="https://maps.google.com/maps?q=usict&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div>
</div>  -->
  </div>
  
  <!-- footer commneted for contact page for responsiveness of page -->
    <footer class="footer-margin">
=======
        </div>
</script> 
  </script>
  </div>
  

    <footer>
>>>>>>> upstream/master
    <% include ../partials/footer %>
    </footer>

    <!-- Nav below is for hamburger -->

    <% include ../partials/hamburger %>
</body>
<script src='//static.codepen.io/assets/common/stopExecutionOnTimeout-41c52890748cd7143004e05d3c5f786c66b19939c4500ce446314d1748483e13.js'></script><script src='https://cdn.jsdelivr.net/npm/ractive@0.9'></script>
<script >var ractive = new Ractive({
  el: '#container',
  template: '#template',
  data: {} });
//# sourceURL=pen.js
</script>
<script>
    $(document).ready(function(){
        $("#submit-btn").click(function(){
            $(".response-text").delay(1200).fadeOut(400,function(){
                $(this).html("<p>We'll contact you very soon</p>").fadeIn();
            });
        });
    });
</script>

<<<<<<< HEAD
</body>
=======
</body>
>>>>>>> upstream/master
