<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->

<body>

    <% include ../partials/svg-and-style %>

<div id="test"> <!--class="nav-wrapper"-->
<header class="is-large">
    <% include ../partials/navbar %> <!-- Common navbar he ismein -->
</header>
</div>


<div class="background Libp2p-background"></div>
<div class="background ipld-background"></div>
<div class="background ipfs-background"></div>
<div class="background filecoin-background"></div>
<div class="background multiformats-background"></div>

<div class="lists-hidden">
<section class="projects-list">
    <div class="container">
        <h2 class="events-category">Categories</h2>
        <div class="items">
            <a class="imghvr-zoom-out" href="#Filecoin" onclick="scrollToElement(this.hash, 800);trackClick('Projects_Filecoin');">
                <img alt="Robotic" src="../img/projects/logo_robot.svg">
                <figcaption class="fig-text">
                    Robotics
                </figcaption>
            </a>
            <a class="imghvr-zoom-out" href="#IPFS" onclick="scrollToElement(this.hash, 800);trackClick('Projects_IPFS');">
                <img alt="Coder" src="../img/projects/logo_coder.svg">
                <figcaption class="fig-text">
                    Coding
                </figcaption>
            </a>
            <a class="imghvr-zoom-out" href="#Libp2p" onclick="scrollToElement(this.hash, 800);trackClick('Projects_libp2p');">
                <img alt="Workshop" src="../img/projects/logo_workshop.svg">
                <figcaption class="fig-text">
                    Workshops
                </figcaption>
            </a>
            <a class="imghvr-zoom-out" href="#IPLD" onclick="scrollToElement(this.hash, 800);trackClick('Projects_IPLD');">
                <img alt="Treasure" src="../img/projects/logo_treasure.svg">
                <figcaption class="fig-text">
                    Adventure   
                </figcaption>
            </a>
            <a class="imghvr-zoom-out" href="#Multiformats" onclick="scrollToElement(this.hash, 800);trackClick('Projects_Multiformats');">
                <img alt="Ecell" src="../img/projects/logo_ecell.svg">
                <figcaption class="fig-text">
                    Qiuzes
                </figcaption>
            </a>
        </div>
    </div>
</section>
</div>

<!-- <section class="projects-section" id="IPFS" data-bg-selector=".ipfs-background">
    <figure class="container">
        <img alt class="fragment" src="../img/projects/logotype_IPFS.svg">
        <figcaption class="fragment">
            <p>IPFS is a new protocol to decentralize the web. IPFS enables the creation of completely decentralized and distributed applications, using content addressing and digital signatures.</br></br>IPFS makes the web faster, safer, and more open.</p>
            <a class="btn" href="https://ipfs.io/" target="_blank">View website</a><a class="btn github_btn" href="https://github.com/ipfs" target="_blank"></a>
        </figcaption>
    </figure>
</section> -->

<section class="projects-section" id="IPFS" data-bg-selector=".ipfs-background">
    <div class="event-wrapper">
        <div class="heading" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out">CODING</div>
        <div class="events" data-sequence='500'>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
        </div>
    </div>
</section>
<section class="projects-section" id="Filecoin" data-bg-selector=".filecoin-background">
    <div class="event-wrapper">
        <div class="heading" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out">ROBOTICS</div>
        <div class="events" data-sequence='500'>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
        </div>
    </div>
</section>
<section class="projects-section" id="Libp2p" data-bg-selector=".Libp2p-background">
    <div class="event-wrapper">
        <div class="heading" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out">WORKSHOPS</div>
        <div class="events" data-sequence='500'>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
        </div>
    </div>
</section>
<section class="projects-section" id="IPLD" data-bg-selector=".ipld-background">
    <div class="event-wrapper">
        <div class="heading" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out">ADVENTURE</div>
        <div class="events" data-sequence='500'>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
        </div>
    </div>
</section>
<section class="projects-section" id="Multiformats" data-bg-selector=".multiformats-background">
    <div class="event-wrapper">
        <div class="heading" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out">QUIZES</div>
        <div class="events" data-sequence='500'>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
            <div data-aos="zoom-in" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in-out"></div>
        </div>
    </div>
</section>

<footer>
        <% include ../partials/footer %>
</footer>


<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>

<!-- Scroll to top -->

<% include ../partials/move_to_top %>

<script src="../js/common.js"></script>
<script src="../js/projects.js"></script>

</body>

</html>
