<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from protocol.ai/blog/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Aug 2018 19:11:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">

    <link rel="icon" href="fav.png" sizes="16x16">

    <link rel="manifest" href="../manifest.json">

    <link href="https://fonts.googleapis.com/css?family=Amaranth|Arima+Madurai|Rambla|Salsa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../css/mobile-menu.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/t_contact.css">
    <link rel="stylesheet" href="../css/events-jk.css">
    <link rel="stylesheet" href="../css/sponsors.css">
    <link rel="stylesheet" href="../css/scrollbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../heroJs/3p/jquery.easing.min.js">

    <link rel="icon" type="image/png" href="fav.png">

    <script type="text/javascript" src="../js/jquery.1.8.3.min.js"></script>
    <!--Jquery ka new version he file mein-->
    <script type="text/javascript" src="../js/mobile-menu.js"></script>


    <script async src='../../www.google-analytics.com/analytics.js'></script>
    <title>Infox</title>
</head>

<body>
    <% include ../partials/new-nav-bar %>

    <div class="events-container">
        <div class="title-section">
            <h1 class="overlay-section">EVENTS</h1>
            <h1 class="subtitle-section">Time to show up skills</h1>
        </div>
        <div class="events-navigation">
            <div class="e-layer-1">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="electronic-icon" class="events-nav-item"
                    alt="Robotic" src="../img/projects/logo_robot.svg">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="coding-icon" class="events-nav-item"
                    alt="Robotic" src="../img/projects/logo_coder.svg">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="workshop-icon" class="events-nav-item"
                    alt="Workshop" src="../img/projects/logo_workshop.svg">
            </div>
            <div class="e-layer-2">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="adventure-icon" class="events-nav-item"
                    alt="Treasure" src="../img/projects/logo_treasure.svg">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="quiz-icon" class="events-nav-item"
                    alt="Ecell" src="../img/projects/logo_ecell.svg">
            </div>
        </div>


        <div id="electronic" class="events-section">
            <div class="events-heading">Electronics</div>
            <div class="events"></div>
        </div>


        <div id="coding" class="events-section">
            <div class="events-heading">Coding</div>
            <div class="events">
                <div class="card">
                    <div class="card-inner-wrapper">
                            <div class="pic-wrapper">
                                    <div class="pic">
                                        <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                                    </div>
                                    <div class="pic-info">
                                        <div class="event-info">
                                            <div class="event-heading">U Hack</div>
                                            <div class="event-desc">
                                                Hackathon is a flagship event of InfoXpression. It will be a 24hr overnight
                                                software hackathon, fuelled by grit, passion and coffee. Shoutout to all computer
                                                nerds and gizmo geeks.This is the student’s chance to push for a Digital India.
                                            </div>
                                        </div>
                                        <div class="reg-btn">Register</div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="workshop" class="events-section">
            <div class="events-heading">Workshops</div>
            <div class="events"></div>
        </div>


        <div id="adventure" class="events-section">
            <div class="events-heading">Adventure</div>
            <div class="events"></div>
        </div>


        <div id="quiz" class="events-section">
            <div class="events-heading">Entrepreurial</div>
            <div class="events"></div>
        </div>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/hamburger %>
    <% include ../partials/move_to_top %>

    <script>
        var eventOffset = 50;

        $(document).ready(function () {
            $(window).resize(function () {
                if ($(window).width() < 480) {
                    eventOffset = 0;
                } else {
                    eventOffset = 50;
                }
            });
        });

        if ($(window).width() < 480) {
            eventOffset = 0;
        }


        $("#electronic-icon").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#electronic").offset().top - eventOffset
            }, 800, 'easeOutExpo');
        });

        $("#coding-icon").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#coding").offset().top - eventOffset
            }, 800, 'easeOutExpo');
        });

        $("#workshop-icon").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#workshop").offset().top - eventOffset
            }, 800, 'easeOutExpo');
        });

        $("#adventure-icon").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#adventure").offset().top - eventOffset
            }, 800, 'easeOutExpo');
        });

        $("#quiz-icon").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#quiz").offset().top - eventOffset
            }, 800, 'easeOutExpo');
        });
    </script>

</body>