<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from protocol.ai/blog/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Aug 2018 19:11:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">

    <link rel="icon" href="/fav.png" sizes="16x16">

    <link rel="manifest" href="../manifest.json">

    <link href="https://fonts.googleapis.com/css?family=Amaranth|Arima+Madurai|Rambla|Salsa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../css/mobile-menu.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/t_contact.css">
    <link rel="stylesheet" href="../css/events-jk.css">
    <link rel="stylesheet" href="../css/sponsors.css">
    <link rel="stylesheet" href="../css/scrollbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../heroJs/3p/jquery.easing.min.js">

    <link rel="icon" type="image/png" href="fav.png">

    <script type="text/javascript" src="../js/jquery.1.8.3.min.js"></script>
    <!--Jquery ka new version he file mein-->
    <script type="text/javascript" src="../js/mobile-menu.js"></script>


    <script async src='../../www.google-analytics.com/analytics.js'></script>
    <title>Infox</title>
</head>

<body>
    <% include ../partials/new-nav-bar %>

    <div class="events-container">
        <div class="title-section">
            <h1 class="overlay-section">EVENTS</h1>
            <h1 class="subtitle-section">Time to show up skills</h1>
        </div>
        <div class="events-navigation">
            <div class="e-layer-1">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="electronic-icon" class="events-nav-item"
                    alt="Robotic" src="../img/projects/logo_robot.svg">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="coding-icon" class="events-nav-item"
                    alt="Robotic" src="../img/projects/logo_coder.svg">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="workshop-icon" class="events-nav-item"
                    alt="Workshop" src="../img/projects/logo_workshop.svg">
            </div>
            <div class="e-layer-2">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="adventure-icon" class="events-nav-item"
                    alt="Treasure" src="../img/projects/logo_treasure.svg">
                <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="new-easing" id="quiz-icon" class="events-nav-item"
                    alt="Ecell" src="../img/projects/logo_ecell.svg">
            </div>
        </div>


        <div id="electronic" class="events-section">
            <div class="events-heading">Electronics</div>
            <div class="events">

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Lord Of the lines</div>
                                    <div class="event-desc">
                                        This event is based on the line following robot. Robot must be able to follow a
                                        particular path or trajectory and decides its own course of action which
                                        interacts with obstacles. Track consists of a starting point, irregular path
                                        with some obstacles and a finish point.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Get. . set. . go</div>
                                    <div class="event-desc">
                                        Racing of robots is a fascinating experience. This event is based on
                                        Robo-racing. Every team have to bring their own designed racing bot with them.
                                        In this event, each team have to control their robot wirelessly in such a way
                                        that it finishes the track less time.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">The Maze runner</div>
                                    <div class="event-desc">
                                        This event is based on solving maze problems using IR sensors. This event will
                                        be split in two parts. In first part, robot has to scan the entire maze in a
                                        single run. In second part, robot has to process and find the shortest possible
                                        path using some smart calculations
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Gizmo clench</div>
                                    <div class="event-desc">
                                        Gizmo Clench is the competition which includes the designing and analysis of
                                        the circuits. It is an event which will test a participant's knowledge on the
                                        basics of electronics. It includes the building and implementation of design
                                        from basic logical circuits to hardcore electronic circuits.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Roboliga</div>
                                    <div class="event-desc">
                                        It’s football time and no-one plays soccer better than the engineers, in their
                                        own sophisticated way. The knack of fusing technology with sports seems to be
                                        an inherent quality among us, and to celebrate this very spirit, we hail this
                                        event known as Robo Liga .
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Robot of war</div>
                                    <div class="event-desc">
                                        Robot of War is a combat competition of robots. the sport of robot combat,
                                        involves teams of amateur and professional roboteers operating their own
                                        constructed robots to fight against each other, whilst also avoiding arena
                                        hazards
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div id="coding" class="events-section">
            <div class="events-heading">Coding</div>
            <div class="events">

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">U Hack</div>
                                    <div class="event-desc">
                                        Hackathon is a flagship event of InfoXpression. It will be a 24hr overnight
                                        software hackathon, fuelled by grit, passion and coffee. Shoutout to all
                                        computer
                                        nerds and gizmo geeks.This is the student’s chance to push for a Digital India.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/codesterr.webp" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Codester</div>
                                    <div class="event-desc">
                                        One code to rule them all, one code to bind them. Truly, we know the rush of
                                        encountering a challenge, tackling a problem head on and the camaraderie that
                                        comes with working alongside fellow programmers who are just as passionate
                                        about writing brilliant code.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/rooters.jpeg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Rooters</div>
                                    <div class="event-desc">
                                        A 4 hour long capture the flag ethical hacking competition conducted online
                                        with teams
                                        participating to solve questions on Web Exploits, Cryptography, Binary
                                        Exploits, Steganography
                                        and many more fields of computer security.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Genisis</div>
                                    <div class="event-desc">
                                        The aim of this event is to support the idea of implementing and getting a
                                        pragmatic knowledge of machine learning. The competition will consists of 3
                                        eclectic rounds like MCQ based on common techniques and basic knowledge
                                        followed by Data Analysis.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/mindthelang.jpeg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Mind The Language</div>
                                    <div class="event-desc">
                                        Mind The Language involves problem solving by coding in 'not so popular
                                        languages'. The event is quite fascinating as it allows the participants to
                                        learn new languages and also, adapt to their environment. The details of the
                                        languages are revealed on the spot.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Reverse Engineering</div>
                                    <div class="event-desc" style="font-size: 10.5px">
                                        You think Coding is all about problem statement and their solution? Think
                                        again, Can you decipher the given input and output test case to produce the
                                        quintessential code? The duration of competition is about 1hr and will held
                                        offline .This event is designed for freshman and sophomore.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Code Wars</div>
                                    <div class="event-desc">
                                        CodeWars is a finale event.Only top 16 teams will be allowed to take part in
                                        this event and these teams will be selected on the basis of their scores in
                                        Darwin games, Codester ans segfault.There will be 4( log2(16) ) rounds.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Infox women Special</div>
                                    <div class="event-desc">
                                        This year infox is organizing an event targeting mainly the female coders.This
                                        event is designed to support the growth and development of women in the field
                                        of competitive programming.Show off your skills of programming and grab amazing
                                        prizes.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Complete the app</div>
                                    <div class="event-desc">
                                        Complete the app will test your android development .If you have a keen eye for
                                        user interface and a knack for the quirks in a language, then this event is for
                                        you .You will be provided a problem and it’s incomplete solution
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Codexpress</div>
                                    <div class="event-desc">
                                        Infox has come up with a new type of contest this time CodeXpress and all you
                                        have got is 60 minutes to win.This contest mainly targets 1st year and 2nd year
                                        students.Anyone can take part in this event but only 1st and 2nd year will be
                                        eligible for prizes.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Webmasters</div>
                                    <div class="event-desc">
                                        This year infox is bringing its own UI/UX designing competition. So, it is a
                                        call to all the budding front-end developers to showcase their skills in
                                        building the websites having the potential to change the people’s view of web.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div id="workshop" class="events-section">
            <div class="events-heading">Workshops</div>
            <div class="events">
                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Meetup</div>
                                    <div class="event-desc">
                                        GSOC is a prestigious international annual program which encourages college
                                        students to collaborate and code. The program is open to university students
                                        aged 18 or over. The meetup will be a 2 hour community bonding session, or a
                                        lecture series or presentation from speakers.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="adventure" class="events-section">
            <div class="events-heading">Non-Technical</div>
            <div class="events">
                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Geek Wars</div>
                                    <div class="event-desc">
                                        Arguments are naturally constructive. They lead to a mind open to new ideas. In
                                        a field as dynamic as technology, we need to argue to keep ourselves on our
                                        toes and constantly updated. Thus, all our welcome to the technical debate.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Teasure hunt</div>
                                    <div class="event-desc">
                                        The box of miracles and secrets is waiting for you. Come and explore a whole
                                        new world within. Experience fun, like you have never before. Apply your brain
                                        in every technical aspect and hunt for the treasure.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Clash on clan</div>
                                    <div class="event-desc">
                                        Get ready for an adrenaline rush and a test of your senses. Compete against
                                        participants of different colleges to triumph as the best LAN gaming team. We
                                        have for you, first person shooters, races and what not. So get ready to enter
                                        a world of virtual reality, and prove yourself the best.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Magic climbing</div>
                                    <div class="event-desc">
                                        Magic cubing is a Rubik's cube solving event where cubing competitors compete
                                        and use there tactics by their moves to be in the top. The event consist of
                                        multiple round, in the first those who solve cube in minimum time go for the
                                        next round and rest will be eliminated.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">It's Triviosa not triviosaa!</div>
                                    <div class="event-desc" style="font-size: 10.5px">
                                        Accio readers! We're here to tell you about a quiz that revolves around Harry
                                        Potter, the Boy Who Lived. Who defended the sorcerer’s stone, who uncovered the
                                        secret chamber, who rescued the prisoner, who were chosen by the goblet
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div id="quiz" class="events-section">
            <div class="events-heading">Entrepreneurial</div>
            <div class="events">

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">Clash of companies</div>
                                    <div class="event-desc">
                                        Clash of Companies is the signature event of E-Cell which models the free
                                        market economy. Participants are allotted a team in a particular faction and
                                        they have compete with teams in their faction while negotiating and interacting
                                        with teams of the other faction.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-inner-wrapper">
                        <div class="pic-wrapper">
                            <div class="pic">
                                <img src="http://206.189.141.176:3000/uploads/posters/uhack.jpg" alt="">
                            </div>
                            <div class="pic-info">
                                <div class="event-info">
                                    <div class="event-heading">case study</div>
                                    <div class="event-desc">
                                        A case study is a competition of multiple rounds where participants are
                                        provided an actual case of a company facing a certain problem and they are
                                        required to present their ideas as to how the company can effectively tackle it
                                        in actual world.
                                    </div>
                                </div>
                                <div class="reg-btn">Register</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <% include ../partials/footer %>
    <% include ../partials/hamburger %>
    <% include ../partials/move_to_top %>

    <script>
        var eventOffset = 50;

        $(document).ready(function () {
            $(window).resize(function () {
                if ($(window).width() < 480) {
                    eventOffset = 0;
                } else {
                    eventOffset = 50;
                }
            });
        });

        if ($(window).width() < 768) {
            eventOffset = 0;
        }


        $("#electronic-icon").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#electronic").offset().top - eventOffset
            }, 800, 'easeOutExpo');
        });

        $("#coding-icon").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#coding").offset().top - eventOffset
            }, 800, 'easeOutExpo');
        });

        $("#workshop-icon").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#workshop").offset().top - eventOffset
            }, 800, 'easeOutExpo');
        });

        $("#adventure-icon").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#adventure").offset().top - eventOffset
            }, 800, 'easeOutExpo');
        });

        $("#quiz-icon").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#quiz").offset().top - eventOffset
            }, 800, 'easeOutExpo');
        });
    </script>

</body>