<% include ../partials/header2 %>

    <body>
        <section id="saga" style="z-index:999; position: absolute; top: -10vh;margin: auto;width:103vw;height:80vh">
            <ul id="multitarget-references">
                <li id="multitarget-reference-1"></li>
                <li id="multitarget-reference-2"></li>
            </ul>
        </section>

        <section style="margin-top:-15vh ;z-index: 9999;">
            <div>
                <p class="fonts">OCT 13th-15th 2018</p>
                <p class="fonts"><a href="https://techspace.club" style="text-decoration: none;color:white;">TECHFEST USICT
                        | GGSIPU
                    </a>
                </p>
                <p class="fonts">Celebrating the sense of Belonging</p>
            </div>
        </section>
        <div id="footer_line">
            <p class="footer">Infoxpression'18</p>
            <p class="footer"><a href="http://fb.com/infoxpression">fb.com/infoxpression</a></p>
            <p class="footer"><a href="http://techspace.club">TECHSPACE USICT | GGSIPU</a></p>
        </div>

        <script src="js/three.min.js"></script>
        <script src="js/particlesaga.min.js"></script>
        <script src="js/index.js"></script>
    </body>

    </html>