<% include ../partials/header2 %>

<body>

  <div class="toggle-btn">
    <span class="one"></span>
    <span class="two"></span>
  </div>

  <div class="menu">
    <div class="data">
      <ul class="u_l">
        <li class="l_">Info<span style="color:red;">X</span><span class="res_inv">pression</span>'18</li>
        <br><br><br>
        <li class="l_"><a href="/comingsoon">Events</a></li>
        <li class="l_"><a href="/comingsoon">Sponsors</a></li>
        <li class="l_"><a href="/about">About</a></li>
        <li class="l_"><a href="/comingsoon">Schedule</a></li>
        <li class="l_"><a href="/comingsoon">Log-In</a></li>
        <li class="l_"><a href="/contact">Contact</a></li>
      </ul>

    </div>
    <img src="./img/2.png" alt="" srcset="" style="position: absolute; right:-40vw;top:-19vh; z-index: -1; height: 64em;">
  </div>


  <div id="gx" class="pre-loader">
    <svg id="gx-logo" data-name="gx-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1466 900">
      <g class="svgWrapper">
        <defs>
          <filter id="glow">
            <fegaussianblur class="blur" result="coloredBlur" stddeviation="4"></fegaussianblur>
            <femerge>
              <femergenode in="coloredBlur"></femergenode>
              <femergenode in="coloredBlur"></femergenode>
              <femergenode in="coloredBlur"></femergenode>
              <femergenode in="SourceGraphic"></femergenode>
            </femerge>
          </filter>
        </defs>
        <g transform="translate(1.000000, 1.000000)" strF00 stroke-width="3">
          <polygon class="st0" style="fill-opacity: 0; stroke-width: 2; stroke: #F23; filter: url(#glow);" points="482.6,238.3 657.6,390.9 400.5,617.7 608.7,391.9 482.6,308.7 " />
          <polygon class="st0" style="fill-opacity: 0; stroke-width: 2; stroke: #F23; filter: url(#glow);" points="702.6,432 529,584.5 610.7,584.5 702.6,476 959.8,656.8 " />
          <polygon class="st0" style="fill-opacity: 0; stroke-width: 2; stroke: #F23; filter: url(#glow);" points="996,175.8 748.6,391.9 922.6,544.4 922.6,474 794.5,390.9 " />
          <polygon class="st0" style="fill-opacity: 0; stroke-width: 2; stroke: #F23; filter: url(#glow);" points="792.6,197.3 876.6,197.3 702.6,352.8 443.5,123.9 703.6,307.8 " />

    </svg>

  </div>

  <div style="display:block">
    <section id="saga" style="z-index:999; position: absolute; top: -5vh;margin: auto;width:100vw;height:80vh">
      <ul id="multitarget-references">
        <li id="multitarget-reference-1"></li>
        <li id="multitarget-reference-2"></li>
      </ul>
    </section>

    <section class="main" style="margin-top:-15vh ;z-index: 9999;">
      <div>
        <p class="fonts">OCT 12th-14th 2018</p>
        <p class="fonts"><a href="https://techspace.club" style="text-decoration: none;color:#FD7D01;">TECHSPACE USICT
            |
            GGSIPU</a>
        </p>
        <p class="fonts">Celebrating the sense of Belonging</p>
      </div>
    </section>

    <div id="footer_line" class="main">
      <p class="footer">Infoxpression'18</p>
      <p class="footer" style="margin-left: 5%;"><a href="http://fb.com/infoxpression">fb.com/infoxpression</a></p>
      <p class="footer"><a href="http://techspace.club">TECHSPACE USICT | GGSIPU</a></p>
    </div>
  </div>



  <script src="js/three.min.js"></script>
  <script src="js/particlesaga.min.js"></script>
  <script src="js/index.js"></script>
  <script>
    setTimeout(() => {
      update();
      var saga = document.getElementById("saga");
      var scene = new ParticleSaga.Scene(saga, targets, {
        numParticles: 40000,
        sort: ParticleSaga.VertexSort.leftToRight
      });
      scene.load(function () {
        // setupDemoUI();
        scene.setTarget(0);
        scene.startSlideshow();
      });
    }, 3500);


  </script>
  <script type="text/javascript">
    console.log('true');
    var t1 = new TimelineMax({ paused: true });
    t1.to(".one", 0.03, {
      y: 6,
      rotation: 45,
      ease: Expo.easeInOut
    });
    t1.to(".two", 0.05, {
      y: -6,
      rotation: -45,
      ease: Expo.easeInOut,
      delay: -0.3
    });
    t1.to(".menu", 1, {
      top: "0%",
      ease: Expo.easeInOut,
      delay: -1
    });
    t1.staggerFrom(".menu ul li", 0.5, { x: -200, opacity: 0, ease: Expo.easeOut }, 0.03);
    t1.reverse();
    $(document).on("click", ".toggle-btn", function () {
      t1.reversed(!t1.reversed());
    });
    $(document).on("click", "a", function () {
      t1.reversed(!t1.reversed());
    });



  </script>

</body>

</html>