<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->

<body>

    <% include ../partials/svg-and-style %>

<header class="is-large">
    <% include ../partials/navbar %>
</header>


<div class="background join-main-background">
  <div class="container">
    <div class="honeycomb">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_1-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_2-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_3-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_4-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_5-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_6-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_7-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_8-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_9-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_10-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_11-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_12-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_13-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_14-01.jpg">
      <img alt class="hexagon-form" src="../img/join/header_hex_img_15-01.jpg">
      <div class="pink-circle"></div>
      <div class="dark-circle"></div>
    </div>
  </div>
</div>
<div class="background join-blue-honeycomb-background">
  <div class="container"></div>
</div>
<div class="background join-pink-background">
  <div class="container"></div>
</div>
<div class="background join-blue-background">
  <div class="container"></div>
</div>

<section class="join-main-block">
  <div class="container">
    <h1>Work with Protocol Labs</h1>
    <p>We make protocols, systems, and tools that anybody can use.</p>
    <p>Our work is Open Source and our community is inclusive.</p>
    <p>You -- and everyone -- are invited to contribute!</p>
    <a class="btn" href="https://jobs.lever.co/protocol">View current openings</a>
  </div>
</section>
<section class="join-blue-block join-left-text-block">
  <div class="container">
    <h2>Where We’re Headed</h2>
    <p>We believe the internet is our most important technology. How it functions or fails can have drastic impact on people's lives and their capabilities.</p>
    <p>We are passionately focused on creating the world's foremost <b>research, development, and deployment institution for network protocols</b> so that we can upgrade the internet.</p>
    <p>Our first endeavor is to drastically improve the architecture of the internet by changing how people store, address, and transmit data. It's one of many protocols we will develop in order to fundamentally improve computing for humanity.</p>
    <p>To learn more about our vision for the company, read Juan Benet's blog post <a href="../blog/protocol-labs-creating-new-networks/index.html">PROTOCOL LABS: CREATING NEW NETWORKS</a>.</p>
  </div>
</section>
<section class="join-pink-block join-left-text-block">
  <div class="container">
    <h2>People and Locations</h2>
    <p>Just like the internet itself, we are a fully distributed team spread across the globe. We don’t let geography or borders define us -- <i>we want to work with talented and intellectually curious people of diverse backgrounds and different perspectives.</i> If you align passionately with our mission, we want to talk to you, no matter whether you're in Tokyo or Timbuktu.</p>
    <ul class="map-lines">
        <li class="map-pin-Seattle">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Seattle, Washington</div>
        </li>
        <li class="map-pin-San_Francisco">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">San Francisco, CA</div>
        </li>
        <li class="map-pin-Palo_Alto">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Palo Alto, CA</div>
        </li>
        <li class="map-pin-Austin">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Austin, Texas</div>
        </li>
        <li class="map-pin-Philadelphia">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Philadelphia, Pennsylvania</div>
        </li>
        <li class="map-pin-New_York_City">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">New York City, NY</div>
        </li>
        <li class="map-pin-Boston">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Boston, MA</div>
        </li>
        <li class="map-pin-Montreal">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Montreal, Canada</div>
        </li>
        <li class="map-pin-Lisbon">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Lisbon, Portugal</div>
        </li>
        <li class="map-pin-Barcelona">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Barcelona, Spain</div>
        </li>
        <li class="map-pin-Freiburg">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Freiburg, Germany</div>
        </li>
        <li class="map-pin-Krakow">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Krakow, Poland</div>
        </li>
        <li class="map-pin-Berlin">
            <div class="pin"></div>
            <div class="line"><span></span><span></span></div>
            <div class="text">Berlin, Germany</div>
        </li>
    </ul>
  </div>
</section>
<section class="join-text-hexagon-block">
  <div class="container">
    <div class="content">
      <h2>Culture</h2>
      <ul>
        <li><p>We focus on value-creation.</p></li>
        <li><p>We work on high-impact problems.</p></li>
        <li><p>We do things right, and we ship them.</p></li>
        <li><p>We do groundbreaking work in our fields.</p></li>
        <li><p>We believe learning and inventing go hand-in-hand.</p></li>
        <li><p>We align incentives, and work across organizations.</p></li>
        <li><p>We form brilliant and highly capable teams of people.</p></li>
        <li><p>We value ownership and autonomy over large projects.</p></li>
        <li><p>We work with flexible hours from all over the world.</p></li>
        <li><p>We get together in exotic and inspiring locations.</p></li>
      </ul>
    </div>
    <img alt class="hexagon-form" src="../img/join/img_benefits.jpg">
  </div>
</section>
<section class="join-main-block">
  <div class="container">
    <h2>Current Openings</h2>
    <p>Help us build and secure tomorrow's network protocols.</p>
    <a class="btn" href="https://jobs.lever.co/protocol">View current openings</a>
  </div>
</section>

<footer>
  <div class="container">
    <nav>
      <a href="../index.html">About</a>
      <a href="../projects/index.html">Projects</a>
      <a href="../team/index.html">Team</a>
       <a>Join</a>
      
       <a href="../blog/index.html">Blog</a> 
      <a href="../media/index.html">Media</a>
    </nav>
    <ul>
      <li><a class="ico-social ico-twitter" href="https://twitter.com/protocollabs" target="_blank"></a>
      <li><a class="ico-social ico-linked_in" href="https://www.linkedin.com/company-beta/16181958" target="_blank"></a>
    </ul>
    <p>© Protocol Labs, Inc. | Except as <a href="../legal/index.html">noted</a>, content licensed <a class="legal-go" href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC-BY 3.0</a>. | <a class="legal-go" href="../legal/index.html#terms_of_service">Terms of service</a> | <a class="legal-go" href="../legal/index.html#privacy_policy">Privacy policy</a></p>
  </div>
</footer>

<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/join.js"></script>

</body>

</html>
