<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->

<body>

    <% include ../partials/svg-and-style %>

<header class="is-large">
  <% include ../partials/navbar %>
</header>


<div class="background legal-background">
    <div class="container"></div>
</div>

<section class="media-block">
    <h1>Media</h1>
    <div class="container" style="text-align: justify;">
        <div class="content">
            <div style="float:right; margin: -15px 0px 20px;">
                <a id="press-kit" class="btn" style="color: white;" href="../protocol-labs-press-kit.zip" onclick="trackClick('Download-Press-Kit');">Get Press Kit</a>
            </div>
            <h2 style="margin-top: 0px;">About</h2>

            <h3>Company</h3>
            <p>Protocol Labs is a research, development, and deployment institution for improving Internet technology. Protocol Labs leads groundbreaking internet projects, such as IPFS, the decentralized web protocol; Filecoin, a cryptocurrency incentivized storage network; and libp2p, a modular network stack for peer-to-peer apps and systems. Protocol Labs works openly, and is focused on the creation of value at a massive scale.

            <h3>Open Source</h3>
            <p>Protocol Labs works on a growing number of Open Source projects. The major technology stacks we produce are developed entirely Open Source, from initial research, through implementation development, and into wide deployment. The communities we lead are open, welcoming, and inclusive. We invite you to get involved;
            <a href="https://github.com/ipfs">join</a>
            <a href="https://github.com/libp2p">us</a>
            <a href="https://github.com/multiformats">on</a>
            <a href="https://github.com/ipld">GitHub!</a></p>

            <h3>History</h3>
            <p>Protocol Labs was founded on May 2014, by Juan Benet, inventor of IPFS and Filecoin. That summer, we participated in the <a href="https://ycombinator.com/">YCombinator</a> program (S14). Protocol Labs released <a href="https://ipfs.io/">IPFS</a> to the world in January 2015. Since then, IPFS has gained enormous traction in a variety of industries and organizations. By 2016, IPFS grew to be one of the most  used and relied on technologies in the Blockchain industry, and hailed by thousands of developers as "The Future of the Web." That year, Protocol Labs also created
            <a href="https://github.com/libp2p">libp2p</a>,
            <a href="https://github.com/ipld">IPLD</a>,
            <a href="https://github.com/multiformats">multiformats</a>,
            <a href="https://github.com/orbit">Orbit</a>,
            and a number of other projects. Our most anticipated project is
            <a href="https://filecoin.io/">Filecoin</a>, currently in development.
            </p>

            
        </div>

        <ul class="filter">
            <li class="is-selected"><a>all</a></li>
            <li><a>presentations</a></li>
            <li><a>press</a></li>
            <li><a>publications</a></li>
        </ul>
        <ul class="media-content">
          
             <li data-category="press">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/ibt-media.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>16 Oct 2016</span>
    <h2><a href="http://www.ibtimes.co.uk/juan-benet-ipfs-talks-about-filecoin-1586122" target="_blank">Juan Benet of IPFS talks about Filecoin</a></h2>
    <p>"IPFS is ready to add a blockchain-based currency layer called Filecoin to incentivise data storage on the network."</p>
  </div>
</li>

          
             <li data-category="presentations">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/tedx-media.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>6 Oct 2016</span>
    <h2><a href="https://www.youtube.com/watch?v=2RCwZDRwk48&amp;feature=youtu.be" target="_blank">The Next Internet Revolution | Juan Benet | TEDxSanFrancisco</a></h2>
    <p><iframe width='560' height='315' src='https://www.youtube.com/embed/2RCwZDRwk48' frameborder='0' allowfullscreen></iframe></p>
  </div>
</li>

          
             <li data-category="presentations">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/ethereum-media.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>21 Sept 2016</span>
    <h2><a href="https://ethereumfoundation.org/devcon/?session=ipfs-and-ethereum-projects-important-news-demos-and-more" target="_blank">IPFS and Ethereum: Projects, Important News, Demos, and More</a></h2>
    <p>"IPFS — the InterPlanetary File System — is a next-generation web transport protocol to make the Web faster, safer, decentralized, and permanent. It is based on git, bittorrent, and other p2p systems. Content-addressed and signed hyperlinks allow web content and apps to be distributed peer-to-peer, to work without an origin server, to be encrypted end-to-end, to be censorship resistant, to work while offline, and more."</p>
  </div>
</li>

          
             <li data-category="press">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/ibm-media.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>27 Jun 2016</span>
    <h2><a href="http://blog.ibmjstart.net/2016/06/27/interplanetary-file-system-ipfs-jupyter/" target="_blank">InterPlanetary File System (IPFS) on Jupyter</a></h2>
    <p>"An alpha technology, InterPlanetary File System (IPFS) recently piqued my interest – both for its future potential and its power today to help ease my data science pains."</p>
  </div>
</li>

          
             <li data-category="press">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/economist-media.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>16 Jun 2016</span>
    <h2><a href="http://www.economist.com/news/business/21700642-slew-startups-trying-decentralise-online-world-reweaving-web?fsrc=scn/tw_ec/reweaving_the_web" target="_blank">Reweaving the web</a></h2>
    <p>"IFPS eliminates the need for websites to have a central server; instead, files are stored all over the web. "</p>
  </div>
</li>

          
             <li data-category="presentations">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/blueyard-media.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>1 Jun 2016</span>
    <h2><a href="https://medium.com/@BlueYard/berlin-june-1st-the-mission-to-upgrade-the-internet-an-open-conversation-with-edward-snowden-d288fb2c1ec6" target="_blank">A BlueYard conversation in Berlin: Decentralized &amp; Encrypted</a></h2>
    <p>"This dialogue is of course not new — but it has largely been held in the context of policy and regulation. It should also be held in the context of new web protocols and technology stacks — a conversation with the entrepreneurs re-wiring and upgrading the internet for openness, decentralization and data safety."</p>
  </div>
</li>

          
             <li data-category="press">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/wired-media.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>28 Jan 2015</span>
    <h2><a href="https://www.wired.com/2015/01/black-duck-rookies" target="_blank">Wired: These Are the Hottest New Open Source Projects Right Now</a></h2>
    <p>"IPFS—short for “InterPlanetary File System”—is even more ambitious. The project aims to create a censorship-resistant alternative to the web, taking inspiration from peer-to-peer technologies like BitTorrent."</p>
  </div>
</li>

          
             <li data-category="press">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/media_userpics_2.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>23 Mar 2015</span>
    <h2><a href="http://www.businessinsider.in/The-25-most-exciting-Bitcoin-startups/11-Filecoin-Storage-space-via-Bitcoin/slideshow/46662705.cms" target="_blank">Bloomberg: The 25 most exciting Bitcoin startups</a></h2>
    <p>"Filecoin asks its users to contribute storage space, for which they are then rewarded. This storage can then be purchased — turning the entire network into a massive decentralised cloud storage repository for people's ﬁles."</p>
  </div>
</li>

          
             <li data-category="press">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/tc-media.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>4 Oct 2015</span>
    <h2><a href="https://techcrunch.com/2015/10/04/why-the-internet-needs-ipfs-before-its-too-late/" target="_blank">TechCrunch: Why The Internet Needs IPFS Before It’s Too Late</a></h2>
    <p>"IPFS eliminates the need for websites to have a central origin server, making it perhaps our best chance to entirely re-architect the Internet"</p>
  </div>
</li>

          
             <li data-category="press">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/bnc-media.jpg">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>2 Jul 2017</span>
    <h2><a href="https://bravenewcoin.com/news/the-old-cloud-is-dead-welcome-to-the-new-blockchain-cloud/" target="_blank">The Old Cloud is Dead, Welcome to the New Blockchain Cloud</a></h2>
    <p>"The World Wide Web’s original Hypertext Protocol is getting augmented by a new hypermedia protocol called IPFS, which is a peer-to-peer distributed ﬁle system that connects all computing devices with the same system of ﬁles."</p>
  </div>
</li>

          
             <li data-category="publications">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/filecoin-media.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span>15 July 2015</span>
    <h2><a href="https://ipfs.io/ipfs/Qmc1icmYwzTyBzXT5m5x5pRrCvaZv6SnjaARQGrWYstseV" target="_blank">Filecoin: A Cryptocurrency Operated File Storage Network</a></h2>
    <p>"The original Filecoin whitepaper."</p>
  </div>
</li>

          
             <li data-category="publications">
  <figure class="picture">
    <img alt class="hexagon-form" src="../img/media_userpics/ipfs-media.png">
    <figcaption class="hexagon-border-form"></figcaption>
  </figure>
  <div class="media-content-inner">
    <span></span>
    <h2><a href="https://ipfs.io/ipfs/QmR7GSQM93Cx5eAg6a6yRzNde1FQv7uL6X1o4k7zrJa3LX/ipfs.draft3.pdf" target="_blank">IPFS - Content Addressed, Versioned, P2P File System (DRAFT 3)</a></h2>
    <p>"The IPFS whitepaper."</p>
  </div>
</li>

          
        </ul>
    </div>
</section>

<footer>
  <div class="container">
    <nav>
      <a href="../index.html">About</a>
      <a href="../projects/index.html">Projects</a>
      <a href="../team/index.html">Team</a>
       <a href="../join/index.html">Join</a> 
       <a href="../blog/index.html">Blog</a> 
      <a>Media</a>
    </nav>
    <ul>
      <li><a class="ico-social ico-twitter" href="https://twitter.com/protocollabs" target="_blank"></a>
      <li><a class="ico-social ico-linked_in" href="https://www.linkedin.com/company-beta/16181958" target="_blank"></a>
    </ul>
    <p>© Protocol Labs, Inc. | Except as <a href="../legal/index.html">noted</a>, content licensed <a class="legal-go" href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC-BY 3.0</a>. | <a class="legal-go" href="../legal/index.html#terms_of_service">Terms of service</a> | <a class="legal-go" href="../legal/index.html#privacy_policy">Privacy policy</a></p>
  </div>
</footer>

<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/media.js"></script>

</body>

</html>
