<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->

<body>

    <% include ../partials/svg-and-style %>

<div id="test"> <!--class="nav-wrapper"-->
  <header class="is-large">
      <% include ../partials/navbar %> <!-- Common navbar he ismein -->
  </header>
</div>


<div class="background legal-background">
    <div class="container"></div>
</div>
<style>
    @media only screen and (max-width: 800px) {
        .img-sc{
            margin-left: 30px;
            margin-right: 30px;
        }
}

    .img-sc{
        margin-bottom: 100px;
    }

</style>
<section class="media-block">
    <h1>SCHEDULE 2018</h1>

        <img src="img/13oct.jpg" alt="day-1-schedule" class="img-sc">
    
    
        <img src="img/14oct.jpg" alt="day-2-schedule" class="img-sc">
      
      
        <img src="img/15oct.jpg" alt="day-3-schedule" class="img-sc">
     
</section>

<footer>
    <% include ../partials/footer %>
</footer>

<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/media.js"></script>

</body>

</html>
