<% include ../partials/header-links.ejs %>
<!-- <link rel="stylesheet" href="css/slideshow.css"> -->
<% include ../partials/new-nav-bar %>
<% include ../partials/login-modal %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<link rel="stylesheet" href="css/schedule.css">
<link rel="stylesheet" href="css/animatecss.css">

<div class="contact-parent-wrapper" style="align-items: center; margin-top:7vh">
    <div class="title-section">
        <h1 class="overlay-section">Schedule</h1>
        <h1 class="subtitle-section" style="margin-top:5vh">Find your events..</h1>
    </div>
    <div class="" style="position: relative; top: -10vh;">

        <!-- <div class="about-content"> -->
        <!-- data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out" -->
        <!-- <img class="about-img" src="img/iplogo.png" />
            <div class="about-text">
                <div>
                    <h1>This Part of Website is under construction!</h1>
                </div>
            </div> -->
        <div class="day_1 wow bounceInLeft">
            <h1 class="about-content" style="font-weight: 800; font-size:3rem; ">Day 1</h1>

            <!-- </div> -->
            <div class="grid_container_1">
                <div class="item1_1 normal infox_cell">Info<span style="color:red;">X</span></div>
                <div class="item2_1 normal time_cell">10-11</div>
                <div class="item3_1 normal time_cell">11-12</div>
                <div class="item4_1 normal time_cell">12-1</div>
                <div class="item5_1 normal time_cell">1-2</div>
                <div class="item6_1 normal time_cell">2-3</div>
                <div class="item7_1 normal time_cell">3-4</div>
                <div class="item8_1 normal time_cell">4-5</div>
                <div class="item9_1 normal time_cell">5-6</div>
                <div class="item10_1 normal time_cell">Till Next Day</div>
                <div class="place1_1 normal place_cell">E-313</div>
                <div class="place2_1 normal place_cell">E-318</div>
                <div class="place3_1 normal place_cell">D-317</div>
                <div class="place4_1 normal place_cell">E-213</div>
                <div class="place5_1 normal place_cell">E-504</div>
                <div class="place6_1 normal place_cell">E-410</div>
                <div class="place7_1 normal place_cell">E-501</div>
                <div class="place8_1 normal place_cell">D-217</div>
                <div class="place9_1 normal place_cell">E-217</div>
                <div class="place10_1 normal place_cell">D-505</div>
                <div class="place11_1 normal place_cell">E-Audi</div>
                <div class="place12_1 normal place_cell">D-Audi</div>
                <div class="place13_1 normal place_cell">C-Audi</div>
                <div class="place14_1 normal place_cell">E-315</div>
                <div class="place15_1 normal place_cell">E-111</div>
                <div class="place16_1 normal place_cell">E-109</div>
                <!-- <div class="place17_1 normal">Central Area</div> -->
                <div class="empty1_1"></div>
                <div class="empty2_1"></div>
                <div class="empty3_1"></div>
                <div class="empty4_1"></div>
                <div class="empty5_1"></div>
                <div class="empty6_1"></div>
                <div class="empty7_1"></div>
                <div class="empty8_1"></div>
                <div class="empty9_1"></div>
                <div class="empty10_1"></div>
                <div class="empty11_1"></div>
                <div class="empty12_1"></div>
                <div class="empty13_1"></div>
                <div class="empty14_1"></div>
                <div class="empty15_1"></div>
                <div class="bug_1">
                    <p>Bug <br> Debug</p>
                </div>
                <div class="jig_1">
                    <p>Jigsaw</p>
                </div>
                <div class="reveng_1">
                    <p>Rev. Eng.</p>
                </div>
                <div class="uhck_1">
                    <p>UHACK</p>
                </div>
                <div class="giz1_1">Gizmo-Clench</div>
                <div class="lrdline_1">Lord Of the Line</div>
                <div class="pubg_1">Pubg</div>
                <div class="gameve_1">Gaming Event</div>
                <div class="inaug_1">Inaugration</div>
                <!-- <div class="droid_1">Droid Delhi</div> -->
                <div class="potter_1">Potter Quiz</div>
                <div class="meet1_1">Droid Delhi</div>
                <div class="meet2_1">Meetup</div>
                <div class="ucntrl_1">UHACK control room and pitching</div>
                <div class="giz2_1">Gizmo Clench</div>
                <div class="uh_inaug_1">UHACK <br> Inaugration</div>
                <div class="cube_1">Magic Cube</div>
            </div>
        </div>

        <div class="day_2 wow bounceInLeft">

            <h1 class="about-content" style=" font-weight: 800; font-size:3rem; margin-top:5vh">Day 2</h1>

            <div class="grid_container_2">
                <div class="item1_2 normal infox_cell">Info<span style="color:red;">X</span></div>
                <div class="item2_2 normal time_cell">10-11</div>
                <div class="item3_2 normal time_cell">11-12</div>
                <div class="item4_2 normal time_cell">12-1</div>
                <div class="item5_2 normal time_cell">1-2</div>
                <div class="item6_2 normal time_cell">2-3</div>
                <div class="item7_2 normal time_cell">3-4</div>
                <div class="item8_2 normal time_cell">4-5</div>
                <div class="item9_2 normal time_cell">5-6</div>
                <div class="place1_2 normal place_cell">E-313</div>
                <!-- <div class="empty2"></div> -->
                <div class="place2_2 normal place_cell">E-318</div>
                <div class="place3_2 normal place_cell">D-317</div>
                <div class="place4_2 normal place_cell">E-213</div>
                <div class="place5_2 normal place_cell">E-504</div>
                <div class="place6_2 normal place_cell">E-410</div>
                <div class="place7_2 normal place_cell">E-501</div>
                <div class="place8_2 normal place_cell">D-217</div>
                <div class="place9_2 normal place_cell">E-217</div>
                <div class="place10_2 normal place_cell">D-505</div>
                <div class="place11_2 normal place_cell">E-Audi</div>
                <div class="place12_2 normal place_cell">D-Audi</div>
                <div class="place13_2 normal place_cell">C-Audi</div>
                <div class="place14_2 normal place_cell">E-315</div>
                <div class="place15_2 normal place_cell">E-111</div>
                <div class="place16_2 normal place_cell">E-109</div>
                <div class="place17_2 normal place_cell">Central Area</div>

                <div class="empty1_2"></div>
                <div class="empty2_2"></div>
                <div class="empty3_2"></div>
                <div class="empty4_2"></div>
                <div class="empty5_2"></div>
                <div class="empty6_2"></div>
                <div class="empty7_2"></div>
                <div class="empty8_2"></div>
                <div class="empty9_2"></div>
                <div class="empty10_2"></div>
                <div class="empty11_2"></div>
                <div class="empty12_2"></div>
                <div class="empty13_2"></div>
                <div class="empty14_2"></div>
                <div class="empty15_2"></div>
                <!-- <div class="empty16_2"></div>
            <div class="empty17_2"></div> -->
                <div class="code_express">
                    <p>Code <br> Express</p>
                </div>
                <div class="infox_women_2">
                    <p>Infox <br> Women <br> Special</p>
                </div>
                <div class="codester_2">
                    <p>Codester</p>
                </div>
                <div class="uh_2">
                    <p>UHACK</p>
                </div>
                <div class="completeApp_2">
                    <p>Complete The App</p>
                </div>
                <div class="genesis_2">Genesis</div>
                <div class="maze_runner_2">Meshed Up</div>
                <div class="game1_2">Gaming Event</div>
                <div class="game2_2">Gaming Event</div>
                <div class="pubg_2">Pubg</div>
                <div class="josh_2">Josh Talk</div>
                <div class="uhv_2">UHack End</div>
                <div class="meetup_2">Meetup</div>
                <div class="samadhan_2">Samadhan</div>
                <div class="uhpc_2">Uhack Pitching and control Room</div>
                <div class="magicCube_2">Magic Cubing</div>
                <div class="robo_liga_2">Robo Liga</div>
                <div class="treasure_2">Treasure Hunt</div>

            </div>
        </div>

        <div class="day_3 wow bounceInLeft">
            <h1 class="about-content" style="font-weight: 800; font-size:3rem; margin-top:5vh">Day 3</h1>

            <!-- </div> -->
            <div class="grid_container_3">
                <div class="item1_3 normal infox_cell">Info<span style="color:red;">X</span></div>
                <div class="item2_3 normal time_cell">10-11</div>
                <div class="item3_3 normal time_cell">11-12</div>
                <div class="item4_3 normal time_cell">12-1</div>
                <div class="item5_3 normal time_cell">1-2</div>
                <div class="item6_3 normal time_cell">2-3</div>
                <div class="item7_3 normal time_cell">3-4</div>
                <div class="item8_3 normal time_cell">4-5</div>
                <div class="item9_3 normal time_cell">5-6</div>
                <div class="place1_3 normal place_cell">E-313</div>
                <div class="place2_3 normal place_cell">E-318</div>
                <div class="place3_3 normal place_cell">D-317</div>
                <div class="place4_3 normal place_cell">E-213</div>
                <div class="place5_3 normal place_cell">E-504</div>
                <div class="place6_3 normal place_cell">E-410</div>
                <div class="place7_3 normal place_cell">E-501</div>
                <div class="place8_3 normal place_cell">D-217</div>
                <div class="place9_3 normal place_cell">E-217</div>
                <div class="place10_3 normal place_cell">D-505</div>
                <div class="place11_3 normal place_cell">E-Audi</div>
                <div class="place12_3 normal place_cell">D-Audi</div>
                <div class="place13_3 normal place_cell">C-Audi</div>
                <div class="place14_3 normal place_cell">E-315</div>
                <div class="place15_3 normal place_cell">E-111</div>
                <div class="place16_3 normal place_cell">E-109</div>
                <div class="place17_3 normal place_cell">Central Area</div>
                <div class="empty1_3"></div>
                <div class="empty2_3"></div>
                <div class="empty3_3"></div>
                <div class="empty4_3"></div>
                <div class="empty5_3"></div>
                <div class="empty6_3"></div>
                <div class="empty7_3"></div>
                <div class="empty8_3"></div>
                <div class="empty10_3"></div>
                <div class="empty11_3"></div>
                <div class="empty12_3"></div>
                <div class="mindthelang_3">
                    <p>Mind <br> The <br> Language</p>
                </div>
                <div class="codewar_3">
                    <p>CodeWars</p>
                </div>
                <div class="webmstr_3">
                    <p>WebMasters</p>
                </div>
                <div class="gen_3">Genesis</div>
                <div class="pubg_3">Pubg</div>
                <div class="gam_3">Gaming Event</div>
                <div class="coc_3">Clash Of Companies</div>
                <div class="meetup_3">Meetup</div>
                <div class="gsg_3">Get Set Go</div>
                <div class="robwar_3">Robo Wars</div>
                <div class="mcube_3">Magic Cubing</div>
                <div class="hunt_3">Treasure Hunt</div>

            </div>
        </div>

        <!-- <div class="halchal">

        </div> -->

    </div>
</div>


<% include ../partials/footer %>


<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script>
    new WOW().init();
</script>
<!-- <script src="../js/team.js"></script> -->
<!-- <script type="text/javascript">
    if ($(window).width() <= 479) {
        setTimeout(function () {
            $(document).ready(function () {
                $(".anim-circle").animate({ width: "100px" }, 500, 'easeOutExpo', function () {
                    $(".about-heading").fadeOut(100, function () {
                        $(this).html("ABOUT US").fadeIn(function () {
                            // alert('hello');
                        });
                    });
                });
                $(".about-flex").animate({ width: "100px" }, 500, 'easeOutExpo', function () {
                    $(".about-flex").animate({ top: "15px" }, 400, 'easeOutExpo', function () {
                        $(this).animate({ width: "100%" }, 400, 'easeOutExpo', function () {
                            $(this).animate({ height: "100%" }, 800, 'easeOutExpo');
                        })
                    });
                });
            });
        }, 1000);
    } else {
        setTimeout(function () {
            $(document).ready(function () {
                $(".anim-circle").animate({ width: "200px" }, 500, 'easeOutExpo', function () {
                    $(".about-heading").fadeOut(100, function () {
                        $(this).html("ABOUT US").fadeIn(function () {
                            // alert('hello');
                        });
                    });
                });
                $(".about-flex").animate({ width: "200px" }, 500, 'easeOutExpo', function () {
                    $(".about-flex").animate({ top: "30px" }, 400, 'easeOutExpo', function () {
                        $(this).animate({ width: "100%" }, 400, 'easeOutExpo', function () {
                            $(this).animate({ height: "100%" }, 800, 'easeOutExpo');
                        })
                    });
                });
            });
        }, 1000);
    }
</script> -->
<script src="js/slideshow.js"></script>
</body>

</html>
