<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->

<body>

    <% include ../partials/svg-and-style %>

<div id="test"> <!--class="nav-wrapper"-->
  <header class="is-large">
      <% include ../partials/navbar %> <!-- Common navbar he ismein -->
  </header>
</div>

<section class="media-block">
    <h1 class="our-sponsers"
    data-aos="fade-down"  data-aos-duration="700" data-aos-easing="ease-in-out"
    >OUR SPONSORS<h1>
    <div class="sponser-heading"
    data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
    >Hackathon Partners</div>
    <div class="sponser-container">
        <div    data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/logo.png" alt="" class="img-class">
        </div>
        <div    data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/about.png" alt="" class="img-class">
        </div>
        <div    data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/tech.png" alt="" class="img-class">
        </div>
        <div    data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/ultra.png" alt="" class="img-class">
        </div>
        <div    data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/git.png" alt="" class="img-class">
        </div>
        <div    data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/oyo.png" alt="" class="img-class">
        </div>
        <div    data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="https://im4.ezgif.com/tmp/ezgif-4-0f87a3bbda.png" alt="" class="img-class large">
        </div>
        <div    data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/digitalocean.png" alt="" class="img-class">
        </div>
    </div>
    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-heading">CSE PARTNERS</div>
    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-container">
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/cn.svg" alt="" class="img-class">
        </div>
    </div>
    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-heading">GAMING PARTNERS</div>
    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-container">
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/1.jpeg" alt="" class="img-class small">
        </div>
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/3.jpeg" alt="" class="img-class small">
        </div>
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/2.jpeg" alt="" class="img-class">
        </div>
    </div>
    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-heading">ELECTRONIC PARTNERS</div>
    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-container">
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/aptron.png" alt="" class="img-class">
        </div>
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/i3.png" alt="" class="img-class">
        </div>
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/rcpl.png" alt="" class="img-class">
        </div>
    </div>

    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-heading">Media Partners</div>
    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-container">
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/project.jpg" alt="" class="img-class">
        </div>
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/connect.jpg" alt="" class="img-class small">
        </div>
    </div>

    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-heading">Startup Partners</div>
    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-container">
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/xampaperz.png" alt="" class="img-class">
        </div>
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/junk.png" alt="" class="img-class">
        </div>
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/agronatioon.jpeg" alt="" class="img-class">
        </div>
    </div>

    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-heading">Education Partners</div>
    <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
 class="sponser-container">
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/IMS.png" alt="" class="img-class">
        </div>
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/gate.jpg" alt="" class="img-class">
        </div>
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/ace.png" alt="" class="img-class small">
        </div>
        <div     data-aos="zoom-in"  data-aos-duration="500" data-aos-easing="ease-in-out"
>
            <img  src="http://206.189.141.176:3000/images/sponsors/time.png" alt="" class="img-class">
        </div>
    </div>

</section>

<% include ../partials/footer %>

<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/media.js"></script>

</body>

</html>
