<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from protocol.ai/blog/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Aug 2018 19:11:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">

    <link rel="icon" href="fav.png" sizes="16x16">

    <link rel="manifest" href="../manifest.json">

    <link hrefgit "https://fonts.googleapis.com/css?family=Amaranth|Arima+Madurai|Rambla|Salsa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
    <!-- <link rel="stylesheet" href="../css/reset.css"> -->
    <!-- <link href="../css/main.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../css/mobile-menu.css" type="text/css">
    <link rel="stylesheet" href="../css/mywork.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/contact.css">
    <!-- <link rel="stylesheet" href="../css/about.css"> -->
    <link rel="stylesheet" href="../css/scrollbar.css">
    <link rel="stylesheet" href="../css/sponsors.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/simple-ripple.css">
    <link rel="stylesheet" href="../css/template.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="fav.png">
    <!-- <script type="text/javascript" src="../js/simple-ripple.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/mojs/0.265.6/mo.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/mojs-player/0.43.15/mojs-player.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script> -->

    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-96910779-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="../js/jquery.1.8.3.min.js"></script>
    <!--Jquery ka new version he file mein-->
    <script type="text/javascript" src="../js/mobile-menu.js"></script>


    <script async src='../../www.google-analytics.com/analytics.js'></script>
    <title>Infox</title>
</head>
<body>

    <% include ../partials/new-nav-bar %>

    
    <div class="contact-parent-wrapper">
    <div style="width:100%" class="title-section">
        <h1 class="overlay-section">SPONSORS</h1>
        <h1 class="subtitle-section">Our partners in this journey.</h1>
        </div>
        <section class="media-block" style="position:relative;top:-30vh !important;">
            <!-- <h1 class="" data-aos="fade-down" data-aos-duration="700" data-aos-easing="ease-in-out">
            <h1> -->
            <div class="sponser-heading" data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">Hackathon
                Partners</div>
            <div class="sponser-container">
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/logo.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/about.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/tech.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/ultra.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/git.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/oyo.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="https://im4.ezgif.com/tmp/ezgif-4-0f87a3bbda.png" alt="" class="img-class large">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/digitalocean.png" alt="" class="img-class">
                </div>
            </div>
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-heading">CSE
                PARTNERS</div>
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-container">
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/cn.svg" alt="" class="img-class">
                </div>
            </div>
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-heading">GAMING
                PARTNERS</div>
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-container">
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/1.jpeg" alt="" class="img-class small">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/3.jpeg" alt="" class="img-class small">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/2.jpeg" alt="" class="img-class">
                </div>
            </div>
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-heading">ELECTRONIC
                PARTNERS</div>
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-container">
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/aptron.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/i3.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/rcpl.png" alt="" class="img-class">
                </div>
            </div>
    
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-heading">Media
                Partners</div>
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-container">
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/project.jpg" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/connect.jpg" alt="" class="img-class small">
                </div>
            </div>
    
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-heading">Startup
                Partners</div>
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-container">
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/xampaperz.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/junk.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/agronatioon.jpeg" alt="" class="img-class">
                </div>
            </div>
    
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-heading">Education
                Partners</div>
            <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out" class="sponser-container">
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/IMS.png" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/gate.jpg" alt="" class="img-class">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/ace.png" alt="" class="img-class small">
                </div>
                <div data-aos="zoom-in" data-aos-duration="200" data-aos-easing="ease-in-out">
                    <img src="http://206.189.141.176:3000/images/sponsors/time.png" alt="" class="img-class">
                </div>
            </div>
    
        </section>
    </div>
    
<!-- </div> -->


<% include ../partials/footer %>

<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/media.js"></script>

</body>

</html>