<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->

<body>

    <% include ../partials/svg-and-style %>

<div id="test"> <!--class="nav-wrapper"-->
  <header class="is-large">
      <% include ../partials/navbar %> <!-- Common navbar he ismein -->
  </header>
</div>


<div class="background legal-background">
    <div class="container"></div>
</div>

<section class="media-block">
    <h1>SPONSORS</h1>
    <div class="container">
      
    </div>
</section>

<footer>
    <% include ../partials/footer %>
</footer>

<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/media.js"></script>

</body>

</html>
