<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->
<head>
    <link rel="stylesheet" href="css/sponsors.css">
</head>

<body>

    <% include ../partials/svg-and-style %>

<div id="test"> <!--class="nav-wrapper"-->
  <header class="is-large">
      <% include ../partials/navbar %> <!-- Common navbar he ismein -->
  </header>
</div>


<div class="background legal-background">
    <div class="container"></div>
</div>

<section class="media-block">
    <h1>SPONSORS</h1>
    <h1>Hackathon Partners</h1>
    <div class="container-1">
        <div class="box-1">
            <img src="http://206.189.141.176:3000/images/sponsors/logo.png" alt="" class="img-class">
        </div>
        <div class="box-2">
            <img src="http://206.189.141.176:3000/images/sponsors/about.png" alt="" class="img-class">
        </div>
        <div class="box-3">
            <img src="http://206.189.141.176:3000/images/sponsors/tech.png" alt="" class="img-class">
        </div>
        <div class="box-4">
            <img src="http://206.189.141.176:3000/images/sponsors/ultra.png" alt="" class="img-class">
        </div>
        <div class="box-5">
            <img src="http://206.189.141.176:3000/images/sponsors/git.png" alt="" class="img-class">
        </div>
        <div class="box-6">
            <img src="http://206.189.141.176:3000/images/sponsors/digitalocean.png" alt="" class="img-class">
        </div>
    </div>
    <h1>Cse Event Partners</h1>
    <div class="container-2" style="justify-content:center;">
        <div class="box-1">
            <img src="http://206.189.141.176:3000/images/sponsors/cn.svg" alt="" class="img-class">
        </div>
    </div>
    <h1>Gaming Partners</h1>
    <div class="container-2" style="justify-content:center;">
        <div class="box-1">
            <img src="http://206.189.141.176:3000/images/sponsors/1.jpeg" alt="" class="img-class">
        </div>
        <div class="box-2">
            <img src="http://206.189.141.176:3000/images/sponsors/3.jpeg" alt="" class="img-class">
        </div>
        <div class="box-3">
            <img src="http://206.189.141.176:3000/images/sponsors/2.jpeg" alt="" class="img-class">
        </div>
    </div>
    <h1>Electronic Partners</h1>
    <div class="container-2" style="justify-content:center;">
        <div class="box-1">
            <img src="http://206.189.141.176:3000/images/sponsors/aptron.png" alt="" class="img-class">
        </div>
        <div class="box-2">
            <img src="http://206.189.141.176:3000/images/sponsors/i3.png" alt="" class="img-class">
        </div>
        <div class="box-3">
            <img src="http://206.189.141.176:3000/images/sponsors/rcpl.png" alt="" class="img-class">
        </div>
    </div>

    <h1>Media Partners</h1>
    <div class="container-2" style="justify-content:center;">
        <div class="box-1">
            <img src="http://206.189.141.176:3000/images/sponsors/project.jpg" alt="" class="img-class">
        </div>
        <div class="box-2">
            <img src="http://206.189.141.176:3000/images/sponsors/connect.jpg" alt="" class="img-class">
        </div>
    </div>

    <h1>Startup Partners</h1>
    <div class="container-2" style="justify-content:center;">
        <div class="box-1">
            <img src="http://206.189.141.176:3000/images/sponsors/xampaperz.png" alt="" class="img-class">
        </div>
        <div class="box-2">
            <img src="http://206.189.141.176:3000/images/sponsors/junk.png" alt="" class="img-class">
        </div>
        <div class="box-3">
            <img src="http://206.189.141.176:3000/images/sponsors/agronatioon.jpeg" alt="" class="img-class">
        </div>
    </div>

    <h1>Education Partners</h1>
    <div class="container-2" style="justify-content:center;">
        <div class="box-1">
            <img src="http://206.189.141.176:3000/images/sponsors/IMS.png" alt="" class="img-class">
        </div>
        <div class="box-2">
            <img src="http://206.189.141.176:3000/images/sponsors/gate.jpg" alt="" class="img-class">
        </div>
        <div class="box-3">
            <img src="http://206.189.141.176:3000/images/sponsors/ace.png" alt="" class="img-class">
        </div>
        <div class="box-4">
            <img src="http://206.189.141.176:3000/images/sponsors/time.png" alt="" class="img-class">
        </div>
    </div>

    <h1>Thank you</h1>

</section>

<footer>
    <% include ../partials/footer %>
</footer>

<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/media.js"></script>

</body>

</html>
