<% include ../partials/header-links.ejs %>
<link rel="stylesheet" href="css/slideshow.css">
    <% include ../partials/new-nav-bar %>

    <div class="contact-parent-wrapper" style="align-items: center; margin-top:7vh">
        <div class="title-section">
            <h1 class="overlay-section">About Us</h1>
            <h1 class="subtitle-section" style="margin-top:5vh">Our Little Story</h1>
        </div>
        <div class="about-section">
            
            <div class="about-content">
                <!-- data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out" -->
                <img class="about-img" src="img/iplogo.png"/>
                <div class="about-text">
                    <div>
                        <span style="color:red; font-weight: 900" >InfoXpression</span> is the annual technical fest of Guru Gobind Singh Indraprastha University organized by University School of Information and Communication Technology. It is the biggest technical extravaganza held at Guru Gobind Singh Indraprastha University, and involves an active participation of students from over 250 colleges of north India. An exhilarating voyage of technical know-how, InfoXpression focuses on the promotion of technology and innovation. It gives you a chance to stop, culminate new ideas and showcase your technical expertise. The fest is a three day grandeur which is result of a month long affair of prelims and stage levels. It involves a series of competitions, workshops and guest lectures by some eminent personalities. InfoXpression is an amalgamation of creativity and imagination. It will be a perfect blend of entertainment and technology with the aim of transformation and empowerment of the society.
                    </div>
                </div>
            </div>

            <div class="halchal">
                
            </div>

        </div>
    </div>

    <% include ../partials/slideshow %>

    <% include ../partials/footer %>


    <!-- Nav below is for hamburger -->

    <% include ../partials/hamburger %>


    <script src="../js/common.js"></script>
    <script src="../js/team.js"></script>
    <script type="text/javascript">
        if ($(window).width() <= 479) {
            setTimeout(function () {
                $(document).ready(function () {
                    $(".anim-circle").animate({ width: "100px" }, 500, 'easeOutExpo', function () {
                        $(".about-heading").fadeOut(100, function () {
                            $(this).html("ABOUT US").fadeIn(function () {
                                // alert('hello');
                            });
                        });
                    });
                    $(".about-flex").animate({ width: "100px" }, 500, 'easeOutExpo', function () {
                        $(".about-flex").animate({ top: "15px" }, 400, 'easeOutExpo', function () {
                            $(this).animate({ width: "100%" }, 400, 'easeOutExpo', function () {
                                $(this).animate({ height: "100%" }, 800, 'easeOutExpo');
                            })
                        });
                    });
                });
            }, 1000);
        } else {
            setTimeout(function () {
                $(document).ready(function () {
                    $(".anim-circle").animate({ width: "200px" }, 500, 'easeOutExpo', function () {
                        $(".about-heading").fadeOut(100, function () {
                            $(this).html("ABOUT US").fadeIn(function () {
                                // alert('hello');
                            });
                        });
                    });
                    $(".about-flex").animate({ width: "200px" }, 500, 'easeOutExpo', function () {
                        $(".about-flex").animate({ top: "30px" }, 400, 'easeOutExpo', function () {
                            $(this).animate({ width: "100%" }, 400, 'easeOutExpo', function () {
                                $(this).animate({ height: "100%" }, 800, 'easeOutExpo');
                            })
                        });
                    });
                });
            }, 1000);
        }
    </script>
    <script src="js/slideshow.js"></script>
</body>

</html>