<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from protocol.ai/blog/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Aug 2018 19:11:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">

    <link rel="icon" href="fav.png" sizes="16x16">

    <link rel="manifest" href="../manifest.json">

    <link href="https://fonts.googleapis.com/css?family=Amaranth|Arima+Madurai|Rambla|Salsa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
    <!-- <link rel="stylesheet" href="../css/reset.css"> -->
    <!-- <link href="../css/main.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../css/mobile-menu.css" type="text/css">
    <link rel="stylesheet" href="../css/mywork.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/t_contact.css">
    <!-- <link rel="stylesheet" href="../css/about.css"> -->
    <link rel="stylesheet" href="../css/scrollbar.css">
    <!-- <link rel="stylesheet" href="../css/sponsors.css"> -->
    <link rel="stylesheet" href="../css/footer.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="../css/simple-ripple.css"> -->
    <link rel="stylesheet" href="../css/template.css">
    <!-- <link rel="stylesheet" href="../css/events.css"> -->
    <link rel="stylesheet" href="css/slideshow.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="fav.png">
    <script type="text/javascript" src="../js/jquery.1.8.3.min.js"></script>
    <!--Jquery ka new version he file mein-->
    <script type="text/javascript" src="../js/mobile-menu.js"></script>
    <title>Infox</title>
</head>

<body>

    <% include ../partials/new-nav-bar %>

    <div class="contact-parent-wrapper" style="align-items: center; margin-top:7vh">
        <div class="title-section">
            <h1 class="overlay-section">About Us</h1>
            <h1 class="subtitle-section" style="margin-top:5vh">Our Little Story</h1>
        </div>
        <div class="about-section">
            
            <div class="about-content">

            </div>

            <div class="halchal">
                <div class="slabs">
                    <div class="sub-slab odd s1"></div>
                    <div class="sub-slab even s2"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s3"></div>
                    <div class="sub-slab even s4"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s5"></div>
                    <div class="sub-slab even s6"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s7"></div>
                    <div class="sub-slab even s8"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s9"></div>
                    <div class="sub-slab even s10"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s11"></div>
                    <div class="sub-slab even s12"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s13"></div>
                    <div class="sub-slab even s14"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s15"></div>
                    <div class="sub-slab even s16"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s17"></div>
                    <div class="sub-slab even s18"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s19"></div>
                    <div class="sub-slab even s20"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s1"></div>
                    <div class="sub-slab even s2"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s3"></div>
                    <div class="sub-slab even s4"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s5"></div>
                    <div class="sub-slab even s6"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s7"></div>
                    <div class="sub-slab even s8"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s9"></div>
                    <div class="sub-slab even s10"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s11"></div>
                    <div class="sub-slab even s12"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s13"></div>
                    <div class="sub-slab even s14"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s15"></div>
                    <div class="sub-slab even s16"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s17"></div>
                    <div class="sub-slab even s18"></div>
                </div>
                <div class="slabs">
                    <div class="sub-slab odd s19"></div>
                    <div class="sub-slab even s20"></div>
                </div>
            </div>

        </div>
    </div>

    <% include ../partials/slideshow %>

    <% include ../partials/footer %>


    <!-- Nav below is for hamburger -->

    <% include ../partials/hamburger %>


    <script src="../js/common.js"></script>
    <script src="../js/team.js"></script>
    <script type="text/javascript">
        if ($(window).width() <= 479) {
            setTimeout(function () {
                $(document).ready(function () {
                    $(".anim-circle").animate({ width: "100px" }, 500, 'easeOutExpo', function () {
                        $(".about-heading").fadeOut(100, function () {
                            $(this).html("ABOUT US").fadeIn(function () {
                                // alert('hello');
                            });
                        });
                    });
                    $(".about-flex").animate({ width: "100px" }, 500, 'easeOutExpo', function () {
                        $(".about-flex").animate({ top: "15px" }, 400, 'easeOutExpo', function () {
                            $(this).animate({ width: "100%" }, 400, 'easeOutExpo', function () {
                                $(this).animate({ height: "100%" }, 800, 'easeOutExpo');
                            })
                        });
                    });
                });
            }, 1000);
        } else {
            setTimeout(function () {
                $(document).ready(function () {
                    $(".anim-circle").animate({ width: "200px" }, 500, 'easeOutExpo', function () {
                        $(".about-heading").fadeOut(100, function () {
                            $(this).html("ABOUT US").fadeIn(function () {
                                // alert('hello');
                            });
                        });
                    });
                    $(".about-flex").animate({ width: "200px" }, 500, 'easeOutExpo', function () {
                        $(".about-flex").animate({ top: "30px" }, 400, 'easeOutExpo', function () {
                            $(this).animate({ width: "100%" }, 400, 'easeOutExpo', function () {
                                $(this).animate({ height: "100%" }, 800, 'easeOutExpo');
                            })
                        });
                    });
                });
            }, 1000);
        }
    </script>
    <script src="js/slideshow.js"></script>
</body>

</html>