<% include ../partials/header-links.ejs  %>
<%include ../partials/new-nav-bar.ejs%>
<% include ../partials/login-modal %>
<!-- <div class="flip-card" on-click="toggle('flipCard')">{{ flipCard ? 'Reset' : 'Animate' }}</div> -->
<div class="contact-parent-wrapper">
    <div class="title-section">
        <h1 class="overlay-section">Contact Us</h1>
        <h1 class="subtitle-section">Have any query?</h1>
    </div>
    <br><br>
    <!-- <div class="contact-parent-wrapper"> -->
    <div class="contact-flex">

        <div class="contact-wrapper">
            <div class="res-saved-wrapper">
                <div class="res-saved">
                    <div class="res-saved-icon">
                        <img src="img/checked.svg" alt="">
                    </div>
                    <div>Your Response has</div>
                    <div>been saved</div>
                </div>
            </div>
            <div class="contact-sub-wrapper" > <!--style="overflow-y: scroll;"-->
                <form id="contact-form">
                    <p>Dear Infox,</p>
                    <p>My
                        <label for="your-name">name</label> is
                        <input type="text" name="name" id="your-name" minlength="3" placeholder="(your name here)"> and</p>

                    <p>my
                        <label for="email">email address</label> is
                        <input type="email" name="email" id="email" placeholder="(your email address)">
                    </p>

                    <p> I have a
                        <label for="your-message">message</label> for you,</p>

                    <p>
                        <textarea name="text" id="your-message" placeholder="(your msg here)" class="expanding"></textarea>
                    </p>
                    <p>
                        <button id="send-icon" type="button">
                            <!-- <img src="img/send.png" alt=""/> -->
                            <svg version="1.1" class="send-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" width="100px" height="36px" viewBox="0 0 100 36" enable-background="new 0 0 100 36"
                                xml:space="preserve">
                                <path d="M100,0L100,0 M23.8,7.1L100,0L40.9,36l-4.7-7.5L22,34.8l-4-11L0,30.5L16.4,8.7l5.4,15L23,7L23.8,7.1z M16.8,20.4l-1.5-4.3l-5.1,6.7L16.8,20.4z M34.4,25.4l-8.1-13.1L25,29.6L34.4,25.4z M35.2,13.2l8.1,13.1L70,9.9L35.2,13.2z" />
                            </svg>
                            <!-- <small>send</small> -->
                        </button>
                    </p>
                </form>
                <div class="contact-form-sub-section">
                    <div>
                        <i class="fa fa-phone" style="margin-right: 10px;"></i>91-8607287966
                    </div>
                    <div>
                        <i class="fa fa-envelope" style="margin-right: 10px;"></i>infox@ipu.ac.in
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-wrapper-map">
            <div">
                <!--style="margin: -5px 0; width: 100%;-->
                <iframe class="mapsize" src="https://maps.google.com/maps?q=usict&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://www.pureblack.de"></a>
        </div>
    </div>
</div>
<div>
    <% include ../partials/footer %>
</div>
<!-- </div> -->
</div>

<!-- footer commneted for contact page for responsiveness of page -->

<script>
    $(document).ready(function () {
        $("#send-icon").click(function () {
            alert("Your Message/Query has been submitted");
            $.get(("/contact/" + $("#your-name").val() + "/" + $("#email").val() + "/" + $(
                "#your-message").val()), function (data, status) {
                if (data.result) {
                    console.log("sent successfully!")
                } else {
                    console.log("There was some error sending your request! Kindly retry");
                }
            });
            $("form")[0].reset();
        });
    });
</script>

<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>
<script src="js/contact.js"></script>
</body>