<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from protocol.ai/blog/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Aug 2018 19:11:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">

    <link rel="icon" href="fav.png" sizes="16x16">

    <link rel="manifest" href="../manifest.json">

    <link href="https://fonts.googleapis.com/css?family=Amaranth|Arima+Madurai|Rambla|Salsa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
    <!-- <link rel="stylesheet" href="../css/reset.css"> -->
    <link href="../css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/mobile-menu.css" type="text/css">
    <link rel="stylesheet" href="../css/mywork.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/t_contact.css">
    <!-- <link rel="stylesheet" href="../css/about.css"> -->
    <link rel="stylesheet" href="../css/scrollbar.css">
    <link rel="stylesheet" href="../css/sponsors.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/simple-ripple.css">
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/events.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="fav.png">
    <!-- <script type="text/javascript" src="../js/simple-ripple.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/mojs/0.265.6/mo.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/mojs-player/0.43.15/mojs-player.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script> -->

    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-96910779-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="../js/jquery.1.8.3.min.js"></script>
    <!--Jquery ka new version he file mein-->
    <script type="text/javascript" src="../js/mobile-menu.js"></script>


    <script async src='../../www.google-analytics.com/analytics.js'></script>
    <title>Infox</title>
</head>
<body>

    <% include ../partials/svg-and-style %>
    <% include ../partials/new-nav-bar %>

    <div class="background Libp2p-background"></div>
    <div class="background ipld-background"></div>
    <div class="background ipfs-background"></div>
    <div class="background filecoin-background"></div>
    <div class="background multiformats-background"></div>
    
    <div class="lists-hidden">
    <section class="projects-list">
        <div class="container">
            <h2 class="events-category">Categories</h2>
            <div class="items">
                <a class="imghvr-zoom-out" href="#Filecoin" onclick="scrollToElement(this.hash, 800);trackClick('Projects_Filecoin');">
                    <img alt="Robotic" src="../img/projects/logo_robot.svg">
                    <figcaption class="fig-text">
                        Robotics
                    </figcaption>
                </a>
                <a class="imghvr-zoom-out" href="#IPFS" onclick="scrollToElement(this.hash, 800);trackClick('Projects_IPFS');">
                    <img alt="Coder" src="../img/projects/logo_coder.svg">
                    <figcaption class="fig-text">
                        Coding
                    </figcaption>
                </a>
                <a class="imghvr-zoom-out" href="#Libp2p" onclick="scrollToElement(this.hash, 800);trackClick('Projects_libp2p');">
                    <img alt="Workshop" src="../img/projects/logo_workshop.svg">
                    <figcaption class="fig-text">
                        Workshops
                    </figcaption>
                </a>
                <a class="imghvr-zoom-out" href="#IPLD" onclick="scrollToElement(this.hash, 800);trackClick('Projects_IPLD');">
                    <img alt="Treasure" src="../img/projects/logo_treasure.svg">
                    <figcaption class="fig-text">
                        Adventure   
                    </figcaption>
                </a>
                <a class="imghvr-zoom-out" href="#Multiformats" onclick="scrollToElement(this.hash, 800);trackClick('Projects_Multiformats');">
                    <img alt="Ecell" src="../img/projects/logo_ecell.svg">
                    <figcaption class="fig-text">
                        Qiuzes
                    </figcaption>
                </a>
            </div>
        </div>
    </section>
    </div>
    
    <section class="projects-section" id="IPFS" data-bg-selector=".ipfs-background">
        <div class="event-wrapper">
            <div class="heading">CODING</div>
            <div class="events" data-sequence='500'>
                <div class="card">
                    <div class="card__side card__side--front card__side--front-1">
                        <div class="card__picture card__picture-1">
                          &nbsp;
                        </div>
                        <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--1">vad vivad</span>
                        </h4>
                        <div class="card__details">
                          <ul>
                            <li>28th MARCH</li>
                            <li>10:30 AM</li>
                            <li>E BLOCK AUDI</li>
                            <li>2 MEMBERS TEAM</li>
                          </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                      <div class="card__cta">
                        <div class="card__header">
                          <p class="card__heading--min">ecell</p>
                          <p class="card__heading--max">zenith</p>
                        </div>
                      <a href="#" class="btn btn--white">Book Now!</a>
                      </div>
                    </div>
                  </div>

                <!-- <div class="card">
                  <div class="card-wrapper">
                      <div class="card-wrapper card__side card__side--front card__side--front-1">
                          <div class="card__picture card__picture-1">
                            &nbsp;
                          </div>
                          <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">vad vivad</span>
                          </h4>
                          <div class="card__details">
                            <ul>
                              <li>28th MARCH</li>
                              <li>10:30 AM</li>
                              <li>E BLOCK AUDI</li>
                              <li>2 MEMBERS TEAM</li>
                            </ul>
                          </div>
                      </div>
                      <div class="card__side card__side--back card__side--back-1">
                        <div class="card__cta">
                          <div class="card__header">
                            <p class="card__heading--min">ecell</p>
                            <p class="card__heading--max">zenith</p>
                          </div>
                        <a href="#" class="btn btn--white">Book Now!</a>
                        </div>
                      </div>
                  </div>
                    
                  </div> -->
                <div ></div>
                <div ></div>
            </div>
        </div>
    </section>
    <section class="projects-section" id="Filecoin" data-bg-selector=".filecoin-background">
        <div class="event-wrapper">
            <div class="heading">ROBOTICS</div>
            <div class="events" data-sequence='500'>
                <div class="card">
                    <div class="card__side card__side--front card__side--front-1">
                        <div class="card__picture card__picture-1">
                          &nbsp;
                        </div>
                        <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--1">vad vivad</span>
                        </h4>
                        <div class="card__details">
                          <ul>
                            <li>28th MARCH</li>
                            <li>10:30 AM</li>
                            <li>E BLOCK AUDI</li>
                            <li>2 MEMBERS TEAM</li>
                          </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                      <div class="card__cta">
                        <div class="card__header">
                          <p class="card__heading--min">ecell</p>
                          <p class="card__heading--max">zenith</p>
                        </div>
                      <a href="#" class="btn btn--white">Book Now!</a>
                      </div>
                    </div>
                  </div>
                <div ></div>
                <div ></div>
                <div ></div>
                <div ></div>
            </div>
        </div>
    </section>
    <section class="projects-section" id="Libp2p" data-bg-selector=".Libp2p-background">
        <div class="event-wrapper">
            <div class="heading" >WORKSHOPS</div>
            <div class="events" data-sequence='500'>
                <div class="card">
                    <div class="card__side card__side--front card__side--front-1">
                        <div class="card__picture card__picture-1">
                          &nbsp;
                        </div>
                        <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--1">vad vivad</span>
                        </h4>
                        <div class="card__details">
                          <ul>
                            <li>28th MARCH</li>
                            <li>10:30 AM</li>
                            <li>E BLOCK AUDI</li>
                            <li>2 MEMBERS TEAM</li>
                          </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                      <div class="card__cta">
                        <div class="card__header">
                          <p class="card__heading--min">ecell</p>
                          <p class="card__heading--max">zenith</p>
                        </div>
                      <a href="#" class="btn btn--white">Book Now!</a>
                      </div>
                    </div>
                  </div>
                <div ></div>
                <div ></div>
                <div ></div>
                <div ></div>
            </div>
        </div>
    </section>
    <section class="projects-section" id="IPLD" data-bg-selector=".ipld-background">
        <div class="event-wrapper">
            <div class="heading" >ADVENTURE</div>
            <div class="events" data-sequence='500'>
                <div class="card">
                    <div class="card__side card__side--front card__side--front-1">
                        <div class="card__picture card__picture-1">
                          &nbsp;
                        </div>
                        <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--1">vad vivad</span>
                        </h4>
                        <div class="card__details">
                          <ul>
                            <li>28th MARCH</li>
                            <li>10:30 AM</li>
                            <li>E BLOCK AUDI</li>
                            <li>2 MEMBERS TEAM</li>
                          </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                      <div class="card__cta">
                        <div class="card__header">
                          <p class="card__heading--min">ecell</p>
                          <p class="card__heading--max">zenith</p>
                        </div>
                      <a href="#" class="btn btn--white">Book Now!</a>
                      </div>
                    </div>
                  </div>
                <div ></div>
                <div ></div>
                <div ></div>
                <div ></div>
            </div>
        </div>
    </section>
    <section class="projects-section" id="Multiformats" data-bg-selector=".multiformats-background">
        <div class="event-wrapper">
            <div class="heading" >QUIZES</div>
            <div class="events" data-sequence='500'>
                <div class="card">
                    <div class="card__side card__side--front card__side--front-1">
                        <div class="card__picture card__picture-1">
                          &nbsp;
                        </div>
                        <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--1">vad vivad</span>
                        </h4>
                        <div class="card__details">
                          <ul>
                            <li>28th MARCH</li>
                            <li>10:30 AM</li>
                            <li>E BLOCK AUDI</li>
                            <li>2 MEMBERS TEAM</li>
                          </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                      <div class="card__cta">
                        <div class="card__header">
                          <p class="card__heading--min">ecell</p>
                          <p class="card__heading--max">zenith</p>
                        </div>
                      <a href="#" class="btn btn--white">Book Now!</a>
                      </div>
                    </div>
                  </div>
                <div ></div>
                <div ></div>
                <div ></div>
                <div ></div>
            </div>
        </div>
    </section>

<% include ../partials/footer %>

<!-- Nav below is for hamburger -->
        
<% include ../partials/hamburger %>
        
<!-- Scroll to top -->

<% include ../partials/move_to_top %>

<script src="../js/common.js"></script>
<script src="../js/projects.js"></script>

</body>

</html>
