<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from protocol.ai/blog/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Aug 2018 19:11:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">

    <link rel="icon" href="fav.png" sizes="16x16">

    <link rel="manifest" href="../manifest.json">

    <link href="https://fonts.googleapis.com/css?family=Amaranth|Arima+Madurai|Rambla|Salsa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
    <!-- <link rel="stylesheet" href="../css/reset.css"> -->
    <!-- <link href="../css/main.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../css/mobile-menu.css" type="text/css">
    <link rel="stylesheet" href="../css/mywork.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/t_contact.css">
    <!-- <link rel="stylesheet" href="../css/about.css"> -->
    <link rel="stylesheet" href="../css/scrollbar.css">
    <!-- <link rel="stylesheet" href="../css/sponsors.css"> -->
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/simple-ripple.css"> -->
    <link rel="stylesheet" href="../css/template.css">
    <!-- <link rel="stylesheet" href="../css/events.css"> -->
    <!-- favicon -->
    <link rel="icon" type="image/png" href="fav.png">
    <!-- <script type="text/javascript" src="../js/simple-ripple.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/mojs/0.265.6/mo.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/mojs-player/0.43.15/mojs-player.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script> -->

    <script type="text/javascript" src="../js/jquery.1.8.3.min.js"></script>
    <!--Jquery ka new version he file mein-->
    <script type="text/javascript" src="../js/mobile-menu.js"></script>
    <title>Infox</title>
</head>

<body>

<% include ../partials/new-nav-bar %>

<div class="contact-parent-wrapper" style="align-items: center; height: 95vh;">
    <div class="title-section">
        <h1 class="overlay-section">SCHEDULE</h1>
        <h1 class="subtitle-section">Checkout event timings</h1>
    </div>

    <div class="carousel">
        <div class="cl">
            <div class="c-overlay" id="c1">
                <div class="day-no">
                        DAY<span style="color: transparent;">.</span>1
                </div>
            </div>
            <div class="c-schedule" id="c1-img">
                <img src="img/13oct.jpg" alt="day-1-schedule">
            </div>
        </div>
        <div class="cm">
            <div class="c-overlay" id="c2">
                <div class="day-no">
                        DAY<span style="color: transparent;">.</span>2
                </div>
            </div>
            <div class="c-schedule" id="c2-img">
                <img src="img/14oct.jpg" alt="day-1-schedule">
            </div>
        </div>
        <div class="cr">
            <div class="c-overlay" id="c3">
                <div class="day-no">
                        DAY<span style="color: transparent;">.</span>3
                </div>
            </div>
            <div class="c-schedule" id="c3-img">
                <img src="img/15oct.jpg" alt="day-1-schedule">
            </div>
        </div>
    </div>
    
    
    <!-- <img src="img/13oct.jpg" alt="day-1-schedule" class="img-sc">
    
    
    <img src="img/14oct.jpg" alt="day-2-schedule" class="img-sc">
    
    
    <img src="img/15oct.jpg" alt="day-3-schedule" class="img-sc"> -->
</div>

<% include ../partials/footer %>

<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>

<script>
    $('.c-overlay').click(function(){
        $('.day-no').addClass('day-no-2');
    });

    $(window).resize(function(){
        location.reload(true)
    });
    if($( window ).width()>767){
        $('#c1').click(function(){
            $('#c1-img').css({display:'block'});
            $('#c2-img').css({display:'none'});
            $('#c3-img').css({display:'none'});
            $('.cl').animate({width:'80%'});
            $('.cm').animate({width:'10%'});
            $('.cr').animate({width:'10%'});
        });

        $('#c2').click(function(){
            $('#c1-img').css({display:'none'});
            $('#c2-img').css({display:'block'});
            $('#c3-img').css({display:'none'});
            $('.cl').animate({width:'10%'});
            $('.cm').animate({width:'80%'});
            $('.cr').animate({width:'10%'});
        });

        $('#c3').click(function(){
            $('#c1-img').css({display:'none'});
            $('#c2-img').css({display:'none'});
            $('#c3-img').css({display:'block'});
            $('.cl').animate({width:'10%'});
            $('.cm').animate({width:'10%'});
            $('.cr').animate({width:'80%'});
        });
    }
    else{
        $('#c1').click(function(){
            $('#c1-img').css({display:'block'});
            $('#c2-img').css({display:'none'});
            $('#c3-img').css({display:'none'});
            $('.cl').animate({height:'80%'});
            $('.cm').animate({height:'10%'});
            $('.cr').animate({height:'10%'});
        });

        $('#c2').click(function(){
            $('#c1-img').css({display:'none'});
            $('#c2-img').css({display:'block'});
            $('#c3-img').css({display:'none'});
            $('.cl').animate({height:'10%'});
            $('.cm').animate({height:'80%'});
            $('.cr').animate({height:'10%'});
        });

        $('#c3').click(function(){
            $('#c1-img').css({display:'none'});
            $('#c2-img').css({display:'none'});
            $('#c3-img').css({display:'block'});
            $('.cl').animate({height:'10%'});
            $('.cm').animate({height:'10%'});
            $('.cr').animate({height:'80%'});
        });       
    }

</script>

</body>

</html>