<% include ../partials/header-links.ejs %>
    <% include ../partials/new-nav-bar %>
    <% include ../partials/login-modal %>

    
    <div class="contact-parent-wrapper">
        <div style="width:100%" class="title-section">
            <h1 class="overlay-section">SPONSORS</h1>
            <h1 class="subtitle-section">Our supporting partners</h1>
        </div>
        <section class="media-block">
            <div class="our-sponsors">
                <div class="sponsor-heading" data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">Hackathon
                    Partners</div>
                <div class="sponsor-container">
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/logo.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/about.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/tech.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/ultra.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/git.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/oyo.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="https://im4.ezgif.com/tmp/ezgif-4-0f87a3bbda.png" alt="" class="img-class large">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/digitalocean.png" alt="" class="img-class">
                    </div>
                </div>        
            </div>
            <div class="our-sponsors">
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-heading">CSE
                    PARTNERS</div>
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-container">
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/cn.svg" alt="" class="img-class">
                    </div>
                </div>
            </div>
            <div class="our-sponsors">
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-heading">GAMING
                    PARTNERS</div>
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-container">
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/1.jpeg" alt="" class="img-class small">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/3.jpeg" alt="" class="img-class small">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/2.jpeg" alt="" class="img-class">
                    </div>
                </div>
            </div>
            <div class="our-sponsors">
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-heading">ELECTRONIC
                    PARTNERS</div>
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-container">
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/aptron.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/i3.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/rcpl.png" alt="" class="img-class">
                    </div>
                </div>
            </div>
            <div class="our-sponsors">
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-heading">Media
                    Partners</div>
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-container">
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/project.jpg" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/connect.jpg" alt="" class="img-class small">
                    </div>
                </div>
            </div>
            <div class="our-sponsors">
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-heading">Startup
                    Partners</div>
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-container">
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/xampaperz.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/junk.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/agronatioon.jpeg" alt="" class="img-class">
                    </div>
                </div>
            </div>
            <div class="our-sponsors">
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-heading">Education
                    Partners</div>
                <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out" class="sponsor-container">
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/IMS.png" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/gate.jpg" alt="" class="img-class">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/ace.png" alt="" class="img-class small">
                    </div>
                    <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
                        <img src="http://206.189.141.176:3000/images/sponsors/time.png" alt="" class="img-class">
                    </div>
                </div>
            </div>
        </section>
    </div>
<!-- </div> -->


    <% include ../partials/footer %>

    <!-- Nav below is for hamburger -->

    <% include ../partials/hamburger %>


    <!-- <script src="../js/common.js"></script>
    <script src="../js/media.js"></script> -->

</body>

</html>