<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->
<link rel="stylesheet" href="css/about.css">
<link rel="stylesheet" href="css/team.css">
<body>

<% include ../partials/svg-and-style %>
<div id="test"> <!--class="nav-wrapper"-->
    <header class="is-large">
        <% include ../partials/navbar %> <!-- Common navbar he ismein -->
    </header>
</div>
<!-- <section class="team-main-block" id="team-link">
    <div class="container">
        <h1>Team</h1>
    </div>
</section> -->
<section style="margin-top: 30px;" class="contributors">
    <div class="container">
        <!-- <div class="line"><span></span></div>
        <div class="line"><span></span></div> -->
        <h2 id="contributors" class="bordered-header">Team</h2>
    </div>
    
    <!-- <iframe src="https://ipfs.io/ipfs/QmWc6dvfQCrsewrAnEDo21nprTnfq8dL7YHLX36VRVAAMn/projects/protocol.ai/"></iframe> -->

    <!-- <div class=""> -->
    
    <div class="flex-container">
    <div class="snip1543 i1 key flex-item">
    <img src="background3.jpg" alt="sample108" class="sizer" />
    <figcaption>
        <h3>Team Member</h3>
        <p>
            position
        </p>
        <p>
          <i class="fab fa-linkedin-in fa-lg" style="margin-right: 10px;"></i>
          <i class="fab fa-facebook-f fa-lg" style="margin-right: 10px;"></i>
          <i class="fab fa-github fa-lg"></i>
        </p>
    </figcaption>
    </div>
    <div class="snip1543 i1 key flex-item">
    <img src="background3.jpg" alt="sample108" class="sizer"/>
    <figcaption>
            <h3>Team Member</h3>
            <p>
                position
            </p>
            <p>
                <i class="fab fa-linkedin-in fa-lg" style="margin-right: 10px;"></i>
                <i class="fab fa-facebook-f fa-lg" style="margin-right: 10px;"></i>
                <i class="fab fa-github fa-lg"></i>
            </p>
        </figcaption>
    </div>
    <div class="snip1543 i1 key flex-item">
            <img src="background3.jpg" alt="sample108" class="sizer" />
            <figcaption>
                <h3>Team Member</h3>
                <p>
                    position
                </p>
                <p>
                  <i class="fab fa-linkedin-in fa-lg" style="margin-right: 10px;"></i>
                  <i class="fab fa-facebook-f fa-lg" style="margin-right: 10px;"></i>
                  <i class="fab fa-github fa-lg"></i>
                </p>
            </figcaption>
            </div>
    </div>
    
    <div class="flex-container">
            <div class="snip1543 i1 key flex-item">
            <img src="background3.jpg" alt="sample108" class="sizer" />
            <figcaption>
                <h3>Team Member</h3>
                <p>
                    position
                </p>
                <p>
                  <i class="fab fa-linkedin-in fa-lg" style="margin-right: 10px;"></i>
                  <i class="fab fa-facebook-f fa-lg" style="margin-right: 10px;"></i>
                  <i class="fab fa-github fa-lg"></i>
                </p>
            </figcaption>
            </div>
            <div class="snip1543 i1 key flex-item">
            <img src="background3.jpg" alt="sample108" class="sizer"/>
            <figcaption>
                    <h3>Team Member</h3>
                    <p>
                        position
                    </p>
                    <p>
                        <i class="fab fa-linkedin-in fa-lg" style="margin-right: 10px;"></i>
                        <i class="fab fa-facebook-f fa-lg" style="margin-right: 10px;"></i>
                        <i class="fab fa-github fa-lg"></i>
                    </p>
                </figcaption>
            </div>
            <div class="snip1543 i1 key flex-item">
                    <img src="background3.jpg" alt="sample108" class="sizer" />
                    <figcaption>
                        <h3>Team Member</h3>
                        <p>
                            position
                        </p>
                        <p>
                          <i class="fab fa-linkedin-in fa-lg" style="margin-right: 10px;"></i>
                          <i class="fab fa-facebook-f fa-lg" style="margin-right: 10px;"></i>
                          <i class="fab fa-github fa-lg"></i>
                        </p>
                    </figcaption>
                    </div>
            </div>
        
    <!-- </div> -->


</section>
<!-- <section class="headshots-block">
   <div class="container">
       <div class="line"><span></span></div>
       <div class="line"><span></span></div>
       <h2 id="core" class="bordered-header">Core</h2>
       <div class="headshots"></div>
   </div>
</section> -->

<% include ../partials/footer %>


<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/team.js"></script>
</body>

</html>
