<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->
<link rel="stylesheet" href="css/about.css">

<body>

<% include ../partials/svg-and-style %>
<div id="test"> <!--class="nav-wrapper"-->
    <header class="is-large">
        <% include ../partials/navbar %> <!-- Common navbar he ismein -->
    </header>
</div>
<!-- <div class="background team-pink-background">
    <div class="container"></div>
</div> -->
<!-- <section class="join-main-block">
    <div class="container">
        <div class="anim-circle"><div class="about-heading"></div></div>
        <div class="about-flex">
            <img src="img/iplogo.png"
            data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150" data-aos-easing="ease-in-out"
            alt="ipu logo" href="http://ipu.ac.in/" style="height: 250px ; width: 250px;">
            <div style="display: flex"
            data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150" data-aos-easing="ease-in-out">
                InfoXpression is the annual technical fest of Guru Gobind Singh Indraprastha University organized by
                University School of Information and Communication Technology. It is the biggest technical
                extravaganza held at Guru Gobind Singh Indraprastha University, and involves an active participation of
                students from over 250 colleges of north India. An exhilarating voyage of technical know-how,
                InfoXpression focuses on the promotion of technology and innovation. It gives you a chance to stop,
                culminate new ideas and showcase your technical expertise. The fest is a three day grandeur which is
                result of a month long affair of prelims and stage levels. It involves a series of competitions, workshops
                and guest lectures by some eminent personalities. InfoXpression is an amalgamation of creativity and
                imagination. It will be a perfect blend of entertainment and technology with the aim of transformation
                and empowerment of the society.
            </div>
            <a class="btn" href="#team-link" onclick="scrollToElement(this.hash, 800);">See our Team</a>
        </div>
    </div>
</section> -->
<section class="team-main-block" id="team-link">
    <div class="container">
        <h1>Team</h1>
    </div>
</section>
<section class="contributors">
    <div class="container">
        <div class="line"><span></span></div>
        <div class="line"><span></span></div>
        <h2 id="contributors" class="bordered-header">Contributors</h2>
    </div>
    <iframe src="https://ipfs.io/ipfs/QmWc6dvfQCrsewrAnEDo21nprTnfq8dL7YHLX36VRVAAMn/projects/protocol.ai/"></iframe>
</section>
<!-- <section class="headshots-block">
   <div class="container">
       <div class="line"><span></span></div>
       <div class="line"><span></span></div>
       <h2 id="core" class="bordered-header">Core</h2>
       <div class="headshots"></div>
   </div>
</section> -->

<% include ../partials/footer %>


<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/team.js"></script>
</body>

</html>
