<% include ../partials/header-links.ejs %>
<link rel="stylesheet" href="css/team.css">


<% include ../partials/new-nav-bar %>
<% include ../partials/login-modal %>
<div class="title-section" style="margin-top: 30px;">
    <h1 class="overlay-section">Team</h1>
    <h1 class="subtitle-section">Meet the rangers</h1>
</div>

<div class="flex-container">
    <div class="snip1543 i1 key flex-item">
        <img src="/img/shubham.jpg" alt="sample108" class="sizer" />
        <figcaption>
            <h3>Shubham Gupta</h3>
            <p>
                Project Head | Full Stack Developer
            </p>
            <p class="p-margin-t-10">
                <a target="_blank" href="https://www.linkedin.com/in/shubhamg931/"><i class="fab fa-linkedin-in fa-lg"
                        style="margin-right: 10px;"></i></a>
                <a target="_blank" href="https://www.facebook.com/shubhamg931"><i class="fab fa-facebook-f fa-lg" style="margin-right: 10px;"></i></a>
                <a target="_blank" href="https://github.com/shubhamg931"><i class="fab fa-github fa-lg"></i></a>
            </p>
        </figcaption>
    </div>
    <div class="snip1543 i1 key flex-item">
        <img src="img/jatin.jpeg" alt="sample108" class="sizer" />
        <figcaption>
            <h3>Jatin Kumar</h3>
            <p>
                Lead Front End Developer
            </p>
            <p class="p-margin-t-10">
                <a target="_blank" href="https://www.linkedin.com/in/jatin-kumar-807a34150/"><i class="fab fa-linkedin-in fa-lg"
                        style="margin-right: 10px;"></i></a>
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100021133752064"><i class="fab fa-facebook-f fa-lg"
                        style="margin-right: 10px;"></i></a>
                <a target="_blank" href="https://github.com/AwesomeChap"><i class="fab fa-github fa-lg"></i></a>
            </p>
        </figcaption>
    </div>
    <div class="snip1543 i1 key flex-item">
        <img src="img/ashish.jpg" alt="sample108" class="sizer" />
        <figcaption>
            <h3>Ashish Aggarwal</h3>
            <p>
                Lead Front End Developer
            </p>
            <p class="p-margin-t-10">
                <a target="_blank" href="https://www.linkedin.com/in/ashish-aggarwal-144a94155/"><i class="fab fa-linkedin-in fa-lg"
                        style="margin-right: 10px;"></i></a>
                <a target="_blank" href="https://www.facebook.com/ashishking00"><i class="fab fa-facebook-f fa-lg"
                        style="margin-right: 10px;"></i></a>
                <a target="_blank" href="https://github.com/ashish0910"><i class="fab fa-github fa-lg"></i></a>
            </p>
        </figcaption>
    </div>
    <!-- </div> -->

    <!-- <div class="flex-container"> -->
    <div class="snip1543 i1 key flex-item">
        <img src="/img/divyansh.jpeg" alt="sample108" class="sizer" />
        <figcaption>
            <h3>Divyansh Tripathi</h3>
            <p>
                Lead Designer
            </p>
            <p class="p-margin-t-10">
                <a href="https://www.linkedin.com/in/silentlad"><i class="fab fa-linkedin-in fa-lg" style="margin-right: 10px;"></i></a>
                <a href="https://www.facebook.com/divyansh.tripathi.9421"><i class="fab fa-facebook-f fa-lg" style="margin-right: 10px;"></i></a>
                <a href="https://github.com/silent-lad/"><i class="fab fa-github fa-lg"></i></a>
            </p>
        </figcaption>
    </div>
    <!--<div class="snip1543 i1 key flex-item">-->
    <!--<img src="img/2.png" alt="sample108" class="sizer" />-->
    <!--<figcaption>-->
    <!--<h3>Team Member</h3>-->
    <!--<p>-->
    <!--position-->
    <!--</p>-->
    <!--<p class="p-margin-t-10">-->
    <!--<i class="fab fa-linkedin-in fa-lg" style="margin-right: 10px;"></i>-->
    <!--<i class="fab fa-facebook-f fa-lg" style="margin-right: 10px;"></i>-->
    <!--<i class="fab fa-github fa-lg"></i>-->
    <!--</p>-->
    <!--</figcaption>-->
    <!--</div>-->
    <!--<div class="snip1543 i1 key flex-item">-->
    <!--<img src="img/2.png" alt="sample108" class="sizer" />-->
    <!--<figcaption>-->
    <!--<h3>Team Member</h3>-->
    <!--<p>-->
    <!--position-->
    <!--</p>-->
    <!--<p class="p-margin-t-10">-->
    <!--<i class="fab fa-linkedin-in fa-lg" style="margin-right: 10px;"></i>-->
    <!--<i class="fab fa-facebook-f fa-lg" style="margin-right: 10px;"></i>-->
    <!--<i class="fab fa-github fa-lg"></i>-->
    <!--</p>-->
    <!--</figcaption>-->
    <!--</div>-->
</div>


<% include ../partials/footer %>


<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/team.js"></script>
</body>

</html>