<% include ../partials/header-links2 %> <!--Contains all header meta tags and links-->

<body>

    <% include ../partials/svg-and-style %>

<header class="is-large">
    <% include ../partials/navbar %>
</header>


<div class="background team-pink-background">
    <div class="container"></div>
</div>

<section class="team-main-block">
    <div class="container">
        <h1>Team</h1>
    </div>
</section>
<section class="contributors">
    <div class="container">
        <div class="line"><span></span></div>
        <div class="line"><span></span></div>
        <h2 id="contributors" class="bordered-header">Contributors</h2>
    </div>
    <iframe src="https://ipfs.io/ipfs/QmWc6dvfQCrsewrAnEDo21nprTnfq8dL7YHLX36VRVAAMn/projects/protocol.ai/"></iframe>
</section>
<section class="headshots-block">
    <div class="container">
        <div class="line"><span></span></div>
        <div class="line"><span></span></div>
        <h2 id="core" class="bordered-header">Core</h2>
        <div class="headshots"></div>
    </div>
</section>
<section class="investors-block">
    <div class="container">
        <div class="line"><span></span></div>
        <div class="line"><span></span></div>
        <h2 id="investors" class="bordered-header">Investors</h2>
        <div class="investors"></div>
    </div>
</section>

<footer>
  <div class="container">
    <nav>
      <a href="../index.html">About</a>
      <a href="../projects/index.html">Projects</a>
      <a>Team</a>
       <a href="../join/index.html">Join</a> 
       <a href="../blog/index.html">Blog</a> 
      <a href="../media/index.html">Media</a>
    </nav>
    <ul>
      <li><a class="ico-social ico-twitter" href="https://twitter.com/protocollabs" target="_blank"></a>
      <li><a class="ico-social ico-linked_in" href="https://www.linkedin.com/company-beta/16181958" target="_blank"></a>
    </ul>
    <p>© Protocol Labs, Inc. | Except as <a href="../legal/index.html">noted</a>, content licensed <a class="legal-go" href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC-BY 3.0</a>. | <a class="legal-go" href="../legal/index.html#terms_of_service">Terms of service</a> | <a class="legal-go" href="../legal/index.html#privacy_policy">Privacy policy</a></p>
  </div>
</footer>


<!-- Nav below is for hamburger -->

<% include ../partials/hamburger %>


<script src="../js/common.js"></script>
<script src="../js/team.js"></script>

</body>

</html>
